## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Create tables

In [16]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [11]:
data_tables = ["nota_fiscal", "produto_servico", "situacao_nf", "produto", "empresa"]
df = {}
data_length = 300
for x in data_tables:
    data = {"id": [x for x in range(data_length)]}
    df["data_{0}".format(x)] = pd.DataFrame(data)
print(df)

{'data_nota_fiscal':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'data_produto_servico':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'data_situacao_nf':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'data_produto':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'data_empresa':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Dummy data for situacao_nf

In [26]:
co_chave = []
for _ in range(data_length):
    co_chave.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=61)))
df["data_situacao_nf"]["CO_CHAVE_ACESSO"] = co_chave
print(df["data_situacao_nf"]["CO_CHAVE_ACESSO"].head())

0    UP2OEAY8DMC1P595LRLFDSKXOHA2CBZSFOGY87NXUVTS8D...
1    EJRERWG0VLQK9D29CVGWF9MKA74WP4GD2SAV5XXNCTNR9U...
2    2JIA1WQXJP66FLYJZYWVW5TTZJF10CNDC2W00RKTVQ3P1Y...
3    2TLH693XL2A5P982I587GE6W9FJ6BNEAIB1ONAVRI885SM...
4    O1NUFRCWY0SHEMY8T22R5NJJCW8NMN6SW6YJSZV02Q1WMV...
Name: CO_CHAVE_ACESSO, dtype: object

In [25]:
dt_status = []
for _ in range(data_length):
    date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(1990,2020)), '%j %Y')
    dt_status.append(date)
df["data_situacao_nf"]["DT_STATUS"] = dt_status
print(df["data_situacao_nf"]["DT_STATUS"].head())

0   2002-07-04
1   2007-03-13
2   2015-12-01
3   1994-12-22
4   2017-06-30
Name: DT_STATUS, dtype: datetime64[ns]