## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Create tables

In [3]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [4]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
data_length = 300
for x in data_tables:
    data = {"id": [x for x in range(data_length)]}
    df["DATA_{0}".format(x)] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO_SERVICO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Auxiliary functions

In [5]:
# Returns a list of randomized varchars with the specified data_lenth. 
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_varchar_column(data_length, column_length = 0, max_random_length = 10):
    varchar_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = column_length)))
    else: # random size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = random.randint(1,max_random_length))))
    return varchar_list

# Returns a list of randomized INTEGER numbers with the specified data_lenth.
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_number_column(data_length, column_length = 0, max_random_length = 10):
    number_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = column_length))))
    else: # random size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = random.randint(1,max_random_length)))))
    return number_list

# Returns a list of randomized FLOAT numbers with the specified data_lenth.
# The column length and the precision must be specified
def generate_float_number_column(data_length, column_length, precision):
    float_number_list = []
    for _ in range(data_length):
        number = ''.join(random.choices(string.digits, k = column_length - precision)) + '.' + ''.join(random.choices(string.digits, k = precision))
        float_number_list.append(float(number))
    return float_number_list

# Returns a list of single randomized numbers within a certain range with the specified data_lenth.
# The min value of the range is passed in min_range and the max at max_range
def generate_number_in_range_column(data_length, min_range = 1, max_range = 9):
    number_in_range_list = []
    for _ in range(data_length):
        number_in_range_list.append(random.randint(min_range,max_range))
    return number_in_range_list

# Returns a list of randomized dates within a certain year range with the specified data_lenth.
# The min value of the year range is passed in min_range and the max at max_range
def generate_date_column(data_length, min_range = 1990, max_range = 2020):
    date_list = []
    for _ in range(data_length):
        date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(min_range,max_range)), '%j %Y')
        date_list.append(date)
    return date_list

### Dummy data for SITUACAO_NF

In [6]:
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = generate_varchar_column(data_length,61)
df["DATA_SITUACAO_NF"]["DT_STATUS"] = generate_date_column(data_length)
df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"] = generate_varchar_column(data_length)
df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"] = generate_number_in_range_column(data_length,max_range=3)
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"] = generate_varchar_column(data_length,61)
print(df["DATA_SITUACAO_NF"])

      id                                    CO_CHAVE_ACESSO  DT_STATUS  \
0      0  0W7O60HVS2X5J102DW1E5N47L2VKWA8HMHW6JT4VKZP77R... 1994-11-06
1      1  5KAQWJ06WM28XBYZNKCOK5HVXGJ0YKJ0YGFPL0R4PDDNBB... 2000-09-08
2      2  6DRIFK3TD4YDAIZU5KFPQ4KAWZIRF5ZJ2E6CNPFU12AOZX... 1995-03-23
3      3  SI9T7MQRARF7OW34XLVBQBAEH1A15S0FD4Z5NM5LMGQW2D... 2004-05-03
4      4  H08JQ69TOVUXBLEC48J6MMQ4UVC89GVUXACH8FDWIE5V66... 2017-03-15
..   ...                                                ...        ...
295  295  PQO4DI00Q08F53W1IP8NOCHGZUCNJ9BIAPUYHL14LSEZXW... 2000-01-02
296  296  3H80G90PLQXGYD96GFVFHY5X9P45YIBMJHZJHO4QJ7J9DD... 1992-05-25
297  297  EA6CGK1QQRZLBXIONYSBI0W80IMVEPDFNHK4GQSUJE8XCR... 1997-12-19
298  298  2LLIA8WQP855ZSHV38HNFJOM8THIGSKZDCONCBZ4HD6OER... 2004-11-11
299  299  MMTDRFTU72CKDI2RFVE79W4DNDTL9GXRZQRE0OVKXEFTA5... 1998-02-27

    SITUACAO_NF_CO_SITUACAO  TP_ORIGEM_ATUALIZACAO  \
0                    FFGIOB                      2
1                9F8IP35CQN                      1
2                P1B486QW17                      3
3                     NA9W3                      1
4                 WW42P8F87                      1
..                      ...                    ...
295                  H9K4GG                      1
296              KPX5QABFSM                      2
297                     AXT                      2
298               YR21X1TG6                      2
299              2OVS5JV1L4                      2

                          CO_CHAVE_ACESSO_CANCELAMENTO
0    DZ1EWZ4O7Q5NCBD8QNKDJKHIS80RIKFH24WPVUVKCFZ3LV...
1    NEMZJ6SY2F6I0GY95ZT7GBCWPENOAJB2VIZUHAR6NZ2B56...
2    Q9TXB769TP159Y7V2B8FF2TC8TZBS323MGLEGRTX4PIQ1Y...
3    35P7JO57MLJ0681CHNM1Z6B1OKRTQH69EX1IKXSQMCMBZ5...
4    UZR0TTFRBUAWTOGFTE4J7HGJH4Q28YVNVAUSZF07U787DX...
..                                                 ...
295  93NVNYYMCMPAM4SOU0IU4Q93GU411OTO38LGP9GU68T1EA...
296  NOSUZAERWQBQY3ZJ4QWUCK3NO5IKOV5PBPCDBFYCTAGXMX...
297  PN1Y1LR3DE1X7DM20O395YLCLR04YT5GBN0PYTIJLF27QZ...
298  Y86AYI0W2CZ95FLS5FFFBHGDZW5RDZ8QXVXQ7SVMJNMRUG...
299  HVR8K8VEP9N76INCVP90L39K8DDGQPU3EP1RBMYTZI96CP...

[300 rows x 6 columns]

### Dummy data for IS_VW_ESTAB_EMPRESA

In [7]:
# GENERATE RANDOM NUMBER VARIABLE TO IS_VW_ESTAB_EMPRESA

df["DATA_IS_VW_ESTAB_EMPRESA"]["IN_EXIGE_NIRE"] = generate_number_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["VL_CAPITAL_SOCIAL"] = generate_float_number_column(data_length, 15, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_APLICACAO_REGIME_APURACAO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_PORTE_EMPRESA"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_ORGAO_REGISTRO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO"] = generate_number_column(data_length, 20)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_PORTE_EMPRESA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 5)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_CONDICAO_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ORGAO_REGISTRO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_SITUACAO_CADASTRAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_UNIDADE_EMPRESARIAL"] = generate_number_column(data_length, 9)


# GENERATE RANDOM DATE VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_EXTINCAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_CONDICAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_NATUREZA_JURIDICA"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_REGIME_APURACAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_ORGAO_REGISTRO"] = generate_date_column(data_length)


# GENERATE RANDOM VARCHAR VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO"] = generate_varchar_column(data_length,14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_SITUACAO_CADASTRAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_REGIME_APURACAO"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CPF"] = generate_varchar_column(data_length, 11)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_UF_MATRIZ"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["TP_PESSOA"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_NATUREZA_JURIDICA"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TITULO_ESTABELECIMENTO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_ORGAO_REGISTRO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_UNIDADE_EMPRESARIAL"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_MATRICULA_LEILOEIRO"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_ANO_INSTRUMENTO_LEGAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_OBSERVACAO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TIPO_UNID_ESTABELECIMENTO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_RAIZ_CNPJ"] = generate_varchar_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_PORTE_EMPRESA"] = generate_varchar_column(data_length, 80)



#PRINT DATA_IS_VW_ESTAB_EMPRESA

print(df["DATA_IS_VW_ESTAB_EMPRESA"])

      id  IN_EXIGE_NIRE  VL_CAPITAL_SOCIAL  CO_APLICACAO_REGIME_APURACAO  \
0      0           5198       5.581014e+12                            15
1      1       98424687       1.911360e+12                            12
2      2         119249       4.831263e+12                            88
3      3        5761303       2.900081e+12                            44
4      4              2       7.474210e+12                            72
..   ...            ...                ...                           ...
295  295        8404418       1.596738e+12                            91
296  296             80       2.386021e+12                             7
297  297          85498       7.384583e+12                             2
298  298     4040518234       9.148510e+12                            79
299  299       14419622       4.194662e+12                            22

     SQ_PORTE_EMPRESA  SQ_TIPO_ORGAO_REGISTRO           NU_REGISTRO  \
0                  14                      50  72439202414165044429
1                  54                      87  62650976839961458870
2                  39                      15  64044062925773084083
3                  37                      32  22458101979368490016
4                  60                      32  38793573455366441920
..                ...                     ...                   ...
295                57                      75  52692139830064395230
296                23                      59  56385466040933694387
297                72                      34  15303986253432434737
298                 2                      97  80267012360113647577
299                97                      63  10191437939133816570

     CO_REGIME_APURACAO  CO_TIPO_UNID_ESTABELECIMENTO  SQ_REGIME_APURACAO  \
0                   706                           907                 697
1                   276                           407                 317
2                   727                           848                 151
3                   789                           502                 576
4                   637                           531                 633
..                  ...                           ...                 ...
295                 732                           890                 518
296                 646                           425                 774
297                  29                           318                 283
298                 411                           783                 367
299                 967                           233                 276

     ...                                  NO_ORGAO_REGISTRO  \
0    ...  GV56J5HVAKP0YDURU7R71CVFDV7A9VG0QQAKKY0ZNGIKM9...
1    ...  ULIXOIGEDPPWGOYRFPTJEIQOVMXV9X7F1VTRXQ07NMKOU7...
2    ...  7TITEET9NABV9NB9T5NQ937816G47VUMS46RMJDPVD6AKK...
3    ...  GXZDGKU7ZBMQT6TT0QPOD9R2OM1WA9VHMOAH9EITLYH1LN...
4    ...  KPAZDX3HQCK2PVS1H8UB4ULLWEYE5G938BU4PMM1TA05FO...
..   ...                                                ...
295  ...  LXGDVSVLRLO4FM68H8E5X17VO14D2NNHZXJ4TIGDACZ7IT...
296  ...  PLWE3HGNWLD8NF62NUKKPFLF41XEPXCG37Q3DN6K5EVTN7...
297  ...  BZY4H4THYS0N8OA23TTEXQY8AUQ0RQMJZKVU2SS209CP7K...
298  ...  BVULDRKGZOO25N5ABU4IK3JNCOH3XHQK1XG2MNRH2XFE6E...
299  ...  RTAG45GTN8TJ7RCNU4H03TMRURN4O9FFPK5JUFRPKWTBF6...

                                NO_UNIDADE_EMPRESARIAL  \
0    PCKML3HB3OW591QOEYANPIFCKIRB8NY225IARB5JOONQPI...
1    WSFNF6MZWKIR7JNT0XHS7P9Q646HHJCUD752LKVFKDS84K...
2    2AFNBQA9RKPSKXH5Z45FJVR5CNET8DG3TKZNQPXKJ3IYOZ...
3    LKSNVNPANQHB0CQXEH2VXA37E9RF8GCD4IWVRAO1GFBV0F...
4    2NEDABWHL8WZHQCURKK6CPIKPLXSYB4OQFRX4W27R0FC04...
..                                                 ...
295  5HWYT85DIPPZS0634TXEZKOJQS4TLBXZWEW5LVT2PS354L...
296  R2KBDEN9TDWVAKZ59NFGKZNYH5NG92G6BI5CM67QFBIO9N...
297  V56OMQ38BQ8V58N9WSN0595053MEKO1NGBBNG39RMIB4FI...
298  XR3M0111S5D3PBH2E9240XOI2WOVO0ADBUF0ZSHN3NU39B...
299  2NO1E29YDCDMWQ4IK17YMKVL6524Z64HXX261WZ92QDGUV...

             NU_MATRICULA_LEILOEIRO              NU_REGISTRO_MATRIZ  \
0    3WWM37I96YTCFP6IUU35XT4FA6TVD6  GKG7E0X6F2OOZBU2P8NDUVO3F5I3TO
1    T0PIUFJCKO8YY0SMWGW7NGT4UAY9CJ  54U5O4APRF8YCWWHKJ4RYQNQFT3FDA
2    RTRYKOLWXIPV4N4T0TLDTSXRXR39RD  HSJ3NZFYMKRKZKKQQEK0NSUTDSY10U
3    FXNPABB6BFRBE2KRIGPA80N2KVC39Y  46OUMXVTINUXN4RO0NU471H2CGICMY
4    7BMTXB8X91VRQS8W3WX39XGJ2PMMT1  UUFQF99P8O5Y1Y3ZD9V573MJ9DLYMP
..                              ...                             ...
295  21CZL8RJT01V5XH4EBK5N5KVELB2IV  0EB0KFRLQTDL7OWI3UHXYMHKG8F51G
296  JUTHC2L61PS05JOZCCJYDCLVSIDZVY  UMX9AZJO376BQDRAOJN4WHTZR1W6CM
297  DKZ8HOWI5MYV1P9NZMI3X3FJD9MYYD  EJWHTSNLP7KHUOK60BMEKX7OTNFXOR
298  KNBL0M1VXY93FWEIQFAFYCWFUKFCL2  WZQSKDYGIBTPQJ8BU9X1Z6TYYQPNZ7
299  1X9ALHWK2O3Z3RP6VDT2451SPDRBEE  AVEF8DV3N7G420LSCHAS8LFNCCMAOX

     NU_ANO_INSTRUMENTO_LEGAL  SG_CONDICAO_INSCRICAO_ESTADUAL  \
0                        YU4S                            DH5N
1                        H0L6                            XR6H
2                        X85A                            J1AN
3                        N2B2                            QSY4
4                        N00A                            75NF
..                        ...                             ...
295                      K0T1                            AEQH
296                      O8XP                            ZNW5
297                      D5GR                            IW7M
298                      Z5ZI                            XJ30
299                      0MOL                            U54P

                                         DS_OBSERVACAO  \
0    AFS5VPFCVO4BQVOIZ3QED0I2Y5ZKOCK0HBJXC6PPWMI5LG...
1    XG5TAWYZKDP7XZEOX7R9GMJQNI7Q06PQLTKQBD5MBTW2OR...
2    AVYV8NI9SZ698UR30GZX5HQQT162AGZQJIWIRFFNPNX8II...
3    3D6EEY1K9BWR5VFWAQ1C2MFWCVF01HAXZKYA4ZGG3C5VPN...
4    KFPI8LSOQOZNB4NE2Q7XFK6PCRLTVNXEE98FALE4FGXSWR...
..                                                 ...
295  MQ3ZG6SMMUFLV5FP2QZ86WUGO8BGIZVSQAYQINU1ZEP085...
296  Z3WC2JWCO3LTJM8Y4DN8WJ25MW43EO3DYOHB9TAQQ9EULC...
297  EL1GG339H1SN4WBHPOBUMZ10SZ20SMYWK20O8G5P29GE52...
298  ZFALLKYAMMB0GFM2C6LNP6X643UK2IJ36NCSNRRWGRXCR4...
299  7WZ1WZP8L8HO2S3GKJHRR1S8UAE4P2OVYE7CYQ3DAOK1K1...

                          DS_TIPO_UNID_ESTABELECIMENTO  NU_RAIZ_CNPJ  \
0    UBZZS2ZTTU80YVQLQ47GOG9S6NO6RXCVQBATYGSFHQ8ZA8...      DF5F6BWP
1    QETTO7WE5L1EOBBSLZ0CZPC9VOSTQ71K14I3J6LMWLTLLL...      7M3T7O82
2    G47JWRTIIVVG7GFJS093098H7EEQHZYJ544QNETA6OLR06...      3H7R1FFJ
3    A48M0Z50UHZ656E7DHL3HUB0MPVR72YPW5PA2IDKQS59OQ...      PDYJALJU
4    GOJ87IX4JOLD8R1LUQ2W4GROO5V441LMIEEAOFQXQJY3EW...      DJWIR6DR
..                                                 ...           ...
295  HO15DFL0BJ3J0W1ULHGSUJJMXGF0Z2OBVNFAMLBJT92ZOW...      284YSBK6
296  9PDYHI6GNTGH05867GYJVSZ23U6CFR0MCHETGAFD3MSRYM...      DJ7TW42J
297  07V985X05Z0MOML7B2DORXRDXUIGDBUZFQVAWJZUDR0E9G...      V7EN8N53
298  U7W9Z0Q3ZGT6NF93MSWEMK86F6OZQGU1FV2XZ834PPOSV6...      QIRA1N0M
299  TYD1VZDTLW46V151IBY9X3RGX7KHQW28EWU1NMIKG3U116...      HDDZ5FI0

                                      DS_PORTE_EMPRESA
0    U7SZPMYS6YE62BIE3YYHOHQ9RGH16UX3IAZOEL4C08D0UI...
1    8LO7WBAC5X61VDIBX55K0BCHUSF1DE675CUPMGEI1H8HK4...
2    3UEJ8VVN3WU25I4BEFCV4VRR69259NOS85BXFQJ02SQ62M...
3    K7FPOA83DUCZD4G7ST8M1OGF670SRUYEWB69LMT42E435Q...
4    9HS08XABPNWDA3RMZZCVIESZB07IA1Z7IPHUZRQ5Q100LI...
..                                                 ...
295  6IZ79MOVSIHBY348NB4A5KXVY8DEO62HM2FL9F9E3BQTWK...
296  FJJ8DDDO1ODESM2X1PR9YOVWXAB8DBG4E0BHHCN50BA98E...
297  NXPC9A2MB8B5MQO4AEK216P3ORIE5M6IXNZK3QO131V6LE...
298  0WC5AVMT3HJDWY7PFTSOF4T5PEM22IYW3W2UUT03ZTRU6C...
299  EY19K7HGLKUZTUQ2ELTK1EHX190BXEIN80BK66Q3FTT8TA...

[300 rows x 51 columns]

### Dummy data for PRODUTO

In [8]:
df["DATA_PRODUTO"]["SQ_PRODUTO"] = generate_number_column(data_length)
df["DATA_PRODUTO"]["NSUCCG"] = generate_number_column(data_length, 15)
df["DATA_PRODUTO"]["GTIN"] = generate_number_column(data_length, 14)
df["DATA_PRODUTO"]["TPGTIN"] = generate_number_column(data_length, 2)
df["DATA_PRODUTO"]["MARCA"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XPROD"] = generate_varchar_column(data_length, 500)
df["DATA_PRODUTO"]["TPPROD"] = generate_varchar_column(data_length, 15)
df["DATA_PRODUTO"]["PREFIXGS1"] = generate_number_column(data_length, 3)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["CNPJ"] = generate_varchar_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["CPF"] = generate_varchar_column(data_length, 11) # Validar
df["DATA_PRODUTO"]["IMGURL"] = generate_varchar_column(data_length, 300)
df["DATA_PRODUTO"]["XORIGEM"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XDESTINO"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["NCM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SITGTIN"] = generate_number_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["DSIT"] = generate_date_column(data_length)
df["DATA_PRODUTO"]["CSEG"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CFAM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CCLAS"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CBRICK"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SUBGTIN"] = generate_number_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["TPSUBGTIN"] = generate_number_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["QITENSSUBGTIN"] = generate_number_column(data_length, 8)
df["DATA_PRODUTO"]["PESOB"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOB"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["PESOL"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOL"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["DT_FIM"] = generate_date_column(data_length)
print(df["DATA_PRODUTO"])

      id  SQ_PRODUTO           NSUCCG            GTIN  TPGTIN MARCA  \
0      0         943  937923092647122  68351642063614      20    NC
1      1  7625492488  498896986738329  49984409704122      48    B1
2      2  9207195055  834809057580274  86192229088061       9    NO
3      3           9  847070683464258  86227230942946      14    HK
4      4      821560  682112771514997  25727856695641       1    W7
..   ...         ...              ...             ...     ...   ...
295  295       63901  372556107335470  70163830645715      27    8H
296  296   842866704  785171903870527  60812370701156      13    GU
297  297  2977317276  516893992010591  89245421739223      90    8E
298  298         349  434675800322143  87006204309448      35    E8
299  299      916741  635432680648975  81464421217665      53    RW

                                                 XPROD           TPPROD  \
0    BODV2QT37OSSRUQC6BYD3B6HLI77AT0QHO50UI80B5H1DM...  TEIWIA76M4L1RAZ
1    D96NJW35LI64JZJM86OSFJYO7IA5U6LVX6MR753P246RRZ...  2LFDUKKVU3TBJ7A
2    Q9IO4JE0WM9SYEMNC326R6C05BVL3Y6J4A2WZJ1XLTWATG...  BB99ZGUE6XWO0SI
3    VZ5IIR7EDWC5MSRYV3WEK5J4WQKE83ZBBNMP480YZEPTU1...  436JE53DQ718737
4    K1I7LZT463D84NAZF1CHLQVHABZ1LCFFNAEIMSUYMT21GI...  Z6KG7M7TUPOVURG
..                                                 ...              ...
295  EONKOJZQ9W6TMLAH8EGD7GSRKR01910QTJM84N72HURJDP...  UMHOZ1PSBKBRSAB
296  S0CV0LKHLN9ONUT253SZ4AWN8GNCYXZ421YQNSP7BI4867...  LXE3TCAISD9OQML
297  WXR45SHED0FLTOSNXEL2GGSF54C08T20IZN7FTE5STKPIQ...  DFTP6X2VUWFJQ1M
298  VL3MILOPAV1G1LXQQTGG27MJLFDUS5MMJ0OQMOW43DTQ36...  NGM6GA4V23BTNJQ
299  B8GZCRX2WR54HPFJR8IMTE44B0WPSAE3IWUXEREESC2K8E...  U3MAC437MUU8EH9

     PREFIXGS1    PREFIXEMP  ...     CCLAS    CBRICK         SUBGTIN  \
0          753  28315677984  ...  22097241  94849337   2265369284716
1           35  83049305915  ...  70268037  91326661  45831907505579
2          856  77317577770  ...  60741877  62240425  89086111205800
3          546   1728755494  ...   2217931  95498587  80942655147130
4          482  19873990058  ...  90494339  24481078  62274815320091
..         ...          ...  ...       ...       ...             ...
295        360  31212094336  ...  64257347  74657309  20859157119246
296        618  33758088993  ...  98061073  19358934  70378944541035
297        877  48148907984  ...  71563847  90061242   4287045564976
298        499  93589289391  ...  89946670  61682432  63323153358522
299        501  30853861134  ...  38450972  40163012  58260752270114

    TPSUBGTIN QITENSSUBGTIN      PESOB             UNIDPESOB      PESOL  \
0          76      58142266  28534.084  7TJA24BECVMUBE26A3WH  45044.682
1          17      95398361  35367.321  CME6KZJ5YX87XWOZRVYN  45000.489
2          56      69901009  87041.986  VNHCK9ZO1FPP2V3GYZX5  61417.914
3          81      68510089  30758.678  0KMLV8BMK5VNX6LNW3YH  74817.748
4          53      97456223  29455.916  9URU4T60XUWYNE4V7CRN  33251.050
..        ...           ...        ...                   ...        ...
295        99      17158372  48564.153  E76MTUUULNVO0ZN9TN12  20693.489
296        31      43372315  20161.276  0IONTR3K9Z035IK4IG85  35950.792
297        66      37155347  76842.142  TW0IS7C6RQRPIBR50FJ2  99074.592
298        80      80912887  21168.127  HU1J8WISHSGIV5UNHC0F  93250.321
299        91      52446193  63003.639  B6VC5OMAE23HSHTKI30H  67213.561

                UNIDPESOL     DT_FIM
0    ZH9468ZMQQA6NFAGF3DX 1996-02-10
1    PXKJGB2TSFOB1JJ496HT 2015-02-20
2    Z58UY237L0CPPOMWJKWD 1997-09-27
3    12YS8OQNKXLRT2OM9T8R 2020-10-24
4    8L3AL3WSNZ6D9KHYURSE 1999-05-13
..                    ...        ...
295  RRZL5DQL79SGUGYZAB91 2013-12-15
296  G90ZAOAE3W8LWXYPM10X 2001-07-31
297  E1MQWR0VIRYEQ4I7ML04 2007-07-15
298  T9URACMT05G2S197R0TT 2006-01-10
299  AN7TG8P9KX2DLMA9WY22 2003-01-03

[300 rows x 30 columns]

### Dummy data for PRODUTO_SERVICO

In [9]:
df["DATA_PRODUTO_SERVICO"]["SQ_PROD_SERV"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["SQ_NF"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["NITEM"] = generate_number_column(data_length, 3)
df["DATA_PRODUTO_SERVICO"]["CPROD"] = generate_varchar_column(data_length, 1300)
df["DATA_PRODUTO_SERVICO"]["XPROD"] = generate_varchar_column(data_length, 195)
df["DATA_PRODUTO_SERVICO"]["NCM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO_SERVICO"]["EXTIPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CFOP"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UCOM"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VPROD"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UTRIB"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VFRETE"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VSEG"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VDESC"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VOUTRO"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDTOT"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["XPED"] = generate_varchar_column(data_length, 19)
df["DATA_PRODUTO_SERVICO"]["NITEMPED"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["NFCI"] = generate_varchar_column(data_length, 46)
df["DATA_PRODUTO_SERVICO"]["INFADPROD"] = generate_varchar_column(data_length, 650)
df["DATA_PRODUTO_SERVICO"]["NRECOPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEST"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDESCALA"] = generate_varchar_column(data_length, 1)
df["DATA_PRODUTO_SERVICO"]["CNPJFAB"] = generate_varchar_column(data_length, 18) # Validar
df["DATA_PRODUTO_SERVICO"]["CBENEF"] = generate_varchar_column(data_length, 13)
df["DATA_PRODUTO_SERVICO"]["CEAN"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEANTRIB"] = generate_number_column(data_length)
print(df["DATA_PRODUTO_SERVICO"])

      id  SQ_PROD_SERV      SQ_NF  NITEM  \
0      0        430470      12798    926
1      1           535    6918926    486
2      2            69   68629474    140
3      3      38851421     596855    401
4      4        988237          9    737
..   ...           ...        ...    ...
295  295      43142698  723905040    256
296  296            77       3040    242
297  297            96       5799    149
298  298    1035880805          8    954
299  299     596795072       2670    127

                                                 CPROD  \
0    U69CYVHO6DZSD87L88UCZZXI84F1L8DXS6432KDTT52IU5...
1    6HI3M42JC9G433TUOSL0TT8W539CGL8DH6DU95T4XS63EG...
2    5SEFNQP5AQZDAKY994N5SLXZUNYZ3AJXYUT6IB9XC396WO...
3    J4AG742NDW925H81D5WJ9FJY7CE857YVS1W8GS3ZM2BUMS...
4    WJV8NYP5M7G6NG78WY3NAK5LKFKYCNSLX8X6YVCI4VWRYX...
..                                                 ...
295  I4A1A4XLKEY9RQK3PZ4U81CCNSA2QI6QLW3FEUKRQLSE99...
296  Z9BQB323FMSZDSHGUYB2NAYDUZ75D3ELRVXT0RTNNY0P26...
297  6IYW3GLEB8RRIA5RPCDXVAXT97RDCRTXVXFSNQMBX204T5...
298  SJMEZ4FTVH6WRTBTPXOZ0FS81PZ4H6ABWSMMKM056OK1GR...
299  M3D5DZE8LJLGX2XSZRLI7YADTCIMTREAVGWLI7QSZ21OQ5...

                                                 XPROD       NCM     EXTIPI  \
0    HWVTAF6NTD1DF2IG7IIZDOSAG2WBI32ZLOJ3VWF3QLXG7P...  76878590     424170
1    G9V65RTGJNQM6O0ZFE55BGRT2QNLKZB8YY6OCINER3L2P8...  47755182          3
2    VA8FBKFIFM02DX8D8VX952D8OL2A0YVX22J3BFY66QXT1W...  52957771      69449
3    RBVYDO68QIWK0D0SRYMSPKJRH24Z8EHALYOP6VBSEUTQK5...  98823360  779418134
4    KF243DCZ3B0J75U89HSYV9K6OL5OVGSM9EWL29A2BZRHQI...  18067516       3726
..                                                 ...       ...        ...
295  0ZQG79TEZ8M27UP60YZW3EUDVPF3QZDK55WUCDPBWKUPFL...   7816983       3062
296  DO3D7Y4UQFGJW2DTQOCYU4DE7K2KNS4DJXTSL1TAOZRAEX...  47609124     297210
297  IVPEBE8VHYES9ZRWOJDH113XOOVDQ9X7MPZGZRNC6EQQVH...  21304840        775
298  BYVF6ZP3H7DED28D6JV8VOJCAQ9YHY7WHY9LN1D04EK8F4...  93343953    3982007
299  8ZC18S0POCACV6B5YBXIFBKLVLFC4X4D6VM99G1TKXJPZP...   1798897    9271878

          CFOP     UCOM  ...   NITEMPED  \
0       612941  X5EF3JK  ...       1478
1      1299683  R4X2BDN  ...  807888853
2          750  7K86SBW  ...   28218320
3    511579565  F9FPGT7  ...    5153770
4         5049  QSBG9DS  ...        147
..         ...      ...  ...        ...
295  972406685  QBFC8HC  ...          8
296  367501949  0OT7I8P  ...          8
297   63468885  K0NEZQK  ...          2
298         40  RKD4UM1  ...  745233117
299      95362  MS0WF88  ...        924

                                               NFCI  \
0    OA83AUHDUJ7TTLFGE43YTPEN0Y4FA15GRTS3LFU2EF1OOF
1    SGL1CSOB4CJB04A7SMXHLJB71LV1D3FXDGPFYFE74IQKE7
2    TBR1VR0O6KWUJX8LH1WF2H862T2591P4W2SFR3NKJ0WBJQ
3    WHEA4177N8K65O5BHFOUYL5XPQ81OC0Z91HTZC3JATWUIU
4    2OF74VLAPG586SLDZTHGR3ZCQBLG70I9YM0SWHCQO3961L
..                                              ...
295  LNIJ99TS2A220A83KCFT36PCBZM6G6D82S0RW1R3SGO7M9
296  FR9YWWL9E5HJLKTVBY3ZPWDVXRBPJFPUZ49T52HA5BS5FU
297  ZFIBHAYZH91IBVB2JJK04QS57J4T35OAPQ02HZ9M6HV3KR
298  L4CPEBIAAY9FNWFIVLCBR1RPD1FZLZQQLWRC1ZOC7SYO7K
299  4O3H7X7WW4H80POVF8UXM5NE4DC8VF378609QFLD5XMB2L

                                             INFADPROD     NRECOPI       CEST  \
0    LG0Y6DM5QYIFIFHNCTAAJAHNVV8YJAL5UHU1SUGZDV6LST...     8683834          6
1    7HO05JCI7NZ1LNOGI7V8VSYFIV9LII4R7VWNIFQQSXN7Y1...    53878823        947
2    5WJKNTSUDE214AHSLAFZWUF7K06KBOFG9YH8CVYMH27NX0...      422064         55
3    RYZRQ4NWN1J4SEGCWL7BODL0NYCCDVXFMGVDPIG37Y5UPL...        5324        967
4    VC2VAHHT8CTFQGX5LFL67KDBJWB7KLJNYGXWMPOJGBJR8Z...        7911          0
..                                                 ...         ...        ...
295  3I8N03RHD04MCPTSGALNUOVB25981Y5595FOBYK53WIJJB...        4417         68
296  8HVD7Q21PABNAUWBR36223T9IS7QF7E4J4NAFX2ULYLVGN...       68057   17471104
297  CQHNXU6D8S9WO7H9PFQ9AVDIWYZM5X80TISWENWRYFI8PD...       32311   83429930
298  A0GRNYB7CSMS9U8YTJ4AS1EU976R50K4EE6HUNNPI7Q8T0...  4422338942          5
299  CGIKUK5XU035FCIJNA8T909I2D4OCF0RGLU143JG2C6G2Y...  3574552091  681464393

     INDESCALA             CNPJFAB         CBENEF        CEAN   CEANTRIB
0            D  A4CYIKV6KZTEBZJM9I  8RQKRIA8ZLCJC     2211575  791092892
1            F  VAGY6W8UGAQ9V3SWNA  M47V8SCQ4I6NF         253     756344
2            1  ED34GJA93ZII2Y5L9H  A27ZF9O3B03G7    66642369      97375
3            C  95ZZQ7Z9O3V10AJ0H4  OGASBAS70MTG9           2         18
4            I  7BSK6L9HAMNEK4680O  9XY3FM7UZ5Y87        9431  619620717
..         ...                 ...            ...         ...        ...
295          7  GNOGHY92FMIYVXBL0E  BVTPPM5RA6DZG           7        572
296          O  TOZPVWBLUP8M60ZK9M  E96RZHTY2PROH  8721013049          8
297          5  H4V2Q0H6ETUJ7L09TP  RZE4PESA1C5B9           7       9634
298          R  H1HNQT0YUCBBW99B5F  UF1C8XVHGPPF0      603947  577831904
299          8  0E4542SMESRL1BEQAC  D3ZEKKORFHJA1   218630941         16

[300 rows x 32 columns]

### Dummy data for NOTA_FISCAL

In [10]:
# GENERATE RANDOM NUMBER VARIABLE TO DATA_NOTA_FISCAL
df["DATA_NOTA_FISCAL"]["CDV"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CEP_EMITENTE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["CEP_DEST"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["CMUN_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CMUN_DEST"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CMUNFG"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNAE_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["CNPJ_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CNPJ_DEST"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CNPJ_ORGAO_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CPAIS_EMITENTE"] = generate_number_column(data_length, 4)
df["DATA_NOTA_FISCAL"]["CPAIS_DEST"] = generate_number_column(data_length, 4)
df["DATA_NOTA_FISCAL"]["CPF_EMITENTE"] = generate_number_column(data_length, 11)
df["DATA_NOTA_FISCAL"]["CPF_DEST"] = generate_number_column(data_length, 11)
df["DATA_NOTA_FISCAL"]["CRT_EMITENTE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CUF"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["FINNFE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["FONE_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["FONE_DEST"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["FONE_AGENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["IDDEST"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["INDFINAL"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["INDPAG"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["INDPRES"] = generate_number_in_range_column(data_length, max_range=9)
df["DATA_NOTA_FISCAL"]["NNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["PROCEMI"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["SERIE"] = generate_number_column(data_length, 3)
df["DATA_NOTA_FISCAL"]["SQ_NF"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["SQ_TP_DFE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["TPAMB"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPIMP"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPNF"] = generate_number_column(data_length)

#GENERATE RANDOM DATE VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["DH_GRAVACAO"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHCONT"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHEMI"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHSAIENT"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DEMI_DOC_ARR"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHRECBTO"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DPAG"] = generate_date_column(data_length)

#GENERATE RANDOM CHAR VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["TPEMIS"] = generate_varchar_column(data_length, 1)

#GENERATE RANDOM VARCHAR2 VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["CO_CHAVE_ACESSO"] = generate_varchar_column(data_length, 61)
df["DATA_NOTA_FISCAL"]["IE_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IEST_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IM_EMITENTE"] = generate_varchar_column(data_length, 19)
df["DATA_NOTA_FISCAL"]["IM_DEST"] = generate_varchar_column(data_length, 19)
df["DATA_NOTA_FISCAL"]["MOD"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["NATOP"] = generate_varchar_column(data_length, 84)
df["DATA_NOTA_FISCAL"]["NRO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["NRO_DEST"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["NU_VERSAO"] = generate_varchar_column(data_length, 5)
df["DATA_NOTA_FISCAL"]["UF_EMITENTE"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["VERPROC"] = generate_varchar_column(data_length, 26)
df["DATA_NOTA_FISCAL"]["XBAIRRO_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XCPL_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XCPL_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["NRO_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XFANT_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XJUST"] = generate_varchar_column(data_length, 390)
df["DATA_NOTA_FISCAL"]["XLGR_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XMUN_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XMUN_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XNOME_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XNOME_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XORGAO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["XPAIS_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["XPAIS_DEST"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["UF_AGENTE"] = generate_varchar_column(data_length, 2)

df["DATA_NOTA_FISCAL"]["UF_DEST"] = generate_varchar_column(data_length, 2)
#PRINT DATA_NOTA_FISCAL

print(df["DATA_PRODUTO_SERVICO"])

      id  SQ_PROD_SERV      SQ_NF  NITEM  \
0      0        430470      12798    926
1      1           535    6918926    486
2      2            69   68629474    140
3      3      38851421     596855    401
4      4        988237          9    737
..   ...           ...        ...    ...
295  295      43142698  723905040    256
296  296            77       3040    242
297  297            96       5799    149
298  298    1035880805          8    954
299  299     596795072       2670    127

                                                 CPROD  \
0    U69CYVHO6DZSD87L88UCZZXI84F1L8DXS6432KDTT52IU5...
1    6HI3M42JC9G433TUOSL0TT8W539CGL8DH6DU95T4XS63EG...
2    5SEFNQP5AQZDAKY994N5SLXZUNYZ3AJXYUT6IB9XC396WO...
3    J4AG742NDW925H81D5WJ9FJY7CE857YVS1W8GS3ZM2BUMS...
4    WJV8NYP5M7G6NG78WY3NAK5LKFKYCNSLX8X6YVCI4VWRYX...
..                                                 ...
295  I4A1A4XLKEY9RQK3PZ4U81CCNSA2QI6QLW3FEUKRQLSE99...
296  Z9BQB323FMSZDSHGUYB2NAYDUZ75D3ELRVXT0RTNNY0P26...
297  6IYW3GLEB8RRIA5RPCDXVAXT97RDCRTXVXFSNQMBX204T5...
298  SJMEZ4FTVH6WRTBTPXOZ0FS81PZ4H6ABWSMMKM056OK1GR...
299  M3D5DZE8LJLGX2XSZRLI7YADTCIMTREAVGWLI7QSZ21OQ5...

                                                 XPROD       NCM     EXTIPI  \
0    HWVTAF6NTD1DF2IG7IIZDOSAG2WBI32ZLOJ3VWF3QLXG7P...  76878590     424170
1    G9V65RTGJNQM6O0ZFE55BGRT2QNLKZB8YY6OCINER3L2P8...  47755182          3
2    VA8FBKFIFM02DX8D8VX952D8OL2A0YVX22J3BFY66QXT1W...  52957771      69449
3    RBVYDO68QIWK0D0SRYMSPKJRH24Z8EHALYOP6VBSEUTQK5...  98823360  779418134
4    KF243DCZ3B0J75U89HSYV9K6OL5OVGSM9EWL29A2BZRHQI...  18067516       3726
..                                                 ...       ...        ...
295  0ZQG79TEZ8M27UP60YZW3EUDVPF3QZDK55WUCDPBWKUPFL...   7816983       3062
296  DO3D7Y4UQFGJW2DTQOCYU4DE7K2KNS4DJXTSL1TAOZRAEX...  47609124     297210
297  IVPEBE8VHYES9ZRWOJDH113XOOVDQ9X7MPZGZRNC6EQQVH...  21304840        775
298  BYVF6ZP3H7DED28D6JV8VOJCAQ9YHY7WHY9LN1D04EK8F4...  93343953    3982007
299  8ZC18S0POCACV6B5YBXIFBKLVLFC4X4D6VM99G1TKXJPZP...   1798897    9271878

          CFOP     UCOM  ...   NITEMPED  \
0       612941  X5EF3JK  ...       1478
1      1299683  R4X2BDN  ...  807888853
2          750  7K86SBW  ...   28218320
3    511579565  F9FPGT7  ...    5153770
4         5049  QSBG9DS  ...        147
..         ...      ...  ...        ...
295  972406685  QBFC8HC  ...          8
296  367501949  0OT7I8P  ...          8
297   63468885  K0NEZQK  ...          2
298         40  RKD4UM1  ...  745233117
299      95362  MS0WF88  ...        924

                                               NFCI  \
0    OA83AUHDUJ7TTLFGE43YTPEN0Y4FA15GRTS3LFU2EF1OOF
1    SGL1CSOB4CJB04A7SMXHLJB71LV1D3FXDGPFYFE74IQKE7
2    TBR1VR0O6KWUJX8LH1WF2H862T2591P4W2SFR3NKJ0WBJQ
3    WHEA4177N8K65O5BHFOUYL5XPQ81OC0Z91HTZC3JATWUIU
4    2OF74VLAPG586SLDZTHGR3ZCQBLG70I9YM0SWHCQO3961L
..                                              ...
295  LNIJ99TS2A220A83KCFT36PCBZM6G6D82S0RW1R3SGO7M9
296  FR9YWWL9E5HJLKTVBY3ZPWDVXRBPJFPUZ49T52HA5BS5FU
297  ZFIBHAYZH91IBVB2JJK04QS57J4T35OAPQ02HZ9M6HV3KR
298  L4CPEBIAAY9FNWFIVLCBR1RPD1FZLZQQLWRC1ZOC7SYO7K
299  4O3H7X7WW4H80POVF8UXM5NE4DC8VF378609QFLD5XMB2L

                                             INFADPROD     NRECOPI       CEST  \
0    LG0Y6DM5QYIFIFHNCTAAJAHNVV8YJAL5UHU1SUGZDV6LST...     8683834          6
1    7HO05JCI7NZ1LNOGI7V8VSYFIV9LII4R7VWNIFQQSXN7Y1...    53878823        947
2    5WJKNTSUDE214AHSLAFZWUF7K06KBOFG9YH8CVYMH27NX0...      422064         55
3    RYZRQ4NWN1J4SEGCWL7BODL0NYCCDVXFMGVDPIG37Y5UPL...        5324        967
4    VC2VAHHT8CTFQGX5LFL67KDBJWB7KLJNYGXWMPOJGBJR8Z...        7911          0
..                                                 ...         ...        ...
295  3I8N03RHD04MCPTSGALNUOVB25981Y5595FOBYK53WIJJB...        4417         68
296  8HVD7Q21PABNAUWBR36223T9IS7QF7E4J4NAFX2ULYLVGN...       68057   17471104
297  CQHNXU6D8S9WO7H9PFQ9AVDIWYZM5X80TISWENWRYFI8PD...       32311   83429930
298  A0GRNYB7CSMS9U8YTJ4AS1EU976R50K4EE6HUNNPI7Q8T0...  4422338942          5
299  CGIKUK5XU035FCIJNA8T909I2D4OCF0RGLU143JG2C6G2Y...  3574552091  681464393

     INDESCALA             CNPJFAB         CBENEF        CEAN   CEANTRIB
0            D  A4CYIKV6KZTEBZJM9I  8RQKRIA8ZLCJC     2211575  791092892
1            F  VAGY6W8UGAQ9V3SWNA  M47V8SCQ4I6NF         253     756344
2            1  ED34GJA93ZII2Y5L9H  A27ZF9O3B03G7    66642369      97375
3            C  95ZZQ7Z9O3V10AJ0H4  OGASBAS70MTG9           2         18
4            I  7BSK6L9HAMNEK4680O  9XY3FM7UZ5Y87        9431  619620717
..         ...                 ...            ...         ...        ...
295          7  GNOGHY92FMIYVXBL0E  BVTPPM5RA6DZG           7        572
296          O  TOZPVWBLUP8M60ZK9M  E96RZHTY2PROH  8721013049          8
297          5  H4V2Q0H6ETUJ7L09TP  RZE4PESA1C5B9           7       9634
298          R  H1HNQT0YUCBBW99B5F  UF1C8XVHGPPF0      603947  577831904
299          8  0E4542SMESRL1BEQAC  D3ZEKKORFHJA1   218630941         16

[300 rows x 32 columns]

### Dummy Data for IS_VW_ESTAB_ATV_ECO

In [11]:
# GENERATE RANDOM DATE VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_INICIO_EXERCICIO"] = generate_date_column(data_length)

# GENERATE RANDOM NUMBER VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_VERSAO_TABELA_ATIVIDADES"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_NIVEL_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["IN_PRINCIPAL"] = generate_number_column(data_length, 1)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_ORDEM"] = generate_number_in_range_column(data_length, max_range=9)

# GENERATE RANDOM VARCHAR VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["CO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 7)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 200)

# PRINT DATA_IS_VW_ESTAB_ATV_ECO

print(df["DATA_IS_VW_ESTAB_ATV_ECO"])

      id DT_CONCESSAO_INSCRICAO DT_INICIO_EXERCICIO  SQ_ESTABELECIMENTO  \
0      0             1999-05-28          2001-01-20           674137977
1      1             1997-05-16          2007-10-16           228248138
2      2             2014-11-29          1998-09-11           551716054
3      3             1998-08-25          2012-04-16           282329888
4      4             1996-06-15          1995-10-14           647526787
..   ...                    ...                 ...                 ...
295  295             1993-10-14          1992-09-08           968739108
296  296             2002-06-22          2011-07-19           653110995
297  297             2020-04-26          1998-11-26           574414015
298  298             1993-07-04          2008-06-18           666670538
299  299             2006-03-18          2019-04-07           535748625

     SQ_INSCRICAO_ESTABELECIMENTO  NU_INSCRICAO_ESTADUAL  \
0                       882256229               80642301
1                       314972133               29476441
2                       799414912               24566698
3                        95008812               61158483
4                       604070241               46955017
..                            ...                    ...
295                     772437643               12282976
296                     723706677               22190775
297                     892931269               81307803
298                     758485213               77613502
299                     417743495               29080646

     SQ_ATIVIDADE_ECONOMICA  SQ_VERSAO_TABELA_ATIVIDADES  \
0                  95723639                    347825448
1                 172443652                    271250664
2                 217921560                    656831573
3                 627410895                    156924362
4                 345148311                    511199641
..                      ...                          ...
295               334074406                    339226121
296               792665040                    338663005
297               564286303                    465213576
298               237288989                    466631307
299               922490335                    480998961

     SQ_NIVEL_ATIVIDADE_ECONOMICA  IN_PRINCIPAL  NU_ORDEM  \
0                       272508994             0         3
1                       309644079             0         4
2                       203262209             0         6
3                       872975365             7         5
4                       411652610             4         3
..                            ...           ...       ...
295                     384855858             2         7
296                     588375315             9         8
297                     724500654             8         6
298                     192042561             3         8
299                     730820476             9         8

    CO_ATIVIDADE_ECONOMICA                             NO_ATIVIDADE_ECONOMICA
0                  PJVFXG5  61X6ZWQEYBN4U6TRYR53ZCZH3GT5HXK4IDS7ME1G2G2RO6...
1                  H29YCUI  PQVJIFSXQTKP3VJUICQ1R7YU9OHLKTJ0IQ8AHI39LAOQ1B...
2                  MNXNT1R  5416CXG2YVBFR2DNC1PA11C7BYAQLJPWAFSMZN50IE9QZX...
3                  UYD4JRY  PFJ7I9FK5UO20QDZ2F4FRMKY6RSOEFP7YH634VF1RW519U...
4                  3UOE5S7  NE0NAPFUOLVTCCI97V328DK4WERKMMPGTSKFEJ8E7PI8QG...
..                     ...                                                ...
295                FWWF641  RLDTKK0Y0745QLGJWAGYAJ6XOPLPGE0481E05JU85BSKS1...
296                7GRAC0G  28KQU2N7NSGI0O8JE8XUL4ZNEQEAJ6K1T2F04DNB8OKD1C...
297                X306V3W  9HCYWCHR1GSPK9BGBVWI0TVW5EF6ILKSMS6W9BTH7799OU...
298                32JTA47  EYFKLYDXK5Q1ZNC21UJ0F6KWKOMGY2FGS8G8NGAUN8EYK5...
299                0Z0NGCV  TRKBBU8IQYCKMG5U5Y6727F73F3ACMGHGLDCNG23V68XG1...

[300 rows x 13 columns]

### Export as CSV

In [12]:
for x in data_tables:
    df["DATA_{0}".format(x)].to_csv ("Tabelas/DATA_{0}".format(x) + ".csv", index = None, header=True)