## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Auxiliary functions

In [1]:
import pandas as pd
import random
import string
import datetime
import re
import urllib.request
from bs4 import*

In [2]:
# Returns a list of randomized varchars with the specified data_lenth. 
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_varchar_column(data_length, column_length = 0, max_random_length = 10):
    varchar_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = column_length)))
    else: # random size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = random.randint(1,max_random_length))))
    return varchar_list

# Returns a list of randomized INTEGER numbers with the specified data_lenth.
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_number_column(data_length, column_length = 0, max_random_length = 10):
    number_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = column_length))))
    else: # random size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = random.randint(1,max_random_length)))))
    return number_list

# Returns a list of randomized FLOAT numbers with the specified data_lenth.
# The column length and the precision must be specified
def generate_float_number_column(data_length, column_length, precision):
    float_number_list = []
    for _ in range(data_length):
        number = ''.join(random.choices(string.digits, k = column_length - precision)) + '.' + ''.join(random.choices(string.digits, k = precision))
        float_number_list.append(float(number))
    return float_number_list

# Returns a list of single randomized numbers within a certain range with the specified data_lenth.
# The min value of the range is passed in min_range and the max at max_range
def generate_number_in_range_column(data_length, min_range = 1, max_range = 9):
    number_in_range_list = []
    for _ in range(data_length):
        number_in_range_list.append(random.randint(min_range,max_range))
    return number_in_range_list

# Returns a list of randomized dates within a certain year range with the specified data_lenth.
# The min value of the year range is passed in min_range and the max at max_range
def generate_date_column(data_length, min_range = 1990, max_range = 2020):
    date_list = []
    for _ in range(data_length):
        date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(min_range,max_range)), '%j %Y')
        date_list.append(date)
    return date_list

# Create a code key using a unique number sequence id plus a random string sequence.
# If the column_length is equal to the digit length of data_length, then only a sequence of numbers is returned
def generate_primary_key(data_length, column_length):
    key_list = []
    for x in range(data_length):
        number_sequence = ''
        for _ in range(len(str(data_length)) - len(str(x))): # length of integer in data_length (used for max size in number sequence)
            number_sequence = number_sequence + '0'
        number_sequence = number_sequence + str(x)
        code_sequence = ''.join(random.choices(string.ascii_uppercase + string.digits, k = (column_length - len(str(data_length)))))
        key_list.append(number_sequence + code_sequence)
    return key_list

# Receives a list of primary keys and return a random list of foreign keys with the data_length size
def generate_foreign_key(data_length, pk_list):
    fk_list = []
    for _ in range(data_length):
        fk_list.append(random.choice(pk_list))
    return fk_list

# Return the length of the table specified
def get_data_length(table_name):
    if table_name == "DATA_NOTA_FISCAL":
        data_length = 1000000
    elif table_name == "DATA_PRODUTO_SERVICO":
        data_length = 2000000
    elif table_name == "DATA_SITUACAO_NF":
        data_length = 300
    elif table_name == "DATA_PRODUTO":
        data_length = 3000000
    elif table_name == "DATA_IS_VW_ESTAB_EMPRESA":
        data_length = 300
    elif table_name == "DATA_IS_VW_ESTAB_ATV_ECO":
        data_length = 300
    else:
        data_length = 0
    return data_length

# Generate a words sequence list with the length of data_length
def generate_words_column(data_length, number_of_words):
    words_list = []
    word_file = "Dicionario/dict.txt"
    WORDS = open(word_file).read().splitlines()
    for _ in range(data_length):
        words = ' '.join(random.choices(WORDS, k = number_of_words))
        words_list.append(words)
    return words_list

### Create tables

In [3]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
for x in data_tables:
    table_name = "DATA_{0}".format(x)
    data_length = get_data_length(table_name)
    data = {"id": [x for x in range(data_length)]}
    df[table_name] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':             id
0            0
1            1
2            2
3            3
4            4
...        ...
999995  999995
999996  999996
999997  999997
999998  999998
999999  999999

[1000000 rows x 1 columns], 'DATA_PRODUTO_SERVICO':               id
0              0
1              1
2              2
3              3
4              4
...          ...
1999995  1999995
1999996  1999996
1999997  1999997
1999998  1999998
1999999  1999999

[2000000 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':               id
0              0
1              1
2              2
3              3
4              4
...          ...
2999995  2999995
2999996  2999996
2999997  2999997
2999998  2999998
2999999  2999999

[3000000 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Dummy data for SITUACAO_NF

In [4]:
data_length = get_data_length("DATA_SITUACAO_NF")

df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = generate_primary_key(data_length, 61) # primary key
df["DATA_SITUACAO_NF"]["DT_STATUS"] = generate_date_column(data_length)
df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"] = generate_varchar_column(data_length)
df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"] = generate_number_in_range_column(data_length,max_range=3)
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"] = generate_varchar_column(data_length,61)
print(df["DATA_SITUACAO_NF"])

      id                                    CO_CHAVE_ACESSO  DT_STATUS  \
0      0  000X69RZKC32BHAC2X6TVVOT1CS344RO41OCZGDU6QW87J... 1992-09-25
1      1  001PCJ4XTFBWLNLA1BD4YJDC6ZFISGKCS194OV3CN6THN7... 1997-01-31
2      2  002JLMBR19O7CIZ9NET24JHHXBJNT92QR8H67IR712C00V... 1991-09-14
3      3  003LITBJ9REYQHHFGPU4KTEKWWU2ZU8LLLTGVE0TT9OHUL... 2004-02-06
4      4  004V4CQQKW6IJRJFSOR3EDQ1FL23Y8F4I2OMRO5GLNDVQC... 2011-01-17
..   ...                                                ...        ...
295  295  295T84AS3AWOA5CZ1GXDXECUAHJOP5GCTKVXY9JM8W6Q7Z... 1999-10-18
296  296  296FK3N0ODPFSYSMUCRH4LQKPC14AT43DZWE6Y7UVTK1WB... 1996-02-23
297  297  2975I1RDIIO02O0BKO1ZHUMC11PQH1BSZZ1R1CA8DHV3DN... 2000-10-03
298  298  298SKFJ1JNATRBI0L94IIUO3JTRYPOO5V1BCT3UV9QP5P6... 1995-10-06
299  299  299DCC724IEDU044A44GU5CZ1JY8QTOLAMD9FS4ELADD0L... 2016-01-17

    SITUACAO_NF_CO_SITUACAO  TP_ORIGEM_ATUALIZACAO  \
0                   CPOCQOM                      3
1                         U                      1
2                        QP                      1
3                HGVQZJTH9F                      3
4                   LOWOEQM                      1
..                      ...                    ...
295                  2XN490                      2
296                    GJD7                      1
297                    E6TM                      3
298                      J8                      1
299                  3QO4X0                      1

                          CO_CHAVE_ACESSO_CANCELAMENTO
0    AAMFF15F9MLIO3XYNH6Q6YLKBAIYDSQNVUAGCKD2P48EK8...
1    79V6ML60JSEC39V3FBV2PRQZLUBIBUU1I6JCZUZX4OVJEM...
2    LLDX90682N5WLUZUO0VN371124M478WFQGK1LNNBWM8GQH...
3    GUVKJUOXPPUWS61P0YUD5F3WTADJFD3SX2069TCS9WZQXV...
4    2E8AAD12RVMNZXPJFJ6JBQI16W6YZOH5KXFW4B6ITHI0QE...
..                                                 ...
295  8A4U6I3BQJPN5078MUWJLU61IHTNNIKOYXBKB70UD1TP0N...
296  UJ6IGK1YC4DTXB3VENMY9PBLKTXJERFFPY2J81BE5ZYDHB...
297  YRG759P7M013MGQG3D2BPOXID7NVV05FLLUVX8U5YN7TTE...
298  J1EZGZ0J2UXS7MEJ246OP3X5YN179GBKJVATN9PV711O2X...
299  5OV5BSO9PBIM5UO38HZQL5DWJ1TEQQOZCTS95TBWGER8PM...

[300 rows x 6 columns]

### Dummy data for NOTA_FISCAL

In [5]:
data_length = get_data_length("DATA_NOTA_FISCAL")

# GENERATE PRIMARY KEY
df["DATA_NOTA_FISCAL"]["SQ_NF"] = df["DATA_NOTA_FISCAL"]["id"]

# GENERATE FOREIGN KEY
df["DATA_NOTA_FISCAL"]["CO_CHAVE_ACESSO"] = generate_for35eign_key(data_length, df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"])

# GENERATE RANDOM NUMBER VARIABLE TO DATA_NOTA_FISCAL
df["DATA_NOTA_FISCAL"]["CDV"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CEP_EMITENTE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["CEP_DEST"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["CMUN_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CMUN_DEST"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CMUNFG"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNAE_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["CNPJ_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CNPJ_DEST"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CNPJ_ORGAO_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CPAIS_EMITENTE"] = generate_number_column(data_length, 4)
df["DATA_NOTA_FISCAL"]["CPAIS_DEST"] = generate_number_column(data_length, 4)
df["DATA_NOTA_FISCAL"]["CPF_EMITENTE"] = generate_number_column(data_length, 11)
df["DATA_NOTA_FISCAL"]["CPF_DEST"] = generate_number_column(data_length, 11)
df["DATA_NOTA_FISCAL"]["CRT_EMITENTE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CUF"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["FINNFE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["FONE_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["FONE_DEST"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["FONE_AGENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["IDDEST"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["INDFINAL"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["INDPAG"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["INDPRES"] = generate_number_in_range_column(data_length, max_range=9)
df["DATA_NOTA_FISCAL"]["NNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["PROCEMI"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["SERIE"] = generate_number_column(data_length, 3)
df["DATA_NOTA_FISCAL"]["SQ_TP_DFE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["TPAMB"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPIMP"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPNF"] = generate_number_column(data_length)

# GENERATE RANDOM DATE VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["DH_GRAVACAO"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHCONT"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHEMI"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHSAIENT"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DEMI_DOC_ARR"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHRECBTO"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DPAG"] = generate_date_column(data_length)

# GENERATE RANDOM CHAR VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["TPEMIS"] = generate_varchar_column(data_length, 1)

# GENERATE RANDOM VARCHAR2 VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["IE_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IEST_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IM_EMITENTE"] = generate_varchar_column(data_length, 19)
df["DATA_NOTA_FISCAL"]["IM_DEST"] = generate_varchar_column(data_length, 19)
df["DATA_NOTA_FISCAL"]["MOD"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["NATOP"] = generate_varchar_column(data_length, 84)
df["DATA_NOTA_FISCAL"]["NRO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["NRO_DEST"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["NU_VERSAO"] = generate_varchar_column(data_length, 5)
df["DATA_NOTA_FISCAL"]["UF_EMITENTE"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["VERPROC"] = generate_varchar_column(data_length, 26)
df["DATA_NOTA_FISCAL"]["XBAIRRO_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XCPL_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XCPL_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["NRO_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XFANT_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XJUST"] = generate_varchar_column(data_length, 390)
df["DATA_NOTA_FISCAL"]["XLGR_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XMUN_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XMUN_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XNOME_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XNOME_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XORGAO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["XPAIS_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["XPAIS_DEST"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["UF_AGENTE"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["UF_DEST"] = generate_varchar_column(data_length, 2)

# PRINT DATA_NOTA_FISCAL

print(df["DATA_NOTA_FISCAL"])

            id   SQ_NF                                    CO_CHAVE_ACESSO  \
0            0       0  1416MW04LAGFFK9CENVZSD2LXI5X26KME2A6N1QZ3QSL45...
1            1       1  267DPG4JSVWL8H790BDO8WA1HLO0WD4UN53KEX857BTFHW...
2            2       2  242XOQ9Q884D77PNEUFDPDCIZHQTR196Q89WLFVWY3ZRGL...
3            3       3  038BHZ0FI2CE7WDW42CV51F79N82S2C9MB3EE6MMS5EO0O...
4            4       4  035TEETKTEHYQPAR4VH7X88U1TZLS9IW6F2KI0CR5343EZ...
...        ...     ...                                                ...
999995  999995  999995  172OI3C914RVGOSBDGX69VNH918KTPQ0ZWVJOCP04KCP4Y...
999996  999996  999996  062XLA0GB13UJT0LJVM77D66WVN5SIU01WR8GWIVW43RM9...
999997  999997  999997  243NI4TDSZ0U3KJQHPG3TWVXBU2V3XQ90FVB3YV77P2RYR...
999998  999998  999998  118PY4H8O9J7F0LHOQ9BY245FHASM00G6B1NR6B9CMUOE1...
999999  999999  999999  089ZPC53MT5FPIB1ZI8REI0GN1L6XUCE1EBU0HX9K22XEU...

               CDV  CEP_EMITENTE  CEP_DEST  CMUN_EMITENTE  CMUN_DEST   CMUNFG  \
0                7      89691012  18100978        1800563    7293812  6475733
1          8955169      77575662  85871016        2654480     420817  3233920
2           304131      23482329   8883135        2344945    2690545  4294593
3       9967727187      48996919  95503723        7681178    4122451  7455030
4           260692      40419112  21895930        1158894    1239427  4055094
...            ...           ...       ...            ...        ...      ...
999995       42377      81082395  69380633        7286456    6782510  4690557
999996         905      21606209  18807892        2676570    1317052  8409174
999997      578742       3125674  86029671        3018898    3397795  2365909
999998       41475      49014036   9722169        2729464     816598  4224920
999999      646942      77648447  90247068        2302863    4691725  7638436

        CNAE_EMITENTE  ...                                      XLGR_EMITENTE  \
0             9509135  ...  NLBNQU4YE6V2FK591DW8UK1POI0CZ7X81Q8ZMJK906USWO...
1             8054470  ...  7JLHGKK9A8B3D0U3KAI42LWQB6P8R47SJT6NU3QM1VSO40...
2             9948549  ...  GFWWFYI3MJV39F7LMXQB9VZ0NAAFKW2NYSXCEARR6MI508...
3             1028314  ...  1KC7PFMKYBJWTZ6C0FYXFOXKDD4V1XRYERF5TU8ON2BPBC...
4             2923995  ...  EEIMCV98SL3ALZIJOSMGPHBWIXEBVC4U8OC6X9G2ENGEYW...
...               ...  ...                                                ...
999995        8893424  ...  PGQQTFE3Q4Z77Q5S0JIRDVTPTYDTRDCVJ856PGFJ01JEC3...
999996        2578338  ...  5DQB68ZDZCJFZRE1N8VQBK3NFV4QLLHUKKBD22905YB5FT...
999997        6446623  ...  WH58Y7C744TAAYG0YD1FFK72EM7EWA004QXTZLIO7V3UPJ...
999998        3305996  ...  FWYTTGUAD70Z2GXG1IB4LJ98SMRH6O594HRVL1M6LUMZ5Q...
999999        8604369  ...  4XG0K1U0V8S1AQ5CQX8R9DV7Y15KKZMR8YYBYT2VMO7W63...

                                            XMUN_EMITENTE  \
0       SLHMEKV1EINT8WELRSGKSN1HA40TI5CQQ2T3FE14GH5C29...
1       8EA0MMW35CLIASFIMMHN5Q2O58WO4AE3GWFTJ1PQT9IH5B...
2       ZDP7MVXQ9GUYZR7A2ZV9BSA0AGLAEEC168WQJGY6THNL4X...
3       3PRXKGG7MU2A11NK13IH1KBYAUYJCWZ6UDG0C83LU9WODF...
4       MTC15Z38E5IU6V35N6AK2K80EWL7DEUHNWSOBWR9XX80ZD...
...                                                   ...
999995  AREU0TYC47CTL8RJWFFJ5M1YOLX3IHV3OIAB35HMBPZ9GJ...
999996  EACUGZ596KRS4OS96RF4YUYA4X6WFQIATI3PCFBOI62EWG...
999997  LUIMDPDZZVJ22PARBCKVJI1541W3IJ47LXZQQHS9491K28...
999998  H29B7QP6NW61VCLJN5SCVE6VLJC1THAY8SC02UCJBGQBJH...
999999  AKIW7QVG2ZH2HIA0LQN9O5FEP9VJHP78X3RDL489TBKIKA...

                                                XMUN_DEST  \
0       5NSGP632RJ4E8LQAIA9OECYKB1RXF94FOGRYTZB4M05MK4...
1       401IQAIZMULLGNC0ZT3YR54XPZOJ75RFH6CY22PCQGY5NN...
2       2STYM8DVQ166UQFLDR7I5ENVQNE01C5XUC20CKZVEPC6SZ...
3       DYYF2JC13G98TCWLWQMZ173DVJBHPAEBKQ32QXPLDI6GNX...
4       P0C8LHTEIUSMV4DDS0Q46Z2QV9YEQTGUIU20JAQ3U17PM7...
...                                                   ...
999995  186G1IA2PVZCNVL2II71G5P3E78D0TAQG4BXFKSWQKWTHL...
999996  S19XP1N493YUV5JAQB84JGYJDZA0SQQHU7XUSIDV49HA92...
999997  T7NBWAS7TYA9MBSP9LNF8SACB07CG0SUEZ8LJO7AAXQC7X...
999998  7HVJKMM5YYNZC79I2FMI54KT864ASA63GX4PRGTY7T6Z3I...
999999  8GS29HHY347S6JAT03QMIW2EPE5J9SK1OX4Y1LO6TY6LXA...

                                           XNOME_EMITENTE  \
0       C5EIBFN81ODEPVC3CBJCHNFD1MY123DP5KQZUQHIP7YXJQ...
1       AFHXVJ7P89MWLKC6BO71G5XI62FOF1A4Y3TD3YKEJCD4NW...
2       KAHSCNWU0QJPSXCBN47U2MY71BZGS9G8MRSZV5TK3AD90P...
3       OP2E5WFUXPRABEZFDQJIPEUBAVOON1NQCYTZ78O2WHQT04...
4       M12PEAHSNRXLUAFBK84Z2BBQ0IEGJPT69I1HHIXCR3N6MQ...
...                                                   ...
999995  N5W2H5V08X8MVANKP34HWDLH9JBZBNLCXJGSJ16UXQUG85...
999996  WKSFDVY7BPRFVLRFFZARVSD7BBDP2879KFB3VFVN8X5KE1...
999997  L10ACJHKVT8QQPRB2MI9FLCAGFGZVTXVZY1A3MITO5KCPY...
999998  J539WZUFIDEXC3GQZYXJMP31H11AR9C8E4TAO5V54LDA60...
999999  17N1TLYUXHG3TOU1AIV75JM5Q5C306BSRAW6W2KL6SAUIG...

                                               XNOME_DEST  \
0       34LKD011S949XYMMJF72YNS6CAZOXHKIJ9AEBD7PA3PRSP...
1       PU19OB5A4Q8IWMDUNZAVWJCWHLGKG9Q7DA5KI258O9VETT...
2       1CF2CRUZK4XC6OGWLTPTF4FSVEP2G82S95RECN8Z4K9V3J...
3       1VF9YUFHVOWFFG2E2UNNGFKOR13EATC36VDP3LVKJAP9SI...
4       D1NFYUC6TLAWMEPNHZ2JWB08DJN7HMNXKEPE2RH3G72PNC...
...                                                   ...
999995  Q43ELB9JS3ZPFE3NL12XQ19KG76L8ZNNL3ZN77VOGSLGCC...
999996  V20I9AJSB4M3RUN5YJY4KQFOF03MRXOGB7H6I8GT7KEIB6...
999997  1FGXW5XF70SZGX126SXFJ8ZB7C7E8X2AX0HZ16TUBH7SWO...
999998  AHD7X059JCCALM54DX7IT3CWZ742HHNP3QTWECRUU3O4AF...
999999  JTR0ILRAH2NS9JMRGOKC4DQLUG1ET6O1GZN1NSPNLHSUX8...

                                          XORGAO_EMITENTE  \
0       YW9FSWFQSYLBOVC46OX61GHM8R7VXF94JT2UH05PAGUU62...
1       4T47Q4VTYVOUR5KKDR4G2XV5O9UZCFUNMVRBBO8DF1JV6K...
2       SUGUTC1345LBPDMWZVEBN3KDKA5T2XKH2VK0KG67BVGN0G...
3       QPRMTCJH16JUL8EZ1PD4LCHJX2BSQI8T8GPRZCJAIMZGZR...
4       NTW0YPLX436Q1FYO7D1CARASMMVL5VXNOYYCJXTTLUK3PY...
...                                                   ...
999995  6KRM0MX1NCGOX6HO1580JDU3QQOFL7EL0KANY1BSX1JY9U...
999996  QSZMX3MJLUJ8JCQMGEZJI3MWN77U2S5LBF8XXRUS7C9VZF...
999997  NOJSOHH1KPTXBLBGNSQV439YSE12YXJHJCO1OKRGMDTVNJ...
999998  XY74QK12L5PGPVIJ1D23NTE3ZKCKGEEVM6HYT4LFMMCH16...
999999  Z0TYELLAG04K7P854INGPCORRJB0HCEX8YAMAKCRYFJFAE...

                                           XPAIS_EMITENTE  \
0       GI86NUETP9IKWHHQW4B7130EC7F4X7JBUKQCQ9MLSEUODM...
1       747C9D05D3F5ADQ4DJQN6X63CFJF9XVDYENQ33C1WKS1TL...
2       WMW2D2P1DARSUPZ4QY47A1MQEI9WTBG3E3ZQ98WGDLVDXD...
3       UKN1SR1T63HSS0WZWUK1WSLNZPW1AEPV1T37GHJMF5GOOT...
4       0GPCDNG7SMPRY147O7NFMEK1IV8SWBFEF59Q4JO7EFXCTJ...
...                                                   ...
999995  1W2MPZORIC2AHPQTQE3X1J7URJ22EW9O8IH8KX13UG6KPL...
999996  P28JEGX4LXUD7TBG7KQFPVBGM52XGI0C2LZFDWPP7PVKGG...
999997  FRM4NFEDM0I87HLZ2MZYT6SY5F7RQ9JHIG8OPF81A9DPOE...
999998  WW6WXQKCV98IZEJVYRU6KW43IC6LYRDD7BL7KFL816Y6KK...
999999  WJB2F2L48RKNHG0RVFH1NHU6X9OPCQWRDWIQG2Y6H4XUAJ...

                                               XPAIS_DEST  UF_AGENTE  UF_DEST
0       CY4ZVR4VQYBQEFYJ8YK63I7DKL1WE8M9QAYBZELSALRY9A...         ZV       4O
1       16M0BE077F5DZE2DYJV39RPV81BF7S59IJXUIZAR5PG0SB...         KJ       U7
2       LT4MU4M5KF5FSFHA5U54BQP16EXUSI9IJ2M12HQQ80JI5N...         8S       2B
3       ZOZ37TJ6SAFT4NHCJV3WZ8BP4RLH441OQ91X3ECWOD7A1Z...         AC       68
4       B5L6XKSY626XNI762PITNQTXAEKQ05MELA4ICH8CD9LI58...         LA       TJ
...                                                   ...        ...      ...
999995  YDFBJRTKTL3K54IXU4MLKS8P0EKZHLE9WQCC6D9278RWP7...         QC       B5
999996  V0TQEF3VKH8NB63QR9A2P009D4BWO6K6Z84LLNQWYVEDOQ...         XQ       3V
999997  SECWG50DH1JT2VSXZ5EM0KKZ7VM3EVRRQFAFIM7OLXJ1LD...         TN       X1
999998  SKDQRH86ZJDJGL1OAS5FVN77QAKOTF0N2GRGP033MV46H7...         PE       WC
999999  A5S09YB7IS0U3JST52KMJ1IGZ3IVA45RW5QU5QBMJQPZR7...         PM       WW

[1000000 rows x 69 columns]

### Dummy data for PRODUTO

In [6]:
data_length = get_data_length("DATA_PRODUTO")

df["DATA_PRODUTO"]["SQ_PRODUTO"] = df["DATA_PRODUTO"]["id"] # primary key
df["DATA_PRODUTO"]["NSUCCG"] = generate_number_column(data_length, 15)
df["DATA_PRODUTO"]["GTIN"] = generate_number_column(data_length, 14)
df["DATA_PRODUTO"]["TPGTIN"] = generate_number_column(data_length, 2)
df["DATA_PRODUTO"]["MARCA"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XPROD"] = generate_words_column(data_length, 3)
df["DATA_PRODUTO"]["TPPROD"] = generate_varchar_column(data_length, 15)
df["DATA_PRODUTO"]["PREFIXGS1"] = generate_number_column(data_length, 3)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["CNPJ"] = generate_varchar_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["CPF"] = generate_varchar_column(data_length, 11) # Validar
df["DATA_PRODUTO"]["IMGURL"] = generate_varchar_column(data_length, 300)
df["DATA_PRODUTO"]["XORIGEM"] = generate_varchar_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["XDESTINO"] = generate_varchar_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["NCM"] = generate_number_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["SITGTIN"] = generate_number_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["DSIT"] = generate_date_column(data_length)
df["DATA_PRODUTO"]["CSEG"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CFAM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CCLAS"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CBRICK"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SUBGTIN"] = generate_number_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["TPSUBGTIN"] = generate_number_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["QITENSSUBGTIN"] = generate_number_column(data_length, 8)
df["DATA_PRODUTO"]["PESOB"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOB"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["PESOL"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOL"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["DT_FIM"] = generate_date_column(data_length)
print(df["DATA_PRODUTO"])

              id  SQ_PRODUTO           NSUCCG            GTIN  TPGTIN MARCA  \
0              0           0  713918836657614  73064320471130      15    DD
1              1           1  476031408004241  66355690133475      17    88
2              2           2  180779003230291  63958598037962      33    KY
3              3           3  917990382725053  80767524930436      46    C8
4              4           4  429277093309424  15270774091423      69    2M
...          ...         ...              ...             ...     ...   ...
2999995  2999995     2999995  860839450903863    825066593275      30    PW
2999996  2999996     2999996  905633212213872  88543202276291      32    E9
2999997  2999997     2999997  747412666157493  62691679041630      70    MJ
2999998  2999998     2999998  331704967882410  81295594245895      60    UK
2999999  2999999     2999999  337887662203930  64230398010865      50    K3

                            XPROD           TPPROD  PREFIXGS1    PREFIXEMP  \
0                        e bolo à  8IU6E8AQ7N3UWYV        731  68935802520
1           serviço pasto  brasil  NUM18HCRE15KLBP        378  90311172445
2         vaca  lanchonete cabra   IC4C2AAOZN11D8H         70  90541310518
3                  e pele  pasto   YK60AVFT0ETHX8L        817  28009619231
4           peru alimento  frango  L59VYFKX6X8GKHN        323  68430089195
...                           ...              ...        ...          ...
2999995          grão  uva milho   Z8CBHJDS6DAHF58        557  88708655006
2999996  madeira cobra  alimento   ZVFNX4W9V7YNC5M        596  88456465449
2999997          ou cabelo arroz   YC08ZYVAKGEPPCY        804  63764052559
2999998       laranja banana peru  6UDNE3T0K3ZBKO2        721  10242064861
2999999            cachorro e com  0R8X7Q2AFAY84JU        250  96441130942

         ...     CCLAS    CBRICK         SUBGTIN TPSUBGTIN QITENSSUBGTIN  \
0        ...  76269270   3110030  28071355898573        47      21878528
1        ...  68323664  51702303  70525368745041         9      80099746
2        ...  27524725  19984340  98512165680316        29      19701281
3        ...  88473194  74688750  15045102255267        87      46665282
4        ...  87163618  98475380  38994842151683        59      59168170
...      ...       ...       ...             ...       ...           ...
2999995  ...  64008601  95391206  96453648310266        42      62277896
2999996  ...  34003443  89989035  26085740871426        42      20360327
2999997  ...  46862702  90546982  28815703725507        68      28169041
2999998  ...  33990016   9286693   2372174170901        42      20110909
2999999  ...  89677472  20564509  85274732279852        74       9079869

             PESOB             UNIDPESOB      PESOL             UNIDPESOL  \
0        99433.441  F6KSBYCZ5O600KO95Z68  37349.546  3WEHPECB3BBTFD912317
1        23450.372  1P8NJN43KO5BWJV6RV50  76063.924  F6TU0FFS9YZMEBOXELU4
2        68907.471  CT0M45NAM9MGSI01I6FX  28442.236  ZTKJL5RJHUEFQNJ91O1E
3        62116.389  8X6S5CR40BRF5VWL3P5C  32702.602  N1PTZHPDGEMWH1WSYUUJ
4        85196.104  6K9IKG9EH71PUBFGARP2  50089.096  O9KX6B5UI1QEQZMUE96W
...            ...                   ...        ...                   ...
2999995  89948.442  UR988WL88VVDPJG3OBSJ  42340.872  U8UW4VZ74TH0NF6EVXJO
2999996  80663.623  HL94PYPO5Q8MAQV3KQOP  12409.896  IZMXJMFFG31YVAH1A9E2
2999997  39521.884  MCWY1535IVTMVXREJKQ2  34658.161  5HLGNNP8PBJAEH5VCSCH
2999998  95880.330  B7PRHZQKLCGHD2QS3TB9  33384.998  ADD9I7TJ72D0HM7TRSKD
2999999  68737.052  F6SZKYENF7V7Y3A48RSF  94737.616  F1ME3N9H0INKSG912QF6

            DT_FIM
0       1993-01-21
1       1998-05-07
2       2015-01-23
3       2008-04-30
4       1995-10-08
...            ...
2999995 2003-02-11
2999996 2011-01-04
2999997 2013-05-08
2999998 1994-02-28
2999999 1998-01-13

[3000000 rows x 30 columns]

### Dummy data for PRODUTO_SERVICO

In [7]:
data_length = get_data_length("DATA_PRODUTO_SERVICO")

df["DATA_PRODUTO_SERVICO"]["SQ_PROD_SERV"] =  df["DATA_PRODUTO_SERVICO"]["id"]
df["DATA_PRODUTO_SERVICO"]["SQ_NF"] = generate_foreign_key(data_length, df["DATA_NOTA_FISCAL"]["SQ_NF"])
df["DATA_PRODUTO_SERVICO"]["NITEM"] = generate_foreign_key(data_length, df["DATA_PRODUTO"]["SQ_PRODUTO"])
df["DATA_PRODUTO_SERVICO"]["CPROD"] = generate_varchar_column(data_length, 10) # diminuiu
df["DATA_PRODUTO_SERVICO"]["XPROD"] = generate_varchar_column(data_length, 10) # diminuiu
df["DATA_PRODUTO_SERVICO"]["NCM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO_SERVICO"]["EXTIPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CFOP"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UCOM"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VPROD"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UTRIB"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VFRETE"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VSEG"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VDESC"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VOUTRO"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDTOT"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["XPED"] = generate_varchar_column(data_length, 19)
df["DATA_PRODUTO_SERVICO"]["NITEMPED"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["NFCI"] = generate_varchar_column(data_length, 10) # diminuiu
df["DATA_PRODUTO_SERVICO"]["INFADPROD"] = generate_varchar_column(data_length, 10) # diminuiu
df["DATA_PRODUTO_SERVICO"]["NRECOPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEST"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDESCALA"] = generate_varchar_column(data_length, 1)
df["DATA_PRODUTO_SERVICO"]["CNPJFAB"] = generate_varchar_column(data_length, 18) # Validar
df["DATA_PRODUTO_SERVICO"]["CBENEF"] = generate_varchar_column(data_length, 13)
df["DATA_PRODUTO_SERVICO"]["CEAN"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEANTRIB"] = generate_number_column(data_length)
print(df["DATA_PRODUTO_SERVICO"])

              id  SQ_PROD_SERV   SQ_NF    NITEM       CPROD       XPROD  \
0              0             0  669858  2468047  UEK36M706C  IBWV1LQOQD
1              1             1  996631   487329  OSRUJ1YSNW  CRM66RZK4N
2              2             2  336901  2053172  FRKIC65KAU  9U6NIB0CT4
3              3             3  254840   690040  KDANQMC7F8  AQM9MXFVM9
4              4             4  174253   786597  EK0LIU3YF2  Y7U79ART9Z
...          ...           ...     ...      ...         ...         ...
1999995  1999995       1999995  520717  2597874  GMSEWYBDMG  7U6FFFZ44D
1999996  1999996       1999996  376960   132794  0C6ABLZRBW  QIKE3JK3FY
1999997  1999997       1999997  695542   700692  UM7N0SZ6D3  KFT3DDNMNY
1999998  1999998       1999998  879042   205983  XPA7RELLRE  T9UG7NSP84
1999999  1999999       1999999  991250   856453  OQVC745U5C  5LDZDIIQGC

              NCM    EXTIPI        CFOP     UCOM  ...   NITEMPED        NFCI  \
0         3294581        28      573111  L7MZ3EM  ...          5  IRV41X88V0
1        56050296    446052         783  SXIUFFS  ...     450539  PX76R7FTYO
2        25781499       974  9200664758  PSJEY7F  ...        485  WEXLR1795S
3         3348692  32805004           0  7SEIFWL  ...        677  8SEYWERFMQ
4        50694491     35294        8119  7ZPUODQ  ...  862608083  2AUE94NT69
...           ...       ...         ...      ...  ...        ...         ...
1999995  16522905    805193           0  D5UM0JM  ...      62582  10S3O03OQS
1999996  38342862      4218   852110204  N0BEGKJ  ...     380342  QCZDENEP36
1999997  42214725      9489         914  GQQZ7DD  ...    4146221  DPTV7ZRDF6
1999998  34857161   2493963         783  WQTLUEH  ...  528955034  U3LVFYPLW1
1999999  84311002        12     4449317  JCNA04C  ...          4  CVOJG5UNHV

          INFADPROD   NRECOPI       CEST  INDESCALA             CNPJFAB  \
0        P7KFFH3Q5N    672968   31140319          N  9N5MGYZAI51A4CBZF2
1        DEWDDC724M   7229652   57997196          C  M3JSI37IAGC18WOBUI
2        T7EKH46NO6     40101   42137606          T  G5GTTGXHZC3SWEQ2NP
3        JF04UE7Z95         3        280          F  7O93PLYSJ6S6M4N9Q3
4        CIYSS526Q1  35118937     506536          5  UMDC2BLWXU4Q7XXFWZ
...             ...       ...        ...        ...                 ...
1999995  BH11L8RNJL       133        349          K  YPTDK7LN11MXHYBEU9
1999996  FD7KKX6BVA       217   67061436          Y  6VEH2GX034NKPU97H4
1999997  788FD962EE   9370731    7576909          X  W2RJ49RTB2FBWJW4GN
1999998  7J21MNJJRZ         9  487690357          E  6YYP0F9YDBACZ97YDN
1999999  T4DR2B5NYN       709          3          L  NO0V9M4GILM37WOPDF

                CBENEF        CEAN   CEANTRIB
0        6HDPAEPGWNC3P        2799    7489851
1        3HV1KF3U8T985           2   38653782
2        H1WEW9RPAGH6F  9083648059    8499541
3        DRC7RZKT4UUL7         116    3935050
4        TY39QX1GOKITE   595404634  164555991
...                ...         ...        ...
1999995  AZIH0A0C1UNW2      372034     251432
1999996  8L8HNQORJI4V8        1122          2
1999997  S8MR1HDXW4HJY    60690934     865486
1999998  PNYZ0V44W7G3U           1          8
1999999  S6POPC73CFFN1         225          9

[2000000 rows x 32 columns]

### Dummy data for IS_VW_ESTAB_EMPRESA

In [8]:
data_length = get_data_length("DATA_IS_VW_ESTAB_EMPRESA")

# GENERATE RANDOM NUMBER VARIABLE TO IS_VW_ESTAB_EMPRESA

df["DATA_IS_VW_ESTAB_EMPRESA"]["IN_EXIGE_NIRE"] = generate_number_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["VL_CAPITAL_SOCIAL"] = generate_float_number_column(data_length, 15, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_APLICACAO_REGIME_APURACAO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_PORTE_EMPRESA"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_ORGAO_REGISTRO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO"] = generate_number_column(data_length, 20)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_PORTE_EMPRESA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 5)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_CONDICAO_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ORGAO_REGISTRO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_SITUACAO_CADASTRAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_UNIDADE_EMPRESARIAL"] = generate_number_column(data_length, 9)


# GENERATE RANDOM DATE VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_EXTINCAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_CONDICAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_NATUREZA_JURIDICA"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_REGIME_APURACAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_ORGAO_REGISTRO"] = generate_date_column(data_length)


# GENERATE RANDOM VARCHAR VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO"] = generate_varchar_column(data_length,14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_SITUACAO_CADASTRAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_REGIME_APURACAO"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CPF"] = generate_varchar_column(data_length, 11)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_UF_MATRIZ"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["TP_PESSOA"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_NATUREZA_JURIDICA"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TITULO_ESTABELECIMENTO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_ORGAO_REGISTRO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_UNIDADE_EMPRESARIAL"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_MATRICULA_LEILOEIRO"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_ANO_INSTRUMENTO_LEGAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_OBSERVACAO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TIPO_UNID_ESTABELECIMENTO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_RAIZ_CNPJ"] = generate_varchar_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_PORTE_EMPRESA"] = generate_varchar_column(data_length, 80)



#PRINT DATA_IS_VW_ESTAB_EMPRESA

print(df["DATA_IS_VW_ESTAB_EMPRESA"])

      id  IN_EXIGE_NIRE  VL_CAPITAL_SOCIAL  CO_APLICACAO_REGIME_APURACAO  \
0      0            379       2.649898e+12                            16
1      1         295784       4.248079e+12                            38
2      2            641       6.148899e+12                            47
3      3              5       1.380764e+11                            88
4      4            685       8.266511e+12                            67
..   ...            ...                ...                           ...
295  295     1653036362       4.164739e+12                            12
296  296             67       4.242183e+12                            54
297  297           5058       2.125763e+11                            63
298  298        8248347       7.055639e+12                            52
299  299        3842314       6.254728e+12                            87

     SQ_PORTE_EMPRESA  SQ_TIPO_ORGAO_REGISTRO           NU_REGISTRO  \
0                  47                      34  79127430490477701298
1                  86                      30  86400096285297371901
2                  50                      33  29549990866210416308
3                  17                      16  69792748815546157575
4                  45                      50  89905149645420939563
..                ...                     ...                   ...
295                50                      58  38895326972852934748
296                30                      47  70231839626119270506
297                73                      84  10426348947042287157
298                64                      71  15577512357011136771
299                69                       9  78812939152188839105

     CO_REGIME_APURACAO  CO_TIPO_UNID_ESTABELECIMENTO  SQ_REGIME_APURACAO  \
0                   214                           326                 875
1                   102                           881                 341
2                    76                           639                 338
3                   216                           139                 323
4                   708                           639                 546
..                  ...                           ...                 ...
295                 995                            35                 653
296                 353                           641                 743
297                 492                           203                 118
298                 744                           379                 382
299                 132                           113                 746

     ...                                  NO_ORGAO_REGISTRO  \
0    ...  0SNZ11Y9N74OZAE2VVJJNCHFWKQQKD469UPBX95QFYGQ7X...
1    ...  8DR7CAVH0OAANZ34QPQKH2PXUSWBDMX5OFOPIH7L08XYNQ...
2    ...  OHXP9K28WO844USU6JRS22OJI46MOPVPSHKN6T7CXW0JOO...
3    ...  HEPUQY19I4RO5NEIJ21J78GWE9SVIZNI6TXHQ1J1DA0X83...
4    ...  4UETV40RZJ4UB8I6F9F8E3MMIN50J7JXCQ6PGE582T8SH9...
..   ...                                                ...
295  ...  H6O95NWSUF4UNY4QZK8Q1MMCND6C2KPTN3NH8MGR6W1PQH...
296  ...  UEA878ZKHVA8SJXX90Z0SPUCBKPC49H7J0DWBDUO0ETLVS...
297  ...  8C0TJENCBDHK2J33D7RY5DE1ZF48WSVXPHI1JSSGBX5VGR...
298  ...  JTTFGVNX6E936OZECZ9WLTYDLFKPSPFQHWL66JW387CEHN...
299  ...  WSR1HYRCWCSGJ37495P0JI8JCIJ7E6FG58F7UO7A1I9VDI...

                                NO_UNIDADE_EMPRESARIAL  \
0    KY0CS1VZIKWUE8UPZCHIZ6HGTSHLYN5LOB3HX9EUNQ22JB...
1    WCHFBKFEJJB7EN2IW4OWF6CJC9NJKSVI5NHS2ML6J6FVXT...
2    P0LCCOCKTQDOUKQL2KEEUCZOQKHUOGHQCBH5ED2NX6MJ49...
3    3PJOG8M949PBJFZXI789EJOJ7NZ8XYPZ5LC5R126JBWF6J...
4    P0Z8OBY666XABHABEDXOWH8KQ0D7WMS0172G0Y06QFFEWV...
..                                                 ...
295  OWCI7SN0V6WDOXZ04OOHLDMTCZ1DICTQIOCNJFRX41A7HD...
296  YGCHNHHE8BYDHY4AG16YC4YRH8DXUM1QE03VFHEDHSO3NA...
297  R5NB29XD6A63XNG9RHUNBZUEQNBJ9RD9A1P0IDUEWO4ANL...
298  ATFYM0YGLPFEE72PELG06B4RFMLPWDW6G29WEDIKMYESJ4...
299  6O2YVRAHMUR7K4B7N1ZW44EFO5XAWO2O9SMZ6HPQV2WFPG...

             NU_MATRICULA_LEILOEIRO              NU_REGISTRO_MATRIZ  \
0    HVK8XX72RXP6D2H4ZYQ1VWB0WIQSM3  NNTPXQIZXGY8XCMNWQOZHGZ7GULLHN
1    D9R0B1K8HNQ7S6MSH7KFTVOTNVDTFO  RDL7BP51Z7EL3CCI8UEMRN6AENZO24
2    N3PA0PY8IBJUE32PHPFG0UZU1QFBM6  1GA10QJV7TIWGLU6W5SUDLRMJFQFUN
3    X2QD883UF5ZCVU0CSPI7LQTP4T1VE2  HEBX3AWIXX2SGJLLU51EA8P6DVH1SB
4    HXSZ20ZG3P82B0SVZ4V7F3VOI20NXY  CF8N1WIJUAZJUFC1TKP1O7OZ29F3VU
..                              ...                             ...
295  5BSRX7RQRJEDH216LNDCHO5DXMDOVH  I0S0IJN4QDRE32AE0GVPMEDADII171
296  5DNGC2V8N20VV6P4JCPNQ8IMZLC02P  5A87SHPGIJF3IXP5J9C8IEOW4FGV2E
297  T6W2MEZ5D8BFWAOGAYVYDR69IGTJI8  2V0FMRX29SH1JN51327LTPT10GQ0QA
298  D3AEYLLL2QYY2L7SK1W2GXYGYVYJNG  2CRIATGVV9DOXTCDMD6EX669TZEMFX
299  VXJ6HFG14O86L03I7LBZYBWJB3I568  TB0FIJB2IWTFRDHJ8MS3CDT816XSL8

     NU_ANO_INSTRUMENTO_LEGAL  SG_CONDICAO_INSCRICAO_ESTADUAL  \
0                        VKNF                            CCE3
1                        0V05                            HBIR
2                        A3BF                            J1MX
3                        5BKV                            CSIR
4                        Z5SA                            V0D7
..                        ...                             ...
295                      8GX8                            W2YH
296                      27FZ                            DVSI
297                      0MWB                            XQC8
298                      W8XY                            DKA6
299                      MCTD                            VS1X

                                         DS_OBSERVACAO  \
0    65BSPTQTOL4BLJU1PNHMM342LKUWKS1H71B3XVGK2Y9FMC...
1    FHZK7OM776PZ2EQED1VYWBW9PSHRUFEWWYAEXMPIUEHWCN...
2    IO0WSK8L02Q904IFIWHXSVRFILJP3NWSGEZFVCUXPUE1SM...
3    1X9728HZQU5N43CJ9RVMZAWDSEN7HT8D9Z32U2FBG9572T...
4    908ULFMHX7TV7BG3T3VJV4GFHE59T3DLD1H5MP1EV7D3Z8...
..                                                 ...
295  9NK8UJCS02CPGT0AVXWV6PZNAZ7A2SO94PDP403BE3NMOM...
296  RMC2CE3VYHUUFZT8BYESHQAYIUM648WBTA5M6OM99ISQNZ...
297  YV6SSL04LBW34229KF1XH4U525YI9NN103YSAE856O7QM6...
298  PFYUH4A70S52OEOF5KUXTZRUA24FIML75F75F5HERKY1SH...
299  7QX5ELSLD2YBI48SBKXSUBLYO3PL3SV7M9VFJXH8ZUB8WF...

                          DS_TIPO_UNID_ESTABELECIMENTO  NU_RAIZ_CNPJ  \
0    E6SB8TR2NY655TKFKHEY538TOSQZQS6F52U2X57IT0OKHR...      PAUI5QB5
1    E0IUORQQAQH2XCMJBV5LRWX2ZTW5TWWHRLJTTRH6F4MHZ9...      XLZ62Q4Q
2    OOUCB9T5JF0B3UYGQJ5XUOMPSRA2S3O1AKUPPR3W9M1027...      6N4RQVHV
3    Z8IFWHJY58Z7LW16OGD921CFSZ0FK8ABPVYJ235BBSOOEC...      TY4CTF41
4    7DLVF82YDF8DJQBGJ5BH9GSNHI7STWCSR0BKJ9K47CFDIQ...      44863HGU
..                                                 ...           ...
295  KTFETO0HYINLNY233O97JXZXTW38YOJMHR7KGV37Z1S7EU...      XRSBEC4Z
296  ZXTNZJJB2FFP1SR615F6JMGSR6O0NKLGKH0U07CDIFTQUU...      DN6I8K39
297  03D0WL3AT7R9YJQIMKR8V6ZOSZX2JFFUC2HVIKND7ZP0ZZ...      2GVS93FQ
298  9EWYHXNUC4CYQ41QDGRR1VWJQ2IAEAT0F3VLRF0NKOYD4O...      2W51PKVG
299  XKRZULEVVP0NFHD89KTYFTDM8L8UHMIDPB12OH937A58WU...      1EI5JPH9

                                      DS_PORTE_EMPRESA
0    6AF1VFVQS0BACB0Y95SNSCIXF5AMZPADA6D9UYFTPQY1HY...
1    TC7VKLDQOAHEZYEOJG94MHILCPTEEFN4NHY0S3ARMK7LUQ...
2    TKMY1KSXKLAJVJ60880RZBY1SE3HZ2Y0GEH0DY64V5RHO2...
3    6UCS3I4P1016Y59HACTFX8B0GIFIHF8L6DHDSX75JQ48CW...
4    U9OTV98M5RKLELRT03X4BRNS91ITWPB8CBD4Y68VBLP5HG...
..                                                 ...
295  2BLMYMKHL1WGTAECMRX2W9P31A1LWOB1R9MOVGEEUDT1AS...
296  7IRD3I5QN4HZXHXKH8BXZCUYYIQM9429ZRUM0NIB0LFFDN...
297  4NI688N7ZHW1O2PUCQYWRXJ3H3WQEPP6G0ZHRYKCW7T895...
298  G4PYMDQIQ2XAA6FX2S7H38AOVMJ0EW9YNDOOLRUKHFCS8H...
299  3Z2N4QSZGCBLTLC14UXC8EY82G3B472ST7D8B6B3VZR83R...

[300 rows x 51 columns]

### Dummy Data for IS_VW_ESTAB_ATV_ECO

In [9]:
data_length = get_data_length("DATA_IS_VW_ESTAB_ATV_ECO")

# GENERATE RANDOM DATE VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_INICIO_EXERCICIO"] = generate_date_column(data_length)

# GENERATE RANDOM NUMBER VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_VERSAO_TABELA_ATIVIDADES"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_NIVEL_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["IN_PRINCIPAL"] = generate_number_column(data_length, 1)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_ORDEM"] = generate_number_in_range_column(data_length, max_range=9)

# GENERATE RANDOM VARCHAR VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["CO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 7)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 200)

# PRINT DATA_IS_VW_ESTAB_ATV_ECO

print(df["DATA_IS_VW_ESTAB_ATV_ECO"])

      id DT_CONCESSAO_INSCRICAO DT_INICIO_EXERCICIO  SQ_ESTABELECIMENTO  \
0      0             1996-10-29          2017-06-30           263108568
1      1             2007-11-13          2010-01-01           972897775
2      2             2020-10-12          1999-03-21           350060303
3      3             1990-10-17          2010-04-11           591005468
4      4             1993-06-08          1990-02-25           364541915
..   ...                    ...                 ...                 ...
295  295             2005-10-12          1993-04-24           167397366
296  296             2002-01-12          2018-12-10           370177049
297  297             2015-04-08          1990-09-10            72998424
298  298             2020-04-27          1996-07-31           137482519
299  299             2003-12-07          1990-11-09           574302976

     SQ_INSCRICAO_ESTABELECIMENTO  NU_INSCRICAO_ESTADUAL  \
0                       345802079               12828649
1                       262544170               61881925
2                       138945748               72833029
3                       652168566               71862825
4                       359039854                2689121
..                            ...                    ...
295                      55900159               64242682
296                     529357627               37987241
297                     686153484               10880603
298                     437483558               17576220
299                     657501130               19497132

     SQ_ATIVIDADE_ECONOMICA  SQ_VERSAO_TABELA_ATIVIDADES  \
0                 189515281                    836667324
1                 137064312                    678765198
2                 127626548                    428666963
3                 474170775                    826224095
4                 356019769                    736714362
..                      ...                          ...
295               424560443                    803912777
296               885697640                    812177476
297               440728849                    917490760
298                59651914                    996949948
299               971770206                    795475711

     SQ_NIVEL_ATIVIDADE_ECONOMICA  IN_PRINCIPAL  NU_ORDEM  \
0                       410270152             8         2
1                       287209558             2         9
2                       358908246             9         2
3                        54637267             8         3
4                       425185636             6         4
..                            ...           ...       ...
295                     581006632             8         2
296                     780339508             9         8
297                     654479078             1         1
298                     115482098             6         3
299                     505582740             2         4

    CO_ATIVIDADE_ECONOMICA                             NO_ATIVIDADE_ECONOMICA
0                  4Q29O0I  8HPMSCQQH1VDRV3ZMFBYIQHHF50GSN7JTQHLEQ1ZCLIB9J...
1                  KE5C30B  M56RKKAFLUV0LV6L5783HXXXILFVCDBSOWCADBEE0YDS52...
2                  F0RDOOQ  WCWHFTK0R70MN5EHP11561ZRM9J8SWUCW3VRDP9VH5XDR3...
3                  9VVT0PC  NW24KGETWWHRDADKJ0FE2NMQ9VOBOQCK17BXKZ3L9P6Z3U...
4                  MUR7MF7  O5CCTBCF56NANMISL2AVY7B776CDD00UE5TB6MLUYS5R0F...
..                     ...                                                ...
295                8J1KUS8  NZ5N9MABVFXI0V2WXN7LXOV7NUUI92OQ6X10OGKJ9JWMD1...
296                SSJQUPI  EMZHBNAVUOS50MU58JMRFO4F4I5P2D1M86043J5V9YFHCA...
297                N4AZITC  UTCP34JJ02KE6VNN1GD64XEQVN59UFWGNFP2JEKE6RVX5M...
298                U5N8IAT  L6L4UT5XWYL992W3PZNFLUQHSZ3PYFNYIZCC99ZCQFNH9G...
299                V59XGHK  3UT8HQSDORNAYAGHI8XIJ8RVF82DS04QSMMQL6UGJ8FCDM...

[300 rows x 13 columns]

### Export as CSV

In [10]:
for x in data_tables:
    df["DATA_{0}".format(x)].to_csv ("Tabelas/DATA_{0}".format(x) + ".csv", index = None, header=True)