## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Auxiliary functions

In [1]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [2]:
# Returns a list of randomized varchars with the specified data_lenth. 
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_varchar_column(data_length, column_length = 0, max_random_length = 10):
    varchar_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = column_length)))
    else: # random size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = random.randint(1,max_random_length))))
    return varchar_list

# Returns a list of randomized INTEGER numbers with the specified data_lenth.
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_number_column(data_length, column_length = 0, max_random_length = 10):
    number_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = column_length))))
    else: # random size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = random.randint(1,max_random_length)))))
    return number_list

# Returns a list of randomized FLOAT numbers with the specified data_lenth.
# The column length and the precision must be specified
def generate_float_number_column(data_length, column_length, precision):
    float_number_list = []
    for _ in range(data_length):
        number = ''.join(random.choices(string.digits, k = column_length - precision)) + '.' + ''.join(random.choices(string.digits, k = precision))
        float_number_list.append(float(number))
    return float_number_list

# Returns a list of single randomized numbers within a certain range with the specified data_lenth.
# The min value of the range is passed in min_range and the max at max_range
def generate_number_in_range_column(data_length, min_range = 1, max_range = 9):
    number_in_range_list = []
    for _ in range(data_length):
        number_in_range_list.append(random.randint(min_range,max_range))
    return number_in_range_list

# Returns a list of randomized dates within a certain year range with the specified data_lenth.
# The min value of the year range is passed in min_range and the max at max_range
def generate_date_column(data_length, min_range = 1990, max_range = 2020):
    date_list = []
    for _ in range(data_length):
        date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(min_range,max_range)), '%j %Y')
        date_list.append(date)
    return date_list

# Create a code key using a unique number sequence id plus a random string sequence.
# If the column_length is equal to the digit length of data_length, then only a sequence of numbers is returned
def generate_primary_key(data_length, column_length):
    key_list = []
    for x in range(data_length):
        number_sequence = ''
        for _ in range(len(str(data_length)) - len(str(x))): # length of integer in data_length (used for max size in number sequence)
            number_sequence = number_sequence + '0'
        number_sequence = number_sequence + str(x)
        code_sequence = ''.join(random.choices(string.ascii_uppercase + string.digits, k = (column_length - len(str(data_length)))))
        key_list.append(number_sequence + code_sequence)
    return key_list

# Receives a list of primary keys and return a random list of foreign keys with the data_length size
def generate_foreign_key(data_length, pk_list):
    fk_list = []
    for _ in range(data_length):
        fk_list.append(random.choice(pk_list))
    return fk_list

# Return the length of the table specified
def get_data_length(table_name):
    if table_name == "DATA_NOTA_FISCAL":
        data_length = 1000000
    elif table_name == "DATA_PRODUTO_SERVICO":
        data_length = 4000000
    elif table_name == "DATA_SITUACAO_NF":
        data_length = 300
    elif table_name == "DATA_PRODUTO":
        data_length = 3000000
    elif table_name == "DATA_IS_VW_ESTAB_EMPRESA":
        data_length = 300
    elif table_name == "DATA_IS_VW_ESTAB_ATV_ECO":
        data_length = 300
    else:
        data_length = 0
    return data_length

### Create tables

In [3]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
for x in data_tables:
    table_name = "DATA_{0}".format(x)
    data_length = get_data_length(table_name)
    data = {"id": [x for x in range(data_length)]}
    df[table_name] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':             id
0            0
1            1
2            2
3            3
4            4
...        ...
999995  999995
999996  999996
999997  999997
999998  999998
999999  999999

[1000000 rows x 1 columns], 'DATA_PRODUTO_SERVICO':               id
0              0
1              1
2              2
3              3
4              4
...          ...
3999995  3999995
3999996  3999996
3999997  3999997
3999998  3999998
3999999  3999999

[4000000 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':               id
0              0
1              1
2              2
3              3
4              4
...          ...
2999995  2999995
2999996  2999996
2999997  2999997
2999998  2999998
2999999  2999999

[3000000 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Dummy data for SITUACAO_NF

In [4]:
data_length = get_data_length("DATA_SITUACAO_NF")

df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = generate_primary_key(data_length, 61) # primary key
df["DATA_SITUACAO_NF"]["DT_STATUS"] = generate_date_column(data_length)
df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"] = generate_varchar_column(data_length)
df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"] = generate_number_in_range_column(data_length,max_range=3)
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"] = generate_varchar_column(data_length,61)
print(df["DATA_SITUACAO_NF"])

      id                                    CO_CHAVE_ACESSO  DT_STATUS  \
0      0  000PGB4DTECAK69068QL0AGQ6RWXIRLG9IZG18WBM740LL... 2006-07-01
1      1  001M4LZZOODFV3DA1P0GYBXAU8SZAEUWSIPMGAEJ6SYT7Z... 2019-10-30
2      2  002MECH3K0XFSNLYMVHEFK1PHWVJQRKQDJNEOQ2BSC34BQ... 2014-12-31
3      3  003AHDTJVBJZJJ5AZBMNQALWSVZ50031GHU9580FL7XEX0... 1996-02-23
4      4  004YQYELEIDOVQBVV6KXQ6H4KK8S8FZCY1MOVSSU7MRRQT... 1990-03-20
..   ...                                                ...        ...
295  295  295665DNKDC5JRCG84JMQ99AE739BO0RD8V2O1REZ51ZVC... 2005-07-15
296  296  296VUAA1452PU8XFBCD7B98POMDVQBH2A5A4QTN9RGZI1M... 2002-09-02
297  297  297RGUT0XWPKH4DW3XVWFW9V4Z9O7ZK9UGSZ13XMOA9OH5... 2016-03-07
298  298  298ZMQ21MJZJT425RENVDIRIFPISKB7TFY8L2WY1XE4FL4... 2002-04-25
299  299  299ZTHXJ2N05OBX58DXAAMJ6CNQKSYV6TPYC6909RJDJEI... 2019-03-20

    SITUACAO_NF_CO_SITUACAO  TP_ORIGEM_ATUALIZACAO  \
0                VVHPYNK615                      1
1                        25                      3
2                      RBOV                      1
3                       KTX                      1
4                        MX                      3
..                      ...                    ...
295                       T                      2
296               JQ9DY18LR                      1
297                9ZEUPW00                      3
298                      2L                      2
299                   71AZ6                      2

                          CO_CHAVE_ACESSO_CANCELAMENTO
0    7Y7AHDZ8BO1MJO6F2PEO3FVQUDNN8OGBZ6HVHJ0MSJ0EIZ...
1    PKWVPRN51I07B8FPFNCRJN8GZKH1IVUVT14TBUNOXBNBM1...
2    J8MLZGYHH44IN7QIEO5QORG3NGRGLUNSH77NBYKIGJJB3Z...
3    S5FHSD5A734VY7LLE1EWQSHU5B4NBGWIJJ3BOU8PHWTHGB...
4    6RYZ4VN95ZTAGBP607SMOI5F3Q54VIZDCWU1U3RJX4ZXSK...
..                                                 ...
295  PYAAOWTXQXT2T3I4G8HLCIAMTZ499EHNO0MQZQOOCKAE2K...
296  8O2MSRCP30KK9CWU33IRF2B6JJN2VIW3GR2FR3XZDJDYNJ...
297  Q5ZSSQ2RU55RCZWLB7Z4KU3O4COAOC5141FCGO2RZI5WJ8...
298  D78TLE548HL8AWS5OFNQJ0U4VQMV5V7C2TZWWRHF4A46QJ...
299  BAWCSE2G3LIXGF8FSGBPD1ZFHW2ZJM4PQICFU8FSMM18AK...

[300 rows x 6 columns]

### Dummy data for NOTA_FISCAL

In [5]:
data_length = get_data_length("DATA_NOTA_FISCAL")

# GENERATE PRIMARY KEY
df["DATA_NOTA_FISCAL"]["SQ_NF"] = df["DATA_NOTA_FISCAL"]["id"]

# GENERATE FOREIGN KEY
df["DATA_NOTA_FISCAL"]["CO_CHAVE_ACESSO"] = generate_foreign_key(data_length, df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"])

# GENERATE RANDOM NUMBER VARIABLE TO DATA_NOTA_FISCAL
df["DATA_NOTA_FISCAL"]["CDV"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CEP_EMITENTE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["CEP_DEST"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["CMUN_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CMUN_DEST"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CMUNFG"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNAE_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["CNPJ_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CNPJ_DEST"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CNPJ_ORGAO_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CPAIS_EMITENTE"] = generate_number_column(data_length, 4)
df["DATA_NOTA_FISCAL"]["CPAIS_DEST"] = generate_number_column(data_length, 4)
df["DATA_NOTA_FISCAL"]["CPF_EMITENTE"] = generate_number_column(data_length, 11)
df["DATA_NOTA_FISCAL"]["CPF_DEST"] = generate_number_column(data_length, 11)
df["DATA_NOTA_FISCAL"]["CRT_EMITENTE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CUF"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["FINNFE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["FONE_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["FONE_DEST"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["FONE_AGENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["IDDEST"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["INDFINAL"] = generate_number_column(dat3520onichichia_length)
df["DATA_NOTA_FISCAL"]["INDPAG"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["INDPRES"] = generate_number_in_range_column(data_length, max_range=9)
df["DATA_NOTA_FISCAL"]["NNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["PROCEMI"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["SERIE"] = generate_number_column(data_length, 3)
df["DATA_NOTA_FISCAL"]["SQ_TP_DFE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["TPAMB"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPIMP"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPNF"] = generate_number_column(data_length)

# GENERATE RANDOM DATE VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["DH_GRAVACAO"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHCONT"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHEMI"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHSAIENT"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DEMI_DOC_ARR"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHRECBTO"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DPAG"] = generate_date_column(data_length)

# GENERATE RANDOM CHAR VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["TPEMIS"] = generate_varchar_column(data_length, 1)

# GENERATE RANDOM VARCHAR2 VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["IE_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IEST_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IM_EMITENTE"] = generate_varchar_column(data_length, 19)
df["DATA_NOTA_FISCAL"]["IM_DEST"] = generate_varchar_column(data_length, 19)
df["DATA_NOTA_FISCAL"]["MOD"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["NATOP"] = generate_varchar_column(data_length, 84)
df["DATA_NOTA_FISCAL"]["NRO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["NRO_DEST"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["NU_VERSAO"] = generate_varchar_column(data_length, 5)
df["DATA_NOTA_FISCAL"]["UF_EMITENTE"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["VERPROC"] = generate_varchar_column(data_length, 26)
df["DATA_NOTA_FISCAL"]["XBAIRRO_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XCPL_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XCPL_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["NRO_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XFANT_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XJUST"] = generate_varchar_column(data_length, 390)
df["DATA_NOTA_FISCAL"]["XLGR_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XMUN_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XMUN_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XNOME_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XNOME_DEST"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XORGAO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["XPAIS_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["XPAIS_DEST"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["UF_AGENTE"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["UF_DEST"] = generate_varchar_column(data_length, 2)

# PRINT DATA_NOTA_FISCAL

print(df["DATA_NOTA_FISCAL"])

            id   SQ_NF                                    CO_CHAVE_ACESSO  \
0            0       0  030TOR3QX8C07A0RKXHXR8PMOTHCSVDHXMLM07DN6F4RDM...
1            1       1  262GZWOSXLI1XRQGJWQOGOGO7L8BW9JDGZMJIXR0MQOJGQ...
2            2       2  051WGTFVP7HDQADTZ1OYGL6U5YYRXIMHW2BMA4V7WDE6ZM...
3            3       3  135309JA5K98ZEDKLNBKCBSQCO3NO4O2QFYWAUG0IYH76T...
4            4       4  080TK224P2BXMG2IGY7Y182X2O54WGHT3A02B5TFNN9MGJ...
...        ...     ...                                                ...
999995  999995  999995  090HXVV7UI439NP5IBSJHZRWG99W8QE52MPEACKAVLJP3B...
999996  999996  999996  192XDB8M3OY4BLLQW0TD9Y0NCGG6AVJT0ZMT7554C9GPCW...
999997  999997  999997  128Y6UFDWU2BHZGFIV0YQ2DLV8EOZEE1LV12855FOQDS3A...
999998  999998  999998  117MP58R6EDSCJBYSXFELZLZGVPTAC4XUYBC0Z0OKK9MS1...
999999  999999  999999  298ZMQ21MJZJT425RENVDIRIFPISKB7TFY8L2WY1XE4FL4...

              CDV  CEP_EMITENTE  CEP_DEST  CMUN_EMITENTE  CMUN_DEST   CMUNFG  \
0        70266284      69097994  53451707        1584137    7472600  2978369
1          287618      30970293  60299598        5193008    1739874  1517881
2               7       8480492  76929763        9712750    3999239  4021569
3       255782152      34954319  98912806        9555835    1431299  7280275
4             585      62224845   7957743        3195809    2606859  1187659
...           ...           ...       ...            ...        ...      ...
999995     360439      39344068  93676258        9053335    3567463  2245764
999996      87479      28715576  88513707        8356394    1246235  4273946
999997       2869      15802274  13033522        3522114    7731091  7297236
999998  819913494      86433238  61686053        8821282     543586  8842616
999999          0      92408584  39895537        4524580    3575047  9915248

        CNAE_EMITENTE  ...                                      XLGR_EMITENTE  \
0             6426602  ...  RL7EGHQ8NOMBD04D8WA9XB029OML1XO9SQVVD7F6DPXJ8F...
1             1987192  ...  5BMN62600GRIGZNW0RWNSFHA3SFNR5UC8I8JY3GL3YHKPF...
2             6505440  ...  AOF86LYM2TN20M8JCJG6M1BMI09WP1YKJ3X91RESCBPZGG...
3             9840679  ...  I7AXYU7ZS5LV1NREOJ2ILY2ZH02L14E58E1D2IEJ9JNEE2...
4             9668944  ...  SOBX7FD16LRSAW3LQ1EQ1VWU7DON1QFC5WGYTJGJG4RTEP...
...               ...  ...                                                ...
999995        4948421  ...  UK6D3GDZKX89899DW8SNLKI2ZHHOWY8IVNOXHLS69V12R8...
999996        9335442  ...  677QI8RUQ57LCWWRZET5X93P43EVLDH98YIZ8S6PS7KMJN...
999997        4918303  ...  7H0GA7G0VGSJNEMIF1NDOZ7VIK5T80ULW19SIJIML23E24...
999998        6228623  ...  Y9KXBNI9K59J0OD3JCXHAWTQA578C9XXGIF5FPCMT9TFDW...
999999        1736300  ...  FNI9FPYJBDLH0G0XA4KHHHW9LZN8IRE7CQYZU8KQ5Z07YH...

                                            XMUN_EMITENTE  \
0       8MGKGWANIAZ609FIEITD9H03M2RMH9CJRMFBU7VG8JGMTA...
1       7ZT4EEC0218TGQ21YUSOULAWWT0HGYL5U3SMC4XAIJWKR1...
2       KCV4RFAUU2Q9HNBB5SF9HMFCBRUL8HYXWM92AHG3QRFQ1S...
3       KNBJMRCCZYM71GD7UWS7ABTJVQ2Z57OY8L79R5XG69DTW0...
4       F117ZLLJG8ZL4Z4AV4D6S9DYT0DM6LHG4R8T3ML0D5NPQG...
...                                                   ...
999995  K31BTRWV2PZYIXADBU9QOFB9V2I6Q4K6YBP1ZYZBTQ18B0...
999996  TRRVMT0FYD5YEIME5Q419P9327LEDIQ8SI0XSIHS0GX1AT...
999997  NO099GG84DVWJ5WHL5BISQIKMWFBA0KU67VTB7RSF34WO5...
999998  ZG6Z328Y1G8BXCW5IG94CZ8D0KMFFJV74KRW5JFST5NQ52...
999999  5MLWSNS08Z5TZBEYO75REZZITUXG5HS9A8EW6E2R9QOLX2...

                                                XMUN_DEST  \
0       QGTS5ROKO6JNC9HU5TY4UQCB00Y8EVLHGWQUE7LXCYPTN7...
1       LLZ95CPYNBAJN52BDVCTWLUV7KT1YXNTL2RDRD513P11TZ...
2       6TV4I52USRT8Z5YXLAVQVD9W90PHL8EIOORM059GHO78RL...
3       7UCB18ZCSSQUDN7NWTO6ZU1YSTHZDVOSO5FDWIH9H1JNIZ...
4       OK5490GOZS0WV8L5314GHVP7X7OKAST3C2KGOD5K38ZVHY...
...                                                   ...
999995  6N5O1V3X0C05RVPC7N274ARSUUNOHSLMEZ0H60IEGI3PAQ...
999996  6HZ17MV723JJ64KKJQ16MTRTNJBEJYPQYOYOBLZJG0JRCI...
999997  RDO1FWBJ8CY49X8TTO4IM62UHNIQYUL5HIB66AO8M7HTUB...
999998  HWGM0MXYHI7Z7Y6IYYI6LIHODWY8L0B6XHU113J8JTVPA2...
999999  30WQWFE9IAXSTMZ0Y9V7S0H6NY716KFMTUZ68DY8N1PEMS...

                                           XNOME_EMITENTE  \
0       99K7R9CC3MKMGNQ19OC8MLYWWO8PNP9H8UZ9E1CV86Y7QM...
1       3CA4UNAERWPSORSPGNU29JR6IMGBATKPA0IPX0L1NF6BJC...
2       L1UNCMB1XGCOQT2E2IRF7DUQT2F5GAPS6LQ6P4GOFHBLBE...
3       S4A6ZSSFE8GC1A5YVSOCKA7N0K6MR8OYZ9MXMFG340N9S3...
4       WM6P028ZOAKJPZ1VGT237U7NMLU59ND7D5MK61D5NW3FSP...
...                                                   ...
999995  7DVW07XBC7076ECU7Z4ZVUX7H147XK3BGY28T9BECTZ5LV...
999996  JVJRJEWX5VBBGBMTWX9LDIPERRUV0C3G0BGWPLZLG5ZL26...
999997  KY40DDRS2ZRVC214ZYJXQK11FCUK31GD2AWPRNDQ5U3WGR...
999998  VFQ08D99LXNNAU0LFWKX7BJWTMNKQC6NB36L8010SVHFNA...
999999  UWVT5ROF0Z7IN006UPCOXJZWWT7JOXXK3MXTO8B4R0VCSP...

                                               XNOME_DEST  \
0       2LUQSOKFX2Z4WK2EMLO579MEJRYNASFRABR3Z29JJGS9PA...
1       U10BZA7SLFTSNOLXMIULZ6PZXQJ860YPGD5AM96GTG6HDA...
2       X6S96M18ETG9LHLL262UK7OY8MQGB2Y6GV6X3VREFR599P...
3       OTQEKVR1B2X0OF7FIB4WHR10SSJERUCEYU9JH5YEVWONQ5...
4       ZD9CKI5CSQBRBARNND1RGGUCPPERTYAIHDU3WDPVJWSMFK...
...                                                   ...
999995  7VAR09G6ENS7HJ4TMS19RAO7KIX9Q2JT4QMR3TFAGJY23T...
999996  R5XKVBNBC8HOC4WOVR05EE7Q5ZAV5QPJS2LPG6O1ZSXXFT...
999997  A4L2WUKJTG3ZU1PK6RZGXQY59EPB347JQJPXMDYPYQ62NF...
999998  WIZ4X3EDMD6OX8DOHEEJ3W0ULN8R69310EY425QCRU04YL...
999999  E5WDPZVAOF8CLRCDRSDUDK9KNNFX4WAW7ICDI27A692FC3...

                                          XORGAO_EMITENTE  \
0       ABZPP7QZ7U698KC83ZQYIVDKZ29KPUX5OQBE56WGWPZC9G...
1       KM8BRXAJZR0VPFCMZY1KLC1HK50MFSS1JKZ7W0U9S55TN2...
2       184QQDV42GGKBC4JSOV1D9PG827P6KI2185RE6XC4DEEXR...
3       TH48TGIFA38SWJKXVTFNMYG8H56TVVAWUMVLE6HXNXJSPG...
4       7VM5OF5ECDB1A7VOTMQTXHJ6SG2LAV2PI8DD0FMFI5LIGL...
...                                                   ...
999995  AWU9Q53IYZCF9TNKVAKUEPFWKRNDFIMRGNEVE1W1V30XZ3...
999996  74WIUF5RA72NHC9NYJ5C39QSIMGNDX6BDHL8ZMT37U6M2J...
999997  WDGO7UA6RTXYKOVEMLA3568GH9HSONAJ47SKXTHE0AXZOJ...
999998  VOXASAJ5E0ZFNC3UJB0AEVUG19R8FFK9G4N9L4UX58QG57...
999999  R5ZRPELHMJ3X9NBBR33Y2OX6FH8LTME32OKE15U9EGDIHG...

                                           XPAIS_EMITENTE  \
0       JCN18UOOXXOFD1ZFV1APSSVR0Q8VDK9O8O0DEXCEB10OI6...
1       8WBUY1H1TSGRLYH6NYW1X59KCIV9TK53MH9QDJUAJ440AA...
2       Q1ZRPKZHQYH07BD1WB27BJISWP8ZQ8P9H4V52YK3SNF8H1...
3       SCQ0C84VFAZL6PZBQ1HDD8I7KJ2T8GR5IRMYS7CW7GB21T...
4       LFMSDEB375KGZGF56XRXD630X2N8F5KSQ9UPCOPKLB7WHC...
...                                                   ...
999995  VR2UQ4248ODT2Y308ZS8VHJ86IN2191XEKL0DKZ3XD6B8Y...
999996  BZNJJF8V90ATHRZ646H7H4YK8O5J4W3TXQ9MIETN8HQ13Q...
999997  C8X56NRY1ELEVPSCTMUTR03QB7Y6Q9PYAXV0Z7JN5MSSWV...
999998  C5VFSJZBIVEW9BUPJEAORJALFK7MLOXUY04N2L8HH1DR0V...
999999  W48PXG8UK9G04IN9236TGCG3BHMKYU116GB07THRBF9EGJ...

                                               XPAIS_DEST  UF_AGENTE  UF_DEST
0       NYH16P7IAZ4GS6A5L6UWSQISDQ12H3EC6T2DDDBD501NOM...         8T       20
1       X3NEIG47TUUGU96JRRR1T8H4FO74O0Q6Y5FHR927AWHLV9...         XJ       7J
2       5DGAKO7J850BDWMCMSSFHYDCV08BHS62DBTLIGZO392RU8...         EK       89
3       M0N4FHJOVVV5FJTOVDXWXJ5ZBE1JNP5W3EL1W2YQB1JLPD...         BU       XW
4       8OJJPBESX8K3SFGHGH5UTDYC1XLR9KKK6LD4SW3LTH3Z4M...         F8       W3
...                                                   ...        ...      ...
999995  SIOI1TCM5ZGIS3JRIK0AQRRPC20AC7ELKU671D64EF8F8E...         NY       47
999996  Z8B2SF3YT372TQU7FRDYL07TSDY10KGNJBMOE4TDHU10MB...         80       VB
999997  1M3ULQFXTSUPAZ0B2ARYQP1I2ASI9XCHMM7TDU9O1C79ZX...         8H       2I
999998  ISQK99X744O9DAKZKX2TG4D44IK5D39TWCY0PEVYODMJBQ...         TV       7V
999999  Y1RDOW0XFOP7MXVBVQKU6WW8PT5ZNIWT36OYCTEEE50158...         2P       JZ

[1000000 rows x 69 columns]

### Dummy data for PRODUTO

In [6]:
data_length = get_data_length("DATA_PRODUTO")

df["DATA_PRODUTO"]["SQ_PRODUTO"] = df["DATA_PRODUTO"]["id"] # primary key
df["DATA_PRODUTO"]["NSUCCG"] = generate_number_column(data_length, 15)
df["DATA_PRODUTO"]["GTIN"] = generate_number_column(data_length, 14)
df["DATA_PRODUTO"]["TPGTIN"] = generate_number_column(data_length, 2)
df["DATA_PRODUTO"]["MARCA"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XPROD"] = generate_varchar_column(data_length, 10)
df["DATA_PRODUTO"]["TPPROD"] = generate_varchar_column(data_length, 15)
df["DATA_PRODUTO"]["PREFIXGS1"] = generate_number_column(data_length, 3)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["CNPJ"] = generate_varchar_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["CPF"] = generate_varchar_column(data_length, 11) # Validar
df["DATA_PRODUTO"]["IMGURL"] = generate_varchar_column(data_length, 300)
df["DATA_PRODUTO"]["XORIGEM"] = generate_varchar_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["XDESTINO"] = generate_varchar_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["NCM"] = generate_number_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["SITGTIN"] = generate_number_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["DSIT"] = generate_date_column(data_length)
df["DATA_PRODUTO"]["CSEG"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CFAM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CCLAS"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CBRICK"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SUBGTIN"] = generate_number_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["TPSUBGTIN"] = generate_number_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["QITENSSUBGTIN"] = generate_number_column(data_length, 8)
df["DATA_PRODUTO"]["PESOB"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOB"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["PESOL"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOL"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["DT_FIM"] = generate_date_column(data_length)
print(df["DATA_PRODUTO"])

              id  SQ_PRODUTO           NSUCCG            GTIN  TPGTIN MARCA  \
0              0           0   93688249996014  11475885690308      64    BR
1              1           1  677824715301156  84115366139101      49    RD
2              2           2  539261004546793   6206816788366      40    TG
3              3           3  416572199256296  69284378584777      95    36
4              4           4  274245312346509  39447911202387      10    K5
...          ...         ...              ...             ...     ...   ...
2999995  2999995     2999995  194505991884944  57125451587683      14    7Q
2999996  2999996     2999996  997360681682240  26002282513333      98    2I
2999997  2999997     2999997  737543893064749  71215914350563      74    20
2999998  2999998     2999998   90299533202605  88279971341360      75    X4
2999999  2999999     2999999  864491822336500  53348468638816      65    96

                                                     XPROD           TPPROD  \
0        78A08L0FJVZZNC7SOAGFG2NUA174NXIBQYQ85OEGQRE3C4...  KN7DO88MB4VOXCY
1        5C6WW27GFAVD61PL2NGLWSZTIYBWGMXW5QTHSX3X3AXZYF...  7KHUVGX7T1I8LJP
2        K663N6PG4YAV5F8SA4GYLSMF37WS3ORNN9BP0OGIS3H12Y...  9ICW3KP4DFE98C2
3        0O5VV7KJFZZXMSI62ZYZK71SW8O4GRQYW91SWMUM2LHLMT...  20ZPVN9PIM02SH4
4        Z7HON2D8VF466M7R708H3D049URFDWR9UZ4MIG2PIUOC41...  HSPZ5G4YWF7MMYS
...                                                    ...              ...
2999995  DDNAQ5XBADDMBD39MJC56Z54VRLI08WXH8FPU9K6PB9EKR...  HEZHTC6Q376ADF7
2999996  DYDDYC55LOYY15IZ9AJRGGQS78KKBZNE7MEUYOGKQDW7WV...  6YR5X9YYG68BW38
2999997  F0RD1Q6BPWMG2FJ3LEB8TM5Y2EZUJ4ZJFZNDP4IUPQP9BL...  OELGI6ULV2W283T
2999998  LSTLDLVEJ4WX3NZW7ZTIL5C1KXR3RC4U6O1AIBXK6USFLR...  VDZIZB9O3QOR4AW
2999999  MSKN8YT4IFBKNU7A7KTKQTPZTLP1JEBOQHP8LNFUWYOAMK...  5Q0S7R2JCHJOWF7

         PREFIXGS1    PREFIXEMP  ...     CCLAS    CBRICK         SUBGTIN  \
0              514  97975805831  ...  79728382  66679309   1828784157696
1              668  72195911563  ...  69929231   1918311  34609218210426
2              899   8260391019  ...   2811812  28848077  67664754607626
3              440  58248193968  ...  38226820  10202881  51955025121106
4              353  44766391753  ...  96147995  81596795  26485788891079
...            ...          ...  ...       ...       ...             ...
2999995        708  85688518517  ...  32761611  93146750  50113195250971
2999996        896  22443895616  ...  30277384  21904447  71538447677382
2999997        351  17563947367  ...  72909648  11433865  93725749991669
2999998        685  26684753324  ...  23739028  99216930  28636277248693
2999999        433  57360339080  ...  77999194  21723679  54354688060274

        TPSUBGTIN QITENSSUBGTIN      PESOB             UNIDPESOB      PESOL  \
0              22      81692290  92236.640  HKWZWRPEDW0RX04EN0LW   9416.592
1              43       3307751  13987.920  OU1GUYLTXUA2KXPG4SH3  50526.860
2              21      81014943  58383.054  LLTGZOLYH8OZ7YXQ6GYO  84204.866
3              66      61990968  45535.995  BY301WJBW4ZF4YRWQFNT  59626.667
4              87      44249785  57049.909  LGARW4UNA8KYIR2P905W  95789.128
...           ...           ...        ...                   ...        ...
2999995        31      55257837  32966.302  TGCMTAPG3WYDVC9Y2MY6  18149.920
2999996        16      97836097  33415.429  W380D9N2I41SB4MC2BG7  86556.214
2999997        38       6743442  27021.369  XQA3APBRV1MA43T1GIFK   9540.838
2999998        24       9399159  52051.290  TNC4L6A392WMLB3SJ47Z  91537.256
2999999        10      11989487  93820.066  H0WJCVRDLBVOQKU6MDKO  49900.322

                    UNIDPESOL     DT_FIM
0        RLOQNDG9S707U4A1TGPU 2007-03-10
1        E0RHSD9KGXH8ISBA6E4N 2016-04-06
2        KYRDEUQXYG4CCLSARAE9 2009-01-11
3        6DBUVUQD2127M2EVX0CL 2014-09-26
4        TBLOZDX6TM3PDUV3ALOD 2006-01-06
...                       ...        ...
2999995  L0F95ZDVFAELQWWBYMJK 1990-10-20
2999996  GNJIND0EJDBXSJG0FUTG 2019-03-16
2999997  R378SIWBJ9AW1YM20RFK 2004-02-14
2999998  1V1NXX3D3XM6100XLBFI 1992-10-16
2999999  OQVXARR5X5FQ30MY30GS 1995-07-31

[3000000 rows x 30 columns]

### Dummy data for PRODUTO_SERVICO

In [7]:
data_length = get_data_length("DATA_PRODUTO_SERVICO")

df["DATA_PRODUTO_SERVICO"]["SQ_PROD_SERV"] =  df["DATA_PRODUTO_SERVICO"]["id"]
df["DATA_PRODUTO_SERVICO"]["SQ_NF"] = generate_foreign_key(data_length, df["DATA_NOTA_FISCAL"]["SQ_NF"])
df["DATA_PRODUTO_SERVICO"]["NITEM"] = generate_foreign_key(data_length, df["DATA_PRODUTO"]["SQ_PRODUTO"])
df["DATA_PRODUTO_SERVICO"]["CPROD"] = generate_varchar_column(data_length, 1300)
df["DATA_PRODUTO_SERVICO"]["XPROD"] = generate_varchar_column(data_length, 195)
df["DATA_PRODUTO_SERVICO"]["NCM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO_SERVICO"]["EXTIPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CFOP"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UCOM"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VPROD"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UTRIB"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VFRETE"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VSEG"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VDESC"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VOUTRO"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDTOT"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["XPED"] = generate_varchar_column(data_length, 19)
df["DATA_PRODUTO_SERVICO"]["NITEMPED"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["NFCI"] = generate_varchar_column(data_length, 46)
df["DATA_PRODUTO_SERVICO"]["INFADPROD"] = generate_varchar_column(data_length, 650)
df["DATA_PRODUTO_SERVICO"]["NRECOPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEST"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDESCALA"] = generate_varchar_column(data_length, 1)
df["DATA_PRODUTO_SERVICO"]["CNPJFAB"] = generate_varchar_column(data_length, 18) # Validar
df["DATA_PRODUTO_SERVICO"]["CBENEF"] = generate_varchar_column(data_length, 13)
df["DATA_PRODUTO_SERVICO"]["CEAN"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEANTRIB"] = generate_number_column(data_length)
print(df["DATA_PRODUTO_SERVICO"])

KeyboardInterrupt:

### Dummy data for IS_VW_ESTAB_EMPRESA

In [ ]:
data_length = get_data_length("DATA_IS_VW_ESTAB_EMPRESA")

# GENERATE RANDOM NUMBER VARIABLE TO IS_VW_ESTAB_EMPRESA

df["DATA_IS_VW_ESTAB_EMPRESA"]["IN_EXIGE_NIRE"] = generate_number_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["VL_CAPITAL_SOCIAL"] = generate_float_number_column(data_length, 15, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_APLICACAO_REGIME_APURACAO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_PORTE_EMPRESA"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_ORGAO_REGISTRO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO"] = generate_number_column(data_length, 20)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_PORTE_EMPRESA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 5)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_CONDICAO_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ORGAO_REGISTRO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_SITUACAO_CADASTRAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_UNIDADE_EMPRESARIAL"] = generate_number_column(data_length, 9)


# GENERATE RANDOM DATE VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_EXTINCAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_CONDICAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_NATUREZA_JURIDICA"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_REGIME_APURACAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_ORGAO_REGISTRO"] = generate_date_column(data_length)


# GENERATE RANDOM VARCHAR VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO"] = generate_varchar_column(data_length,14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_SITUACAO_CADASTRAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_REGIME_APURACAO"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CPF"] = generate_varchar_column(data_length, 11)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_UF_MATRIZ"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["TP_PESSOA"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_NATUREZA_JURIDICA"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TITULO_ESTABELECIMENTO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_ORGAO_REGISTRO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_UNIDADE_EMPRESARIAL"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_MATRICULA_LEILOEIRO"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_ANO_INSTRUMENTO_LEGAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_OBSERVACAO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TIPO_UNID_ESTABELECIMENTO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_RAIZ_CNPJ"] = generate_varchar_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_PORTE_EMPRESA"] = generate_varchar_column(data_length, 80)



#PRINT DATA_IS_VW_ESTAB_EMPRESA

print(df["DATA_IS_VW_ESTAB_EMPRESA"])

### Dummy Data for IS_VW_ESTAB_ATV_ECO

In [ ]:
data_length = get_data_length("DATA_IS_VW_ESTAB_ATV_ECO")

# GENERATE RANDOM DATE VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_INICIO_EXERCICIO"] = generate_date_column(data_length)

# GENERATE RANDOM NUMBER VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_VERSAO_TABELA_ATIVIDADES"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_NIVEL_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["IN_PRINCIPAL"] = generate_number_column(data_length, 1)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_ORDEM"] = generate_number_in_range_column(data_length, max_range=9)

# GENERATE RANDOM VARCHAR VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["CO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 7)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 200)

# PRINT DATA_IS_VW_ESTAB_ATV_ECO

print(df["DATA_IS_VW_ESTAB_ATV_ECO"])

### Export as CSV

In [ ]:
for x in data_tables:
    df["DATA_{0}".format(x)].to_csv ("Tabelas/DATA_{0}".format(x) + ".csv", index = None, header=True)