## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Create tables

In [3]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [4]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
data_length = 300
for x in data_tables:
    data = {"id": [x for x in range(data_length)]}
    df["DATA_{0}".format(x)] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO_SERVICO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Auxiliary functions

In [5]:
# Returns a list of randomized varchars with the specified data_lenth. 
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_varchar_column(data_length, column_length = 0, max_random_length = 10):
    varchar_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = column_length)))
    else: # random size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = random.randint(1,max_random_length))))
    return varchar_list

# Returns a list of randomized INTEGER numbers with the specified data_lenth.
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_number_column(data_length, column_length = 0, max_random_length = 10):
    number_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = column_length))))
    else: # random size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = random.randint(1,max_random_length)))))
    return number_list

# Returns a list of randomized FLOAT numbers with the specified data_lenth.
# The column length and the precision must be specified
def generate_float_number_column(data_length, column_length, precision):
    float_number_list = []
    for _ in range(data_length):
        number = ''.join(random.choices(string.digits, k = column_length - precision)) + '.' + ''.join(random.choices(string.digits, k = precision))
        float_number_list.append(float(number))
    return float_number_list

# Returns a list of single randomized numbers within a certain range with the specified data_lenth.
# The min value of the range is passed in min_range and the max at max_range
def generate_number_in_range_column(data_length, min_range = 1, max_range = 9):
    number_in_range_list = []
    for _ in range(data_length):
        number_in_range_list.append(random.randint(min_range,max_range))
    return number_in_range_list

# Returns a list of randomized dates within a certain year range with the specified data_lenth.
# The min value of the year range is passed in min_range and the max at max_range
def generate_date_column(data_length, min_range = 1990, max_range = 2020):
    date_list = []
    for _ in range(data_length):
        date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(min_range,max_range)), '%j %Y')
        date_list.append(date)
    return date_list

### Dummy data for SITUACAO_NF

In [6]:
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = generate_varchar_column(data_length,61)
df["DATA_SITUACAO_NF"]["DT_STATUS"] = generate_date_column(data_length)
df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"] = generate_varchar_column(data_length)
df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"] = generate_number_in_range_column(data_length,max_range=3)
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"] = generate_varchar_column(data_length,61)
print(df["DATA_SITUACAO_NF"])

      id                                    CO_CHAVE_ACESSO  DT_STATUS  \
0      0  EQ554UP33NOAAPCV4P87SD6IHVOU9GAQANA7S64G0QU88H... 2010-07-10
1      1  QHUWBSYDQ6BWDXWEJK09J5VXK8SE5DPD0IXYTZOBQYWKDQ... 2003-07-14
2      2  KW2SUPXNAA1E53BVH6CZW31CXGZHV1JKUTLNXQNOUH7J6I... 1996-08-26
3      3  RXH2Q2VK35OLI2UWHSDBI5CHWW90AGOE5BPZ4C99HUZ4WO... 2008-09-17
4      4  RQ2V7VH4QIDUZ4PROPQAW2CA91OYP5DQCLU73603Y5MSF2... 2020-12-15
..   ...                                                ...        ...
295  295  4HFKMQB1LXL8ZDDMH1SVINPBKTLOCYHLZMWLAK0KOPG6P6... 2018-08-06
296  296  JX2LJSR5KENG8146LTS2C0P1YZMTPL04SXVH2LA0SQ67VX... 1992-10-12
297  297  LKSDDYRTO6LQKYMFOWEW4TB9NQEZOF671TEXI8VRGE4ZLE... 2015-03-04
298  298  WMK12URTSWOBBF5FPZY6XG34CSTN0AH4W9BUCG6FPEE3XE... 1994-11-13
299  299  Y9G85G615NHFYUG4G1SRF6EIMCYAN6LPZXZVAM6OX2OET6... 2010-09-02

    SITUACAO_NF_CO_SITUACAO  TP_ORIGEM_ATUALIZACAO  \
0                  XR3655QM                      1
1                         6                      3
2                         3                      1
3                        QH                      2
4                XLKZKM30PB                      1
..                      ...                    ...
295                   AX72E                      1
296                       9                      3
297                     Y5X                      3
298                   UF6EY                      3
299                     EWG                      2

                          CO_CHAVE_ACESSO_CANCELAMENTO
0    OGT1XOFB4LLFFTCL7BUYZUW22KUBCOVC70FDDRQ2SD8ZVV...
1    KUY9PQFCKIC1N5LLK5TFVXQWFCCBZL6MP8ZIQFBGK3DFV7...
2    NQI9O7YHBFXAJLX6XSPSOIFGW5JLQRYEQG2UMWLPBTEGIE...
3    ZB2S94YIUZP37F5L469VDMHQY5ETHIHE1AK9QC6YY3V9XI...
4    JH7DFELLEU4ZIG8O7MDWTC3ZV4EYQGRWKVGWDNMOMAR4H0...
..                                                 ...
295  JQ9ZGZCKZODQI6HUEGK1FYIA5PBZQ99VDV8ZTZMS8T8L2H...
296  6WJG6DUFG647MOTGVQZXX45PGMKHNA92J4J6AYT6SIZ0U0...
297  6XC91JBEIIFEH0G22TETM6ZO9TJBI4QE0CD5NEUGRPS47I...
298  UA25FKNT67HBT738RGD86SU7KE04IQQ4OSHGBMVZTN0ZGR...
299  VH2H4W4GXIQLV27SGUV3JJD139KL1L6O5L4F29FA3ISGR2...

[300 rows x 6 columns]

### Dummy data for IS_VW_ESTAB_EMPRESA

In [21]:
# GENERATE RANDOM NUMBER VARIABLE TO IS_VW_ESTAB_EMPRESA

df["DATA_IS_VW_ESTAB_EMPRESA"]["IN_EXIGE_NIRE"] = generate_number_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["VL_CAPITAL_SOCIAL"] = generate_float_number_column(data_length, 15, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_APLICACAO_REGIME_APURACAO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_PORTE_EMPRESA"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_ORGAO_REGISTRO"] = generate_number_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO"] = generate_number_column(data_length, 20)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_REGIME_APURACAO"] = generate_number_column(data_length, 3)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_PORTE_EMPRESA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_NATUREZA_JURIDICA"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_TIPO_UNID_ESTABELECIMENTO"] = generate_number_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSTRUMENTO_LEGAL"] = generate_number_column(data_length, 5)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_CONDICAO_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ORGAO_REGISTRO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_SITUACAO_CADASTRAL"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_UNIDADE_EMPRESARIAL"] = generate_number_column(data_length, 9)


# GENERATE RANDOM DATE VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_EXTINCAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_CONDICAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_NATUREZA_JURIDICA"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_REGIME_APURACAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_ORGAO_REGISTRO"] = generate_date_column(data_length)


# GENERATE RANDOM VARCHAR VARIABLE TO IS_VW_ESTAB_EMPRESA
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO"] = generate_varchar_column(data_length,14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_SITUACAO_CADASTRAL"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_REGIME_APURACAO"] = generate_varchar_column(data_length, 100)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CPF"] = generate_varchar_column(data_length, 11)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_CNPJ_ORGAO_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 14)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_UF_MATRIZ"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["TP_PESSOA"] = generate_varchar_column(data_length, 2)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_NATUREZA_JURIDICA"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TITULO_ESTABELECIMENTO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_ORGAO_REGISTRO"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_UNIDADE_EMPRESARIAL"] = generate_varchar_column(data_length, 200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_MATRICULA_LEILOEIRO"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_REGISTRO_MATRIZ"] = generate_varchar_column(data_length, 30)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_ANO_INSTRUMENTO_LEGAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SG_CONDICAO_INSCRICAO_ESTADUAL"] = generate_varchar_column(data_length, 4)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_OBSERVACAO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_TIPO_UNID_ESTABELECIMENTO"] = generate_varchar_column(data_length, 500)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_RAIZ_CNPJ"] = generate_varchar_column(data_length, 8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DS_PORTE_EMPRESA"] = generate_varchar_column(data_length, 80)



#PRINT DATA_IS_VW_ESTAB_EMPRESA

print(df["DATA_IS_VW_ESTAB_EMPRESA"])

      id  SQ_ESTABELECIMENTO  SQ_INSCRICAO_ESTABELECIMENTO  \
0      0           795313060                      98450085
1      1           547111406                     166676922
2      2           422464440                     890196006
3      3           959132864                      12554042
4      4           760313712                     235519874
..   ...                 ...                           ...
295  295           786528438                     747475963
296  296           610237274                     986346887
297  297           763528163                     102141595
298  298           381160118                     509116375
299  299           432322024                     588303617

     NU_INSCRICAO_ESTADUAL DT_CONCESSAO_INSCRICAO  SQ_ATIVIDADE_ECONOMICA  \
0                 59575348             2016-03-28               148063963
1                 18368922             2006-10-07               771825500
2                 11718787             2016-07-15               249340824
3                 77499188             2002-09-17               400881126
4                  7999363             2003-09-08               644003454
..                     ...                    ...                     ...
295               35312156             1994-12-13               373334156
296                2949518             2000-05-07               912542125
297               70150249             1996-08-26               517848301
298               97360715             1998-03-21               311460333
299               50702225             1995-10-03               893934512

    CO_ATIVIDADE_ECONOMICA                             NO_ATIVIDADE_ECONOMICA  \
0                  GK23TP0  K91ENAG3XPLZCKTVLRKELQUN0FX840EGKZBQ7AQ29S5ULL...
1                  G70WX0K  X5PR4HJLSAPIIJCWPSL95GIH9FKLIJY635TNEK6IC4W8NT...
2                  4REKWC4  3HT7PHZCMDAJRYD5D25Z2RMXHETSJDOQ6OZSL2ATMMQZAN...
3                  F35ZFP4  ADY58DOQOAKRE5ZARMY650FV538CZK82QU0OX5XEMQCVGU...
4                  LR2GGSN  L7XV0ZA2GY57UUHP2OBR8DT68IDB4KNUXEY6PE2J3X0Y7Y...
..                     ...                                                ...
295                IPMJWNJ  KXA80DNT7OU5TZCAGBGAQ592U7S0Y4Z4QTM6VNSMT1JHIU...
296                QNEIOGU  S7Y02ZHYCMYKFUOOUIC7YUUJXOEZAIDOKNPW2FCNUMPRAF...
297                FYE8J8R  6UT439OHC03411YHZZXCA6JAQVSOCR26DH7KU4M984DGEL...
298                890ZY77  9QK66TLKN4V31DAKU7CLMC5FY54ECTERVIK79NH6WJD0MS...
299                SYXQ4TW  ZNAWSCVE69RB8F0SZUHO6Q4NU8SGCWPC0FYW8B6I1PVA5M...

     SQ_VERSAO_TABELA_ATIVIDADES  SQ_NIVEL_ATIVIDADE_ECONOMICA  ...  \
0                      305485959                      87924282  ...
1                      331113261                     637766828  ...
2                      353779386                     372054240  ...
3                      398507128                     422094991  ...
4                      319362637                     802474170  ...
..                           ...                           ...  ...
295                    950016533                      89236832  ...
296                    895456123                     693333990  ...
297                       689108                     402459697  ...
298                    754852468                     354999257  ...
299                      8418234                     909731713  ...

                                     NO_ORGAO_REGISTRO  \
0    CM3NZR8QFCFQ4B7EMMH4WO4VDSFG5TGI7K92Y0C2BO9I39...
1    2HKTHPGAXPC8SKOC5XM0BEOUHKPRB5EAJ7RK8L1FHJV310...
2    8VLICIOOPPIB9X2WU6QBC8HRIU4AWRTB89HJS0JHMYS6KG...
3    046A80Z6GU0IM9ZLH3TOT0XGYU82IFXSMENZ1XSA9WYAO5...
4    V71YOKGBG6LPU6OK8V0DYT3OZ1MLYPX04W9AAX4WHMU1ME...
..                                                 ...
295  SOFCEX24SQTU3072QZOWEDR8JP30E49HDO6FFWGX72YPVE...
296  WR0I4WA7T7KKB6H5JV80Q8JGAZ68Z86YEQKEBG1679L9DB...
297  TFIDA1WR9K98A62OFHIDCZNHCWNT3TKQPPRVETMI04P3A9...
298  5GX0CF3KXF081TR491X4WA7RIM7M18DOK56VF7WZUN5I4E...
299  IWNNYWF1DJ2YS213EPY1KHPZRU1021OTLVR757AO2503OB...

                                NO_UNIDADE_EMPRESARIAL  \
0    WVOL1KFZLN0JUZ89GF0VKNOJWP1GXNQRY31DJVOV84CLXP...
1    WPOAZWOUVCFMHEU9N4EFHCX0ROZHXGMPHZX8HSLEQJD2P4...
2    3ECA4PD53NF89Q4JJEDO2CEXEY9X14379YDVXJJM5WF0YT...
3    SIULY7T7SGYSS5YW1F7363KQT8E4JLTWA7S9Y3O7ZWXNNY...
4    8V9CN1O7LK6PL3IFAFP5RJ627P7HX86ECOMCNWR4GRF1Q7...
..                                                 ...
295  9812FJ1HC0AC062212J0JP7V7DGZI9CE04BCYDRDJT1S3M...
296  QHFS1MZJE0YXYFTDQ4MTJ2ZIVGCYSRM9KIQRWRCPPBEPKY...
297  NPGEGHK4MHZ7M1OCVFHE1OGS9J32YGWCD71HJVJBALN9XK...
298  FPHKK7XO7HKNEZO6HCJEIRS9V8M7A6XAVNSOW4LJHE9H31...
299  FSFL9PVPF0VLA1BB9HJO7O8O66GD2F8I3JB60AHUWOVLME...

             NU_MATRICULA_LEILOEIRO              NU_REGISTRO_MATRIZ  \
0    EJLC1S2BK97MAMQV6QIPUXELT3T5XK  H9WYPMM0H3WAFXOQ28NZPW2WL68L6S
1    FDJR4NLI9UIN7A397LMZ5O8CL84S5C  UHJNA9C09MFVM6WAAFMRF2P02N91LJ
2    HQIFGZTRYXKUEGIAHBU1N9WZ7E8FE6  7XS7V4GYTWT12WZ5LVLS526GQNEYKO
3    IPFZ9F2I6TS9YG22CH70RDF3CH3MX3  H6X8XMY3SEDZ8ZGUHXMD7OSEZ2G8KJ
4    46CF6ZRMGIK9ULYKDEIYMXPVGC27PM  07Q382E1DBKO1Q4645JWBVO3WB6819
..                              ...                             ...
295  MR7TR4TST2OOM4Q2OBN7EMBFLWCK0T  3U8502CXO409CJVE1ERD16BZ0EKVG7
296  WT3PW6ZJWWB7MV3439RP8RO1YARUEL  9E802PTJVCYKNZMAXTIDZ25E85B522
297  CJTR2QL3DKMLTNASKA09RQ0A7NYWIH  GFSNJMO1JQ35MIM5RIOZEWUE47DFPX
298  3R22CRMA33NIABD239X6YN5G29KWXF  U4J1RA8S9DF83LW78Y48I41W5W3JYA
299  Y8WBL7DOASWUB75CIT425ZBZPK70AX  D4AO0PSM1WTJ74YLGDKNMR7XWKC75M

     NU_ANO_INSTRUMENTO_LEGAL  SG_CONDICAO_INSCRICAO_ESTADUAL  \
0                        75FP                            TQNT
1                        ZU4O                            Z03E
2                        71J6                            7SHE
3                        3SKT                            1K9D
4                        KS9R                            JZW3
..                        ...                             ...
295                      UMRK                            LSXD
296                      8SGN                            KF7M
297                      RIWS                            W2Z5
298                      EN1Z                            K8YA
299                      5NQI                            7AA8

                                         DS_OBSERVACAO  \
0    IMKZNCB49VFAYMDF3J6I1HM9CP2TG3J8FFI1X2FX8HMOXR...
1    TFON1CL4RG89E7MNU3V7QE6NUEZLJVFG7DN17JOTJ5XJRE...
2    3GHGN8W495YGI9JD14QFDDP7MGOQZ55XY7BY6DDKNI0UK4...
3    74CPUEP8L74QOKV9YCZ3EMGNRR0C4DM9TENTG8DH4X8450...
4    AVU6A9WSIJ24YVOBFSW9GPMO10Q2VZQJUAQS6QY8OF29F1...
..                                                 ...
295  3F0CLDPDVMHFFOBFQZ8NGNM0Q5ITKNGPAL0KD1NYCSJK21...
296  GNBAXLRY3BSZ3HCRTQZFARV2YM0DKXM4MH298ML0N8JZV3...
297  H7C1YIW4Z5YCVEY5JBW33A2F9MPMF3IOEHHNCYW5CHRXPP...
298  0KD165PSV54HJRURVLYUGMHB1JNXIDJ3EV6NQ4CZ56RIZD...
299  R5TLWOC2Z0UNVDQ7KWK85NCB7FTHHK0RY95FYC34XPQ9Q4...

                          DS_TIPO_UNID_ESTABELECIMENTO NU_RAIZ_CNPJ  \
0    RTB4E7M2NBV5VQ6GG5891B3I8WNN9LCA9KYTH6UHL6UAF0...     UTOVTCF0
1    RZVJ6ZVPYJKR0RR34XUZ9MGR2IX698S1CQYURONIRYFROZ...     PVF2DMDZ
2    UCZFDCIIWUYHKLX33F8MER9QQBKCFCE1QACCNKFLYENKOH...     CR0M7BRI
3    CBDS212Q8T46CM1R1V6KYG9NXMO1X090V4Z4177HNLW43R...     052E5IZT
4    8HSWNSJ0K2HBMFTSDLTVYDC7BM1B6WLHZNS0NB6G1HAKB1...     N281I39J
..                                                 ...          ...
295  TXH7QHQBBBPU60U7WQN62TKA11G7PT63733OSGN6NGFAQV...     36RS7IZA
296  57DYH4AU8RQTZ8BYFPGWQX7AIDIUS3HA7282QJP6ATFB6P...     IHL8AXAY
297  V65EA7KCWVU9YZ7WKWVVSPDLA0JRWDVUKDFZKC042UOYWY...     NRH1S663
298  E80PAWL128NWWPNTW6SIJ7Q0OJVBIGQJGPE6Q7DOVPXV11...     NM36MWKU
299  HKCQLIW7PSRLTFTNF3CN2C0BA2RIQYV47JY784NX30U8BI...     CE6RRH73

                                      DS_PORTE_EMPRESA
0    WODNY05VH1UPPP2THYRR6PYWBT29XVWH2S55C81EURHDE7...
1    IMCH5Y9XCAHLZ31LOBL0M7RXLY9JR9HJQ2OR2SS7G54YWE...
2    3SX8GQYICKPALA6ATZJ9GY8RBSFIHUN64OS9RC164HT4PG...
3    L6WRQJK2C5EV2DANJDUPNR42Z2BBDYE0UBVRPH4XYSPYIX...
4    198WLZDI73TZRBTU5T82JR8PUWSU095MKLFNR9MWBL2HQM...
..                                                 ...
295  PJVBLZBZJ27GQVYDY7MXLGNND9NF14R5O7HDUCRREDKO3D...
296  4EP5OGVAV9KRHZ3EIDJBI8YIEL17D3TFX058SA9L80LUZG...
297  5IFXFS0DPOMX8QI5DNBSNMH603O8URZNQ5VECPMW31TYZD...
298  17ILT8SUK4ELDHJNDCR9G28UKJ0LF281AA36T24Z6QVUYC...
299  K4K7MXOZYP28SP0YYBNJD0Y6UX63LS30KVYGJS9EBQP9WT...

[300 rows x 59 columns]

### Dummy data for PRODUTO

In [8]:
df["DATA_PRODUTO"]["SQ_PRODUTO"] = generate_number_column(data_length)
df["DATA_PRODUTO"]["NSUCCG"] = generate_number_column(data_length, 15)
df["DATA_PRODUTO"]["GTIN"] = generate_number_column(data_length, 14)
df["DATA_PRODUTO"]["TPGTIN"] = generate_number_column(data_length, 2)
df["DATA_PRODUTO"]["MARCA"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XPROD"] = generate_varchar_column(data_length, 500)
df["DATA_PRODUTO"]["TPPROD"] = generate_varchar_column(data_length, 15)
df["DATA_PRODUTO"]["PREFIXGS1"] = generate_number_column(data_length, 3)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["CNPJ"] = generate_varchar_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["CPF"] = generate_varchar_column(data_length, 11) # Validar
df["DATA_PRODUTO"]["IMGURL"] = generate_varchar_column(data_length, 300)
df["DATA_PRODUTO"]["XORIGEM"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XDESTINO"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["NCM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SITGTIN"] = generate_number_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["DSIT"] = generate_date_column(data_length)
df["DATA_PRODUTO"]["CSEG"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CFAM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CCLAS"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CBRICK"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SUBGTIN"] = generate_number_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["TPSUBGTIN"] = generate_number_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["QITENSSUBGTIN"] = generate_number_column(data_length, 8)
df["DATA_PRODUTO"]["PESOB"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOB"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["PESOL"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOL"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["DT_FIM"] = generate_date_column(data_length)
print(df["DATA_PRODUTO"])

      id  SQ_PRODUTO           NSUCCG            GTIN  TPGTIN MARCA  \
0      0        8369  277518310521948  85837759434069      23    P7
1      1           0  565872865118690  40952150539997      54    FV
2      2       15191  478355541086912  92407668701424      96    9O
3      3           5  696759678070444  17883732148294      56    X8
4      4        5914   60611400282520  78691215584759       8    63
..   ...         ...              ...             ...     ...   ...
295  295           3  909392610222837  45015627884170      73    18
296  296       37688  594396813308802  22719455424183      28    KI
297  297      569337   82590141196557  67277818326558      58    JW
298  298           0  253132745369852  94025458637593      34    Y5
299  299        7427   58899816143196  45880157372380       5    IF

                                                 XPROD           TPPROD  \
0    DMTZOJX2XN2BS0DTIIM5U8FMUJ2PTJ59RH68IQRE63V92M...  ZN2BYT1HQ4OM5GT
1    780VZOVBD7DL1JWAXR9QI69H87U4F5I6G4X68JD3PE3XDJ...  USJEZEAHBOLJCR9
2    V7Z0F2MI8FJK2MS93UODRIAC8VDZZGSVQ6IYMP17UIE6P5...  KB5BSCY4VHIY4S9
3    QKYXJ6K6BONINEQMCIWSE97I8NFBL62PC5RR46NWLAIC27...  14LHEUI14PPVWKX
4    66YIPMSURR0AW66HJ13CSMBE0RA04NXQWFALQBX81NNXC2...  AE5YTIK0AQ1O2Z0
..                                                 ...              ...
295  6VS2KR1PJYYU1AMXXSCFHLGTD085VORSBAX37H40D5FAKG...  NMDI84VJJ7TJ0F1
296  MAJASS8H327XG885B3FDON46HO9OJUMS5H0FVXJJB9DPN5...  N8N7AZENQ58QBR9
297  0IVGFYZYSBVOMX5Y0EKARS6QG43AAUGX0SLUKCL66NSVSM...  N90WHKF09IXOLNO
298  V82NU802BKP4R0KBOV3N91KEUI3HJI3HKGSRDMMCJJ3UNG...  DB4VQ4DKXVQ0JAF
299  E6NVWIAVPSS1QNJTHECDJGFRTV9DRH6XH3ZXFRPM7ZWU7L...  PAHELJ7TN3KS7WQ

     PREFIXGS1    PREFIXEMP  ...     CCLAS    CBRICK         SUBGTIN  \
0          599  83977508696  ...    382286  48790783  22902015234223
1          216  90931321302  ...  51623143  35291926  76095798640033
2           37    549500127  ...  90538216  68557598  68639480827570
3           36  25212452367  ...  96820457  30732553  10135683587785
4          937  13568130158  ...  55803174  21992759  69364410542480
..         ...          ...  ...       ...       ...             ...
295        640  99531383972  ...  47555501   2398944  84880378205959
296         76  71094585666  ...  60880408  24761226  64438107183848
297        509  67385092538  ...  68143920  81389830  17053078570532
298        149  49344035909  ...  90743017  92762749  30267466189854
299        740  35224817213  ...  89814359  28839773  15794072971668

    TPSUBGTIN QITENSSUBGTIN      PESOB             UNIDPESOB      PESOL  \
0          50      37649513  65576.473  VB456TYG1ZWHG2D0DM4Q  57696.713
1          11      31103720  31371.150  UNWV2CDIGIYSXFENMM1O  68133.156
2          77      46946889  90736.323  KQNPQRED8K4ZRS5WQOAI  68356.309
3          36      92410287  60860.965  N3UUTUPU5H3UAM08CTRG   8348.156
4          29      40519199  97310.265  M6R9TXDCAEAJ9AQ1UN4K  21955.039
..        ...           ...        ...                   ...        ...
295        48      49926944  68018.119  WGWZMJQQJS8LHXH3LKW3   9086.304
296        77      24936729  82468.660  HXY7XTZ5SX3P0DKXHWFL  44885.726
297        93       1038501  85239.439  21TD57VTDNVUEYH5UWP1  55138.045
298        65      38983794  92251.163  8ZRYCR3H961MTT265Y0X  80296.378
299        32      19845518     63.583  A8259L0EVULLUR28QFRS  60543.197

                UNIDPESOL     DT_FIM
0    C2KYWTXY1A8H7TUM7KBR 2015-07-10
1    FL6JFTVZOF974WUET583 2001-03-01
2    S1OT38PNS4SFPXSXRG2K 2014-08-15
3    4R0LH7IQM2M9A75KXBB3 1996-02-16
4    VRZG2UI792KBY1ZV62XP 2008-09-05
..                    ...        ...
295  YRPRY83TXR7ECVUESHHJ 2011-11-24
296  SPMWY6I7ZH20PY19RYZU 2001-09-23
297  DEUCZZPBV4ETM54X2P52 1997-12-19
298  SGPHOM7C3QSW0ATTQ1XJ 2011-08-04
299  UHP4VA1TVSM6C365ZDNW 1995-02-18

[300 rows x 30 columns]

### Dummy data for PRODUTO_SERVICO

In [9]:
df["DATA_PRODUTO_SERVICO"]["SQ_PROD_SERV"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["SQ_NF"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["NITEM"] = generate_number_column(data_length, 3)
df["DATA_PRODUTO_SERVICO"]["CPROD"] = generate_varchar_column(data_length, 1300)
df["DATA_PRODUTO_SERVICO"]["XPROD"] = generate_varchar_column(data_length, 195)
df["DATA_PRODUTO_SERVICO"]["NCM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO_SERVICO"]["EXTIPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CFOP"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UCOM"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNCOM"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VPROD"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["UTRIB"] = generate_varchar_column(data_length, 7)
df["DATA_PRODUTO_SERVICO"]["QTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VUNTRIB"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VFRETE"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VSEG"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VDESC"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["VOUTRO"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDTOT"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["XPED"] = generate_varchar_column(data_length, 19)
df["DATA_PRODUTO_SERVICO"]["NITEMPED"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["NFCI"] = generate_varchar_column(data_length, 46)
df["DATA_PRODUTO_SERVICO"]["INFADPROD"] = generate_varchar_column(data_length, 650)
df["DATA_PRODUTO_SERVICO"]["NRECOPI"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEST"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["INDESCALA"] = generate_varchar_column(data_length, 1)
df["DATA_PRODUTO_SERVICO"]["CNPJFAB"] = generate_varchar_column(data_length, 18) # Validar
df["DATA_PRODUTO_SERVICO"]["CBENEF"] = generate_varchar_column(data_length, 13)
df["DATA_PRODUTO_SERVICO"]["CEAN"] = generate_number_column(data_length)
df["DATA_PRODUTO_SERVICO"]["CEANTRIB"] = generate_number_column(data_length)
print(df["DATA_PRODUTO_SERVICO"])

      id  SQ_PROD_SERV       SQ_NF  NITEM  \
0      0           391           3    778
1      1     878459686  2009772033    642
2      2             7    51353727    320
3      3            82       51170    857
4      4        500248         396    933
..   ...           ...         ...    ...
295  295           936         712    102
296  296      42281447     2361236    597
297  297           167        1183    264
298  298            97     9637058    357
299  299             7     4246867    951

                                                 CPROD  \
0    6GLVMLL6DCK883HTNQ7YLIY1REZ6Z6CUKPUSXNPPS910F4...
1    8A0LEN79WWB4P14YWIH6WU2C62EWR65P7CIOW8OIK7IVEU...
2    2E7U4DHD7I9T248VS9CJCD1E7FVOR546T8ESEM11WOL2XB...
3    GRUNNIVZ149IBV74VHRFGQDQVDBXX0JSQSD7MN83P0MQYV...
4    13TIB7WF6UO5C5SE8PBNWZUBOQXOQIKJODSO45JMXL71WX...
..                                                 ...
295  BN5ZNRYIB61JNR0G968HIZ8EDY1SL766FEE3MGRMKUTZWF...
296  NZSSMPUHHLOMNOXWDUI0VTMYLYOLAP31QZ2TWNZKNRF3QD...
297  8L1JB1YLVGZ1NZ998JSS35J5SLIIOSYQV6FG9O0W9J1HU4...
298  K4N27CBEHIPLIIHU8IOQDILGEWNV2TBBVY3RYS0L6YOCZN...
299  QUHE9OMJRQBTJCKMKZ5KWQ5VVXZPMSRK846I0WLSE6PH0Y...

                                                 XPROD       NCM      EXTIPI  \
0    2PWM9FPKQJSRAEQ5CAWRR80AHQNXZ4V42QCHB49FW5PPKL...   1631513       73533
1    F0SVMNGDJWDAU70JYCIPP4XKF78PFEIRJK9XSDWLQVNVSP...   5610825     8913078
2    M9BMD25ARIVC3SD3A6RHQ2EQHXZ3SCIA83CRWBO7S4N277...  23491727  2878197610
3    V2W0UJVQSV74JFXOLCZ524O3B455M0X3VFWDA9P41VLN5M...  16160522        9680
4    NBGJI84IJII5CMLAYI448BX8VNVKFZYJN8HBM61LTFYBC4...  98485446       87364
..                                                 ...       ...         ...
295  7YOHCZ0JE1U9RO9JGQPEIREA5LYN1QXFV5OLPAXEUFKX37...  64212811    44361434
296  U7379IB1ND6CWVV0A6SEY3AFFNZTYHL5XM3IME64QLJQZX...  46179457        7462
297  LOBMZ1P31N498Q570XN4QAEFRCSOKUMY1VWUDPBHEI5QWR...  70503648  8655988872
298  AECS9MHDA4G5DUZPV40JCK6LFH505FJM44C4S0ZW7NOZSJ...  61699961      161251
299  T5X2PRY6ZBL9WK9MVF1DW3JGCUIWLHZBMNQYCFH2OHQBAL...  74036591     8231371

           CFOP     UCOM  ...    NITEMPED  \
0          8421  49FSOH0  ...       56420
1      76094655  KJGBSQS  ...    40829980
2     240006203  Q2YBJYS  ...          41
3             3  NGFR4H4  ...   444188241
4       4319569  4MJN09G  ...   328148158
..          ...      ...  ...         ...
295  6132216316  ZNXD6MT  ...     6212006
296      890303  UWYUH7Q  ...  9007526164
297     8869750  W7LGSDP  ...           7
298      319299  662SSVQ  ...        3205
299           2  HK4TUSN  ...         196

                                               NFCI  \
0    L02FWK17Q4BU4RW36FSNE6NNPXUSX2B6V3UPFSGSJTRDEB
1    1V6WL91O7RZRXCOI6PYL9D8KP1VPO243RVOLATFP3O3T69
2    3CBKS43412H9I6MASA2UWZY4UXTLYCI2BJX271EXYZW08B
3    F75YZ3BXQKUBGW5NHA95MTNQCZMVBYNB3U59BNFQ8AGXMD
4    VJYJIG4YRZ948MCPFA5NXR98NQEI2IXUTB9BNO3YWJFKK9
..                                              ...
295  QXW5PWHM7ZZ0SB8ALHDWNBI0EAHXV3IL4VEACBF4Y6WSJJ
296  BZVVX62SQOX0H55J4OMLA3W8S7H5DNRICMV7GU3ZUQNWTQ
297  OP2WYC67JBEP4IEADRZJV8ZWJLVLJIZFDY49INKICV644Z
298  6RXKPRA0FO3E16G4CDO9N83WMRXJZXVY4WL2MU88S61R2H
299  8I129AKYQZJBTMTZ9C1APFCK2DTFY26CS89NSXR8VLQXCF

                                             INFADPROD     NRECOPI  \
0    N2514HFXADIARSBB5GN230MJA3YXBFPPODYVMFHPWX5WO3...        4333
1    I7IV2PN7NY12L161AX07S6EW516ALHU27SJIKCTDJHW0YR...           7
2    C1WKMYUNKPELOWVJZKCIA54PF4NMY9VQSLJAL2O6STMNIQ...          76
3    IMJTWVPF3CRVH7YLWYJ77YITFHEBFGHQ513KEUDG4AUHNQ...      351357
4    I704V47BIX49GJZP631UBJ7A5VPC7TTUOZQTR2ZR9UPNL8...  4131879135
..                                                 ...         ...
295  ZM7TYJPVQH0XQB4EA62H9QR3DCOVU5RQ2FO392P0DM8JCL...      320910
296  BSWHH86080QLXO511LXWCJ7CMNRQRAYVWHCAS2RSW3ORHX...        3444
297  NS5807697KKPDJUFNUXCTKM05ZWNCWZ3GLJ96SUHO1ZUV1...        5694
298  VMNI33JKF0E9LR4B40ZG2441NOBOLV95Q9X0OGPLJI9TEU...         580
299  ZD1ZK52PP8213YVUFFNRKRB7NUXFXQU0XH9NBLJ8AFPNCG...        1317

           CEST  INDESCALA             CNPJFAB         CBENEF       CEAN  \
0             3          N  BCEVITBL688MC13W38  8B55MHZZBFLSC   86520864
1        614498          0  GBR4YZ1IZLL0NOFUZF  QTZNQATMTKX48  951108201
2      25680632          G  EXNWU43ELI3ND2IDJN  MK6VQ2HTJ6Y3W          7
3            47          J  7QPJ6ZO811469F3NH3  W1Q8B7FHHLTF3          8
4           739          L  5IY95NUWUGG30MUML5  7X8LITGK9RD8W    6130135
..          ...        ...                 ...            ...        ...
295    65934613          P  XADOVDB8SMUJBTSRWB  G8EGHP6SUJ3M0     848449
296  1157581194          R  L5NW2DJIJH01RQ9Z2Z  0UOCBJH9U2OA2    8454542
297  7394127348          4  UWDR9ER3RUZY8FD1VZ  560NEXHQ2D478    4383941
298       92930          X  QHYN1PVTJKQFAU2MQM  GFC50TDI3ARL7   80902688
299  2863399675          2  OSLT56PNEPQGLW1B8L  C3U1WJSR2WLNT      24533

       CEANTRIB
0      48973706
1         57311
2    7219281283
3         84904
4    9986897734
..          ...
295      961528
296      181989
297     2628566
298      457164
299      970792

[300 rows x 32 columns]

### Dummy data for NOTA_FISCAL

In [18]:
# GENERATE RANDOM NUMBER VARIABLE TO DATA_NOTA_FISCAL
df["DATA_NOTA_FISCAL"]["CDV"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CEP_EMITENTE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["CMUN_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CMUNFG"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNAE_EMITENTE"] = generate_number_column(data_length, 7)
df["DATA_NOTA_FISCAL"]["CNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["CNPJ_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CNPJ_ORGAO_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["CPAIS_EMITENTE"] = generate_number_column(data_length, 4)
df["DATA_NOTA_FISCAL"]["CPF_EMITENTE"] = generate_number_column(data_length, 11)
df["DATA_NOTA_FISCAL"]["CRT_EMITENTE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["CUF"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["FINNFE"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["FONE_EMITENTE"] = generate_number_column(data_length, 14)
df["DATA_NOTA_FISCAL"]["IDDEST"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["INDFINAL"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["INDPAG"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["INDPRES"] = generate_number_in_range_column(data_length, max_range=9)
df["DATA_NOTA_FISCAL"]["NNF"] = generate_number_column(data_length, 9)
df["DATA_NOTA_FISCAL"]["PROCEMI"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["SERIE"] = generate_number_column(data_length, 3)
df["DATA_NOTA_FISCAL"]["SQ_NF"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["SQ_TP_DFE"] = generate_number_column(data_length, 8)
df["DATA_NOTA_FISCAL"]["TPAMB"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPIMP"] = generate_number_column(data_length)
df["DATA_NOTA_FISCAL"]["TPNF"] = generate_number_column(data_length)

#GENERATE RANDOM DATE VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["DH_GRAVACAO"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHCONT"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["DHEMI"] = generate_date_column(data_length)
df["DATA_NOTA_FISCAL"]["TPNF"] = generate_date_column(data_length)

#GENERATE RANDOM CHAR VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["TPEMIS"] = generate_varchar_column(data_length, 1)

#GENERATE RANDOM VARCHAR2 VARIABLE TO DATA_NOTA_FISCAL

df["DATA_NOTA_FISCAL"]["CO_CHAVE_ACESSO"] = generate_varchar_column(data_length, 61)
df["DATA_NOTA_FISCAL"]["IE_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IEST_EMITENTE"] = generate_varchar_column(data_length, 18)
df["DATA_NOTA_FISCAL"]["IM_EMITENTE"] = generate_varchar_column(data_length, 19)
df["DATA_NOTA_FISCAL"]["MOD"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["NATOP"] = generate_varchar_column(data_length, 84)
df["DATA_NOTA_FISCAL"]["NRO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["NU_VERSAO"] = generate_varchar_column(data_length, 5)
df["DATA_NOTA_FISCAL"]["UF_EMITENTE"] = generate_varchar_column(data_length, 2)
df["DATA_NOTA_FISCAL"]["VERPROC"] = generate_varchar_column(data_length, 26)
df["DATA_NOTA_FISCAL"]["XBAIRRO_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XCPL_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XFANT_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XJUST"] = generate_varchar_column(data_length, 390)
df["DATA_NOTA_FISCAL"]["XLGR_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XMUN_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XNOME_EMITENTE"] = generate_varchar_column(data_length, 104)
df["DATA_NOTA_FISCAL"]["XORGAO_EMITENTE"] = generate_varchar_column(data_length, 78)
df["DATA_NOTA_FISCAL"]["XPAIS_EMITENTE"] = generate_varchar_column(data_length, 78)

#PRINT DATA_NOTA_FISCAL

print(df["DATA_PRODUTO_SERVICO"])

      id  SQ_PROD_SERV       SQ_NF  NITEM  \
0      0           391           3    778
1      1     878459686  2009772033    642
2      2             7    51353727    320
3      3            82       51170    857
4      4        500248         396    933
..   ...           ...         ...    ...
295  295           936         712    102
296  296      42281447     2361236    597
297  297           167        1183    264
298  298            97     9637058    357
299  299             7     4246867    951

                                                 CPROD  \
0    6GLVMLL6DCK883HTNQ7YLIY1REZ6Z6CUKPUSXNPPS910F4...
1    8A0LEN79WWB4P14YWIH6WU2C62EWR65P7CIOW8OIK7IVEU...
2    2E7U4DHD7I9T248VS9CJCD1E7FVOR546T8ESEM11WOL2XB...
3    GRUNNIVZ149IBV74VHRFGQDQVDBXX0JSQSD7MN83P0MQYV...
4    13TIB7WF6UO5C5SE8PBNWZUBOQXOQIKJODSO45JMXL71WX...
..                                                 ...
295  BN5ZNRYIB61JNR0G968HIZ8EDY1SL766FEE3MGRMKUTZWF...
296  NZSSMPUHHLOMNOXWDUI0VTMYLYOLAP31QZ2TWNZKNRF3QD...
297  8L1JB1YLVGZ1NZ998JSS35J5SLIIOSYQV6FG9O0W9J1HU4...
298  K4N27CBEHIPLIIHU8IOQDILGEWNV2TBBVY3RYS0L6YOCZN...
299  QUHE9OMJRQBTJCKMKZ5KWQ5VVXZPMSRK846I0WLSE6PH0Y...

                                                 XPROD       NCM      EXTIPI  \
0    2PWM9FPKQJSRAEQ5CAWRR80AHQNXZ4V42QCHB49FW5PPKL...   1631513       73533
1    F0SVMNGDJWDAU70JYCIPP4XKF78PFEIRJK9XSDWLQVNVSP...   5610825     8913078
2    M9BMD25ARIVC3SD3A6RHQ2EQHXZ3SCIA83CRWBO7S4N277...  23491727  2878197610
3    V2W0UJVQSV74JFXOLCZ524O3B455M0X3VFWDA9P41VLN5M...  16160522        9680
4    NBGJI84IJII5CMLAYI448BX8VNVKFZYJN8HBM61LTFYBC4...  98485446       87364
..                                                 ...       ...         ...
295  7YOHCZ0JE1U9RO9JGQPEIREA5LYN1QXFV5OLPAXEUFKX37...  64212811    44361434
296  U7379IB1ND6CWVV0A6SEY3AFFNZTYHL5XM3IME64QLJQZX...  46179457        7462
297  LOBMZ1P31N498Q570XN4QAEFRCSOKUMY1VWUDPBHEI5QWR...  70503648  8655988872
298  AECS9MHDA4G5DUZPV40JCK6LFH505FJM44C4S0ZW7NOZSJ...  61699961      161251
299  T5X2PRY6ZBL9WK9MVF1DW3JGCUIWLHZBMNQYCFH2OHQBAL...  74036591     8231371

           CFOP     UCOM  ...    NITEMPED  \
0          8421  49FSOH0  ...       56420
1      76094655  KJGBSQS  ...    40829980
2     240006203  Q2YBJYS  ...          41
3             3  NGFR4H4  ...   444188241
4       4319569  4MJN09G  ...   328148158
..          ...      ...  ...         ...
295  6132216316  ZNXD6MT  ...     6212006
296      890303  UWYUH7Q  ...  9007526164
297     8869750  W7LGSDP  ...           7
298      319299  662SSVQ  ...        3205
299           2  HK4TUSN  ...         196

                                               NFCI  \
0    L02FWK17Q4BU4RW36FSNE6NNPXUSX2B6V3UPFSGSJTRDEB
1    1V6WL91O7RZRXCOI6PYL9D8KP1VPO243RVOLATFP3O3T69
2    3CBKS43412H9I6MASA2UWZY4UXTLYCI2BJX271EXYZW08B
3    F75YZ3BXQKUBGW5NHA95MTNQCZMVBYNB3U59BNFQ8AGXMD
4    VJYJIG4YRZ948MCPFA5NXR98NQEI2IXUTB9BNO3YWJFKK9
..                                              ...
295  QXW5PWHM7ZZ0SB8ALHDWNBI0EAHXV3IL4VEACBF4Y6WSJJ
296  BZVVX62SQOX0H55J4OMLA3W8S7H5DNRICMV7GU3ZUQNWTQ
297  OP2WYC67JBEP4IEADRZJV8ZWJLVLJIZFDY49INKICV644Z
298  6RXKPRA0FO3E16G4CDO9N83WMRXJZXVY4WL2MU88S61R2H
299  8I129AKYQZJBTMTZ9C1APFCK2DTFY26CS89NSXR8VLQXCF

                                             INFADPROD     NRECOPI  \
0    N2514HFXADIARSBB5GN230MJA3YXBFPPODYVMFHPWX5WO3...        4333
1    I7IV2PN7NY12L161AX07S6EW516ALHU27SJIKCTDJHW0YR...           7
2    C1WKMYUNKPELOWVJZKCIA54PF4NMY9VQSLJAL2O6STMNIQ...          76
3    IMJTWVPF3CRVH7YLWYJ77YITFHEBFGHQ513KEUDG4AUHNQ...      351357
4    I704V47BIX49GJZP631UBJ7A5VPC7TTUOZQTR2ZR9UPNL8...  4131879135
..                                                 ...         ...
295  ZM7TYJPVQH0XQB4EA62H9QR3DCOVU5RQ2FO392P0DM8JCL...      320910
296  BSWHH86080QLXO511LXWCJ7CMNRQRAYVWHCAS2RSW3ORHX...        3444
297  NS5807697KKPDJUFNUXCTKM05ZWNCWZ3GLJ96SUHO1ZUV1...        5694
298  VMNI33JKF0E9LR4B40ZG2441NOBOLV95Q9X0OGPLJI9TEU...         580
299  ZD1ZK52PP8213YVUFFNRKRB7NUXFXQU0XH9NBLJ8AFPNCG...        1317

           CEST  INDESCALA             CNPJFAB         CBENEF       CEAN  \
0             3          N  BCEVITBL688MC13W38  8B55MHZZBFLSC   86520864
1        614498          0  GBR4YZ1IZLL0NOFUZF  QTZNQATMTKX48  951108201
2      25680632          G  EXNWU43ELI3ND2IDJN  MK6VQ2HTJ6Y3W          7
3            47          J  7QPJ6ZO811469F3NH3  W1Q8B7FHHLTF3          8
4           739          L  5IY95NUWUGG30MUML5  7X8LITGK9RD8W    6130135
..          ...        ...                 ...            ...        ...
295    65934613          P  XADOVDB8SMUJBTSRWB  G8EGHP6SUJ3M0     848449
296  1157581194          R  L5NW2DJIJH01RQ9Z2Z  0UOCBJH9U2OA2    8454542
297  7394127348          4  UWDR9ER3RUZY8FD1VZ  560NEXHQ2D478    4383941
298       92930          X  QHYN1PVTJKQFAU2MQM  GFC50TDI3ARL7   80902688
299  2863399675          2  OSLT56PNEPQGLW1B8L  C3U1WJSR2WLNT      24533

       CEANTRIB
0      48973706
1         57311
2    7219281283
3         84904
4    9986897734
..          ...
295      961528
296      181989
297     2628566
298      457164
299      970792

[300 rows x 32 columns]

### Dummy Data for IS_VW_ESTAB_ATV_ECO

In [20]:
# GENERATE RANDOM DATE VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["DT_INICIO_EXERCICIO"] = generate_date_column(data_length)

# GENERATE RANDOM NUMBER VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length, 8)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_VERSAO_TABELA_ATIVIDADES"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["SQ_NIVEL_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length, 9)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["IN_PRINCIPAL"] = generate_number_column(data_length, 1)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NU_ORDEM"] = generate_number_in_range_column(data_length, max_range=9)

# GENERATE RANDOM VARCHAR VARIABLE TO DATA_IS_VW_ESTAB_ATV_ECO

df["DATA_IS_VW_ESTAB_ATV_ECO"]["CO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 7)
df["DATA_IS_VW_ESTAB_ATV_ECO"]["NO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length, 200)

# PRINT DATA_IS_VW_ESTAB_ATV_ECO

print(df["DATA_IS_VW_ESTAB_ATV_ECO"])

      id DT_CONCESSAO_INSCRICAO DT_INICIO_EXERCICIO  SQ_ESTABELECIMENTO  \
0      0             2003-08-19          1991-07-15           170417665
1      1             2017-09-02          1995-01-01            89328971
2      2             2009-08-28          2012-11-26           424944903
3      3             2011-03-18          1994-08-10           596272496
4      4             1998-03-26          2009-06-30           376477923
..   ...                    ...                 ...                 ...
295  295             2003-03-23          1997-06-21           616565605
296  296             2017-01-10          2014-01-20           951489280
297  297             2013-08-15          2010-02-03           396596547
298  298             2006-07-29          2008-06-02           872698291
299  299             1990-10-03          1994-11-03           556518306

     SQ_INSCRICAO_ESTABELECIMENTO  NU_INSCRICAO_ESTADUAL  \
0                       898328919               94465471
1                       237807106               46011347
2                       703159456               54561270
3                       983056550               91322148
4                       198488500               63841737
..                            ...                    ...
295                     232501957               54942641
296                     546008534               29151386
297                     140877506               35822368
298                     431689074               22351723
299                     766419427               68291199

     SQ_ATIVIDADE_ECONOMICA  SQ_VERSAO_TABELA_ATIVIDADES  \
0                  24121254                    531166726
1                 917295739                    923358316
2                 909243403                    414781379
3                 938872690                    212997985
4                 618000262                    393920124
..                      ...                          ...
295               847579505                    150456611
296               529979252                    240895301
297               193340989                    481817827
298               951087134                    543170767
299               957456428                    784493668

     SQ_NIVEL_ATIVIDADE_ECONOMICA  IN_PRINCIPAL  NU_ORDEM  \
0                       529325129             9         2
1                       620718464             2         5
2                       698949958             3         9
3                       285131788             3         3
4                       464541246             8         7
..                            ...           ...       ...
295                     395262397             0         8
296                     656856226             0         5
297                     505347789             6         1
298                      68524177             4         1
299                       5105860             4         3

    CO_ATIVIDADE_ECONOMICA                             NO_ATIVIDADE_ECONOMICA
0                  FFUGR1V  A1GTIUK0EY012H3JDEQDPEN9OFGO4DEN77I3JO9VKQOPNQ...
1                  4XA7YKY  ORAGHPQV69HBEGYQET6QT7WRMW2G2WKHPXBHIAS75ISYRX...
2                  W4BMPFR  GK37CR8L8UUQWRQWNV9C5TWDEO6NXFVHNVVJED1RR2AUF6...
3                  Y544AWE  OZV82SZYT6NYYOBRAFMD0N2HOSY45UI366W53WPKZDWCG8...
4                  4HHMI18  Y0WPSUQ0C8SF7KP5SC5Q4IAY02HPD6BI5O14GTY9941EM0...
..                     ...                                                ...
295                9P0UK21  ZF7URH34RBJYEU99WGD3HL87CJF549P9U09KK2GQTBXS6D...
296                DPJ1XUR  FBV0VL3CNEHYQWKO1A4HSI3NUDUAX7AYGD45IMDBZJG65A...
297                PWJ563W  K1859MXGUG3684LB8BC5DW2SK0CCC3NJIGZHBZ2W52MGH8...
298                IKUILXS  POHUCYG6T03DFOXP0XPRLVN6DRKN3A27Y67X5JMXBE5BXS...
299                97QW9ID  O7PVFYCIU4SNL6IUP2BY365U7DSK6V9BWDIIM8VT76IH9A...

[300 rows x 13 columns]

### Export as CSV

In [36]:
df["DATA_NOTA_FISCAL"].to_csv ('NOTA_FISCAL.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
df["DATA_IS_VW_ESTAB_ATV_ECO"].to_csv ('DATA_IS_VW_ESTAB_ATV_ECO.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
df["DATA_PRODUTO_SERVICO"].to_csv ('DATA_PRODUTO_SERVICO.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
df["DATA_PRODUTO"].to_csv ('DATA_PRODUTO.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
df["DATA_IS_VW_ESTAB_EMPRESA"].to_csv ('NOTA_FISCAL.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
df["DATA_NOTA_FISCAL"].to_csv ('NOTA_FISCAL.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path