## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Create tables

In [16]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [28]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
data_length = 300
for x in data_tables:
    data = {"id": [x for x in range(data_length)]}
    df["DATA_{0}".format(x)] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO_SERVICO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Dummy data for SITUACAO_NF

In [41]:
co_chave_acesso = []
for _ in range(data_length):
    co_chave_acesso.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=61)))
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = co_chave_acesso
print(df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"].head())

0    952ELEPOQ0QDRQYS0IG044PKQFYLI6TKT5O3OZRINBYCF0...
1    YKPJVPO6R1AVZ1TELUJ3PDBH7ZPIDQHK1ZFZ7S7JSDJWZD...
2    N51OVEDOAUU6M7PXXPB7AZXZZ1PH5CJX7RMM3WIUPO0826...
3    D0ZNKR9IFD7P983EH91O1NIFJH3RGG1K47H1YAZT1EV4ZC...
4    78Q4KIAPK7EVY5K0LA3LXVRDE97X30UGWKC4Z0ST7SY7R1...
Name: CO_CHAVE_ACESSO, dtype: object

In [30]:
dt_status = []
for _ in range(data_length):
    date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(1990,2020)), '%j %Y')
    dt_status.append(date)
df["DATA_SITUACAO_NF"]["DT_STATUS"] = dt_status
print(df["DATA_SITUACAO_NF"]["DT_STATUS"].head())

0   2008-03-08
1   1992-09-29
2   2016-04-12
3   2009-06-28
4   2003-01-07
Name: DT_STATUS, dtype: datetime64[ns]

In [32]:
situacao_nf_co_situacao = []
for _ in range(data_length):
    situacao_nf_co_situacao.append(''.join(random.choices(string.digits, k=random.randint(1,10))))
df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"] = situacao_nf_co_situacao
print(df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"].head())

0     08508661
1         1347
2       051564
3    299257017
4       942344
Name: SITUACAO_NF_CO_SITUACAO, dtype: object

In [40]:
tp_origem_atualizacao = []
for _ in range(data_length):
    tp_origem_atualizacao.append(random.randint(1,3))
df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"] = tp_origem_atualizacao
print(df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"].head())

0    2
1    2
2    1
3    2
4    2
Name: TP_ORIGEM_ATUALIZACAO, dtype: int64

In [42]:
co_chave_acesso_cancelamento = []
for _ in range(data_length):
    co_chave_acesso_cancelamento.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=61)))
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"] = co_chave_acesso_cancelamento
print(df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"].head())

0    MHFAOHF4TT3V59VEAFAXB2VGI1GWTVXQZFMP4F4O0IVDDA...
1    5NWW7AUO6LKV7JUPQDFNZ68WN3WG994XFQROO92HX8EXJ0...
2    GBC56BXQ8CZAZBKBN0TPJEE5R1YMHJR5VVF429271FQML1...
3    0LJSJXT9GO1U9VE5CRZYOFXGJ0W2241TYXFCRODJ01WBKH...
4    M3HQ2Q1B5RGONR27AY0WPK39DP8ODPS7QUBADMLAX9S6HX...
Name: CO_CHAVE_ACESSO_CANCELAMENTO, dtype: object

In [43]:
print(df["DATA_SITUACAO_NF"].head())

   id                                    CO_CHAVE_ACESSO  DT_STATUS  \
0   0  952ELEPOQ0QDRQYS0IG044PKQFYLI6TKT5O3OZRINBYCF0... 2008-03-08
1   1  YKPJVPO6R1AVZ1TELUJ3PDBH7ZPIDQHK1ZFZ7S7JSDJWZD... 1992-09-29
2   2  N51OVEDOAUU6M7PXXPB7AZXZZ1PH5CJX7RMM3WIUPO0826... 2016-04-12
3   3  D0ZNKR9IFD7P983EH91O1NIFJH3RGG1K47H1YAZT1EV4ZC... 2009-06-28
4   4  78Q4KIAPK7EVY5K0LA3LXVRDE97X30UGWKC4Z0ST7SY7R1... 2003-01-07

  SITUACAO_NF_CO_SITUACAO  TP_ORIGEM_ATUALIZACAO  \
0                08508661                      2
1                    1347                      2
2                  051564                      1
3               299257017                      2
4                  942344                      2

                        CO_CHAVE_ACESSO_CANCELAMENTO
0  MHFAOHF4TT3V59VEAFAXB2VGI1GWTVXQZFMP4F4O0IVDDA...
1  5NWW7AUO6LKV7JUPQDFNZ68WN3WG994XFQROO92HX8EXJ0...
2  GBC56BXQ8CZAZBKBN0TPJEE5R1YMHJR5VVF429271FQML1...
3  0LJSJXT9GO1U9VE5CRZYOFXGJ0W2241TYXFCRODJ01WBKH...
4  M3HQ2Q1B5RGONR27AY0WPK39DP8ODPS7QUBADMLAX9S6HX...

### Dummy data for IS_VW_ESTAB_EMPRESA