## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Create tables

In [16]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [28]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
data_length = 300
for x in data_tables:
    data = {"id": [x for x in range(data_length)]}
    df["DATA_{0}".format(x)] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO_SERVICO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Dummy data for situacao_nf

In [29]:
co_chave = []
for _ in range(data_length):
    co_chave.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=61)))
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = co_chave
print(df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"].head())

0    XAKKDEY6B1KF8YYRKQNBMWA1JYVP4PA43WEWYT0NP4F7R9...
1    6XT1N9X9RBJF7U4XMWQA5CM8C09I0EQPO0L1IKACW8G0NX...
2    SI6N1NUOZ87MSY4Y72S8W9O6PLNBDSR58REX9UYW4KQD2I...
3    P9F7V9TFAV0UTQCYM3WW4RL0WDO55OYOZG3HU8B5OXA7KZ...
4    RFCEDD7KGTZMEN4JUV9VSBOFSQTOI7K0MH0L47DJRFGMMB...
Name: CO_CHAVE_ACESSO, dtype: object

In [30]:
dt_status = []
for _ in range(data_length):
    date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(1990,2020)), '%j %Y')
    dt_status.append(date)
df["DATA_SITUACAO_NF"]["DT_STATUS"] = dt_status
print(df["DATA_SITUACAO_NF"]["DT_STATUS"].head())

0   2008-03-08
1   1992-09-29
2   2016-04-12
3   2009-06-28
4   2003-01-07
Name: DT_STATUS, dtype: datetime64[ns]