## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Create tables

In [16]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [28]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
data_length = 300
for x in data_tables:
    data = {"id": [x for x in range(data_length)]}
    df["DATA_{0}".format(x)] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO_SERVICO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Dummy data for SITUACAO_NF

In [41]:
co_chave_acesso = []
for _ in range(data_length):
    co_chave_acesso.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=61)))
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = co_chave_acesso
print(df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"].head())

0    952ELEPOQ0QDRQYS0IG044PKQFYLI6TKT5O3OZRINBYCF0...
1    YKPJVPO6R1AVZ1TELUJ3PDBH7ZPIDQHK1ZFZ7S7JSDJWZD...
2    N51OVEDOAUU6M7PXXPB7AZXZZ1PH5CJX7RMM3WIUPO0826...
3    D0ZNKR9IFD7P983EH91O1NIFJH3RGG1K47H1YAZT1EV4ZC...
4    78Q4KIAPK7EVY5K0LA3LXVRDE97X30UGWKC4Z0ST7SY7R1...
Name: CO_CHAVE_ACESSO, dtype: object

In [30]:
dt_status = []
for _ in range(data_length):
    date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(1990,2020)), '%j %Y')
    dt_status.append(date)
df["DATA_SITUACAO_NF"]["DT_STATUS"] = dt_status
print(df["DATA_SITUACAO_NF"]["DT_STATUS"].head())

0   2008-03-08
1   1992-09-29
2   2016-04-12
3   2009-06-28
4   2003-01-07
Name: DT_STATUS, dtype: datetime64[ns]

In [32]:
situacao_nf_co_situacao = []
for _ in range(data_length):
    situacao_nf_co_situacao.append(''.join(random.choices(string.digits, k=random.randint(1,10))))
df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"] = situacao_nf_co_situacao
print(df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"].head())

0     08508661
1         1347
2       051564
3    299257017
4       942344
Name: SITUACAO_NF_CO_SITUACAO, dtype: object

In [40]:
tp_origem_atualizacao = []
for _ in range(data_length):
    tp_origem_atualizacao.append(random.randint(1,3))
df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"] = tp_origem_atualizacao
print(df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"].head())

0    2
1    2
2    1
3    2
4    2
Name: TP_ORIGEM_ATUALIZACAO, dtype: int64

In [42]:
co_chave_acesso_cancelamento = []
for _ in range(data_length):
    co_chave_acesso_cancelamento.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=61)))
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"] = co_chave_acesso_cancelamento
print(df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"].head())

0    MHFAOHF4TT3V59VEAFAXB2VGI1GWTVXQZFMP4F4O0IVDDA...
1    5NWW7AUO6LKV7JUPQDFNZ68WN3WG994XFQROO92HX8EXJ0...
2    GBC56BXQ8CZAZBKBN0TPJEE5R1YMHJR5VVF429271FQML1...
3    0LJSJXT9GO1U9VE5CRZYOFXGJ0W2241TYXFCRODJ01WBKH...
4    M3HQ2Q1B5RGONR27AY0WPK39DP8ODPS7QUBADMLAX9S6HX...
Name: CO_CHAVE_ACESSO_CANCELAMENTO, dtype: object

In [43]:
print(df["DATA_SITUACAO_NF"].head())

   id                                    CO_CHAVE_ACESSO  DT_STATUS  \
0   0  952ELEPOQ0QDRQYS0IG044PKQFYLI6TKT5O3OZRINBYCF0... 2008-03-08
1   1  YKPJVPO6R1AVZ1TELUJ3PDBH7ZPIDQHK1ZFZ7S7JSDJWZD... 1992-09-29
2   2  N51OVEDOAUU6M7PXXPB7AZXZZ1PH5CJX7RMM3WIUPO0826... 2016-04-12
3   3  D0ZNKR9IFD7P983EH91O1NIFJH3RGG1K47H1YAZT1EV4ZC... 2009-06-28
4   4  78Q4KIAPK7EVY5K0LA3LXVRDE97X30UGWKC4Z0ST7SY7R1... 2003-01-07

  SITUACAO_NF_CO_SITUACAO  TP_ORIGEM_ATUALIZACAO  \
0                08508661                      2
1                    1347                      2
2                  051564                      1
3               299257017                      2
4                  942344                      2

                        CO_CHAVE_ACESSO_CANCELAMENTO
0  MHFAOHF4TT3V59VEAFAXB2VGI1GWTVXQZFMP4F4O0IVDDA...
1  5NWW7AUO6LKV7JUPQDFNZ68WN3WG994XFQROO92HX8EXJ0...
2  GBC56BXQ8CZAZBKBN0TPJEE5R1YMHJR5VVF429271FQML1...
3  0LJSJXT9GO1U9VE5CRZYOFXGJ0W2241TYXFCRODJ01WBKH...
4  M3HQ2Q1B5RGONR27AY0WPK39DP8ODPS7QUBADMLAX9S6HX...

### Dummy data for IS_VW_ESTAB_EMPRESA

In [44]:
sq_estabelecimento = []
for _ in range(data_length):
    sq_estabelecimento.append(''.join(random.choices(string.digits, k=9)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ESTABELECIMENTO"] = sq_estabelecimento
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ESTABELECIMENTO"].head())

0    130430855
1    762041833
2    721033354
3    012953063
4    745868934
Name: SQ_ESTABELECIMENTO, dtype: object

In [45]:
sq_inscricao_estabelecimento = []
for _ in range(data_length):
    sq_inscricao_estabelecimento.append(''.join(random.choices(string.digits, k=9)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_INSCRICAO_ESTABELECIMENTO"] = sq_inscricao_estabelecimento
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_INSCRICAO_ESTABELECIMENTO"].head())

0    685695549
1    003723591
2    958888098
3    198782325
4    418319370
Name: SQ_INSCRICAO_ESTABELECIMENTO, dtype: object

In [46]:
nu_inscricao_estadual = []
for _ in range(data_length):
    nu_inscricao_estadual.append(''.join(random.choices(string.digits, k=8)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSCRICAO_ESTADUAL"] = nu_inscricao_estadual
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSCRICAO_ESTADUAL"].head())

0    33458145
1    89948034
2    57868263
3    87499908
4    24184394
Name: NU_INSCRICAO_ESTADUAL, dtype: object

In [64]:
dt_concessao_inscricao = []
for _ in range(data_length):
    date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(1990,2020)), '%j %Y')
    dt_concessao_inscricao.append(date)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_CONCESSAO_INSCRICAO"] = dt_concessao_inscricao
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_CONCESSAO_INSCRICAO"].head())

0   2003-01-12
1   1992-03-25
2   2020-06-12
3   1990-04-20
4   1991-10-03
Name: DT_CONCESSAO_INSCRICAO, dtype: datetime64[ns]

In [49]:
sq_atividade_economica = []
for _ in range(data_length):
    sq_atividade_economica.append(''.join(random.choices(string.digits, k=9)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ATIVIDADE_ECONOMICA"] = sq_atividade_economica
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ATIVIDADE_ECONOMICA"].head())

0    488071805
1    109600399
2    275365307
3    321839936
4    934812838
Name: SQ_ATIVIDADE_ECONOMICA, dtype: object

In [53]:
co_atividade_economica = []
for _ in range(data_length):
    co_atividade_economica.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=7)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_ATIVIDADE_ECONOMICA"] = co_atividade_economica
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_ATIVIDADE_ECONOMICA"].head())

0    UI83IUK
1    J98XH2W
2    5JTPZ3E
3    9GXEKSJ
4    EEYQ1E4
Name: CO_ATIVIDADE_ECONOMICA, dtype: object

In [54]:
no_atividade_economica = []
for _ in range(data_length):
    no_atividade_economica.append(''.join(random.choices(string.ascii_uppercase + string.digits, k=200)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_ATIVIDADE_ECONOMICA"] = no_atividade_economica
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_ATIVIDADE_ECONOMICA"].head())

0    2SNJEKFUWD3YQL4DIBJ4VBL8M7P87L5J3GP2XI2KINYO51...
1    F1CN9XNH4JNFJ67RNIZGT9REUPOSSR6AFUOCFR4EBD8BVU...
2    Q789KSN98T6JY0NLK6IRNMGN1ZIDQVX7SSIWX6L3V6KNVO...
3    T5FND8FEARZ7U7SHIMIRM395KSZSDZ04WZ2EHMUK02KPA0...
4    1DWHIXDAXW40S88ELMVSJAOS972WRKU9E5UVP4ZPXFJYI5...
Name: NO_ATIVIDADE_ECONOMICA, dtype: object

In [55]:
sq_versao_tabela_atividades = []
for _ in range(data_length):
    sq_versao_tabela_atividades.append(''.join(random.choices(string.digits, k=9)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_VERSAO_TABELA_ATIVIDADES"] = sq_versao_tabela_atividades
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_VERSAO_TABELA_ATIVIDADES"].head())

0    606633739
1    113825008
2    465879466
3    734853121
4    765624241
Name: SQ_VERSAO_TABELA_ATIVIDADES, dtype: object

In [56]:
sq_nivel_atividade_economica = []
for _ in range(data_length):
    sq_nivel_atividade_economica.append(''.join(random.choices(string.digits, k=9)))
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_NIVEL_ATIVIDADE_ECONOMICA"] = sq_nivel_atividade_economica
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_NIVEL_ATIVIDADE_ECONOMICA"].head())

0    307608367
1    796963920
2    402950864
3    904980318
4    614577931
Name: SQ_NIVEL_ATIVIDADE_ECONOMICA, dtype: object

In [61]:
in_principal = []
for _ in range(data_length):
    in_principal.append(random.randint(1,9))
df["DATA_IS_VW_ESTAB_EMPRESA"]["IN_PRINCIPAL"] = in_principal
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["IN_PRINCIPAL"].head())

0    9
1    5
2    2
3    1
4    8
Name: IN_PRINCIPAL, dtype: int64

In [65]:
dt_inicio_exercicio = []
for _ in range(data_length):
    date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(1990,2020)), '%j %Y')
    dt_inicio_exercicio.append(date)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_EXERCICIO"] = dt_inicio_exercicio
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_EXERCICIO"].head())

0   2014-12-03
1   2016-11-25
2   1998-02-21
3   2001-03-22
4   2020-04-03
Name: DT_INICIO_EXERCICIO, dtype: datetime64[ns]

In [68]:
nu_ordem = []
for _ in range(data_length):
    nu_ordem.append(''.join(random.choices(string.digits, k=random.randint(1,10))))
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_ORDEM"] = nu_ordem
print(df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_ORDEM"].head())

0          631
1       538752
2        69226
3    848392758
4    419939002
Name: NU_ORDEM, dtype: object

In [70]:
print(df["DATA_IS_VW_ESTAB_EMPRESA"].head())

   id SQ_ESTABELECIMENTO SQ_INSCRICAO_ESTABELECIMENTO NU_INSCRICAO_ESTADUAL  \
0   0          130430855                    685695549              33458145
1   1          762041833                    003723591              89948034
2   2          721033354                    958888098              57868263
3   3          012953063                    198782325              87499908
4   4          745868934                    418319370              24184394

  DT_CONCESSAO_INSCRICAO SQ_ATIVIDADE_ECONOMICA CO_ATIVIDADE_ECONOMICA  \
0             2003-01-12              488071805                UI83IUK
1             1992-03-25              109600399                J98XH2W
2             2020-06-12              275365307                5JTPZ3E
3             1990-04-20              321839936                9GXEKSJ
4             1991-10-03              934812838                EEYQ1E4

                              NO_ATIVIDADE_ECONOMICA  \
0  2SNJEKFUWD3YQL4DIBJ4VBL8M7P87L5J3GP2XI2KINYO51...
1  F1CN9XNH4JNFJ67RNIZGT9REUPOSSR6AFUOCFR4EBD8BVU...
2  Q789KSN98T6JY0NLK6IRNMGN1ZIDQVX7SSIWX6L3V6KNVO...
3  T5FND8FEARZ7U7SHIMIRM395KSZSDZ04WZ2EHMUK02KPA0...
4  1DWHIXDAXW40S88ELMVSJAOS972WRKU9E5UVP4ZPXFJYI5...

  SQ_VERSAO_TABELA_ATIVIDADES SQ_NIVEL_ATIVIDADE_ECONOMICA  IN_PRINCIPAL  \
0                   606633739                    307608367             9
1                   113825008                    796963920             5
2                   465879466                    402950864             2
3                   734853121                    904980318             1
4                   765624241                    614577931             8

  DT_INICIO_EXERCICIO   NU_ORDEM
0          2014-12-03        631
1          2016-11-25     538752
2          1998-02-21      69226
3          2001-03-22  848392758
4          2020-04-03  419939002