## Dummy Data for POC Sefaz RJ
- Developers: Lucas Moutinho, Victor Ciurlini
- Code developed by team Ninjas Vert: Soluções em TIC

<br>
<img src="image/sefaz.jpg" width="400" height="200">

### Create tables

In [16]:
import pandas as pd
import random
import string
import datetime
import matplotlib.pyplot as plt

In [28]:
data_tables = ["NOTA_FISCAL", "PRODUTO_SERVICO", "SITUACAO_NF", "PRODUTO", "IS_VW_ESTAB_EMPRESA", "IS_VW_ESTAB_ATV_ECO"]
df = {}
data_length = 300
for x in data_tables:
    data = {"id": [x for x in range(data_length)]}
    df["DATA_{0}".format(x)] = pd.DataFrame(data)
print(df)

{'DATA_NOTA_FISCAL':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO_SERVICO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_SITUACAO_NF':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_PRODUTO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_EMPRESA':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns], 'DATA_IS_VW_ESTAB_ATV_ECO':       id
0      0
1      1
2      2
3      3
4      4
..   ...
295  295
296  296
297  297
298  298
299  299

[300 rows x 1 columns]}

### Auxiliary functions

In [128]:
# Returns a list of randomized varchars with the specified data_lenth. 
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_varchar_column(data_length, column_length = 0, max_random_length = 10):
    varchar_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = column_length)))
    else: # random size
        for _ in range(data_length):
            varchar_list.append(''.join(random.choices(string.ascii_uppercase + string.digits, k = random.randint(1,max_random_length))))
    return varchar_list

# Returns a list of randomized INTEGER numbers with the specified data_lenth.
# If column_length is 0 or negative a random size list is returned, with
# a max length determined with the variable max_random_length
def generate_number_column(data_length, column_length = 0, max_random_length = 10):
    number_list = []
    if column_length > 0: # fixed size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = column_length))))
    else: # random size
        for _ in range(data_length):
            number_list.append(int(''.join(random.choices(string.digits, k = random.randint(1,max_random_length)))))
    return number_list

# Returns a list of randomized FLOAT numbers with the specified data_lenth.
# The column length and the precision must be specified
def generate_float_number_column(data_length, column_length, precision):
    float_number_list = []
    for _ in range(data_length):
        number = ''.join(random.choices(string.digits, k = column_length - precision)) + '.' + ''.join(random.choices(string.digits, k = precision))
        float_number_list.append(float(number))
    return float_number_list

# Returns a list of single randomized numbers within a certain range with the specified data_lenth.
# The min value of the range is passed in min_range and the max at max_range
def generate_number_in_range_column(data_length, min_range = 1, max_range = 9):
    number_in_range_list = []
    for _ in range(data_length):
        number_in_range_list.append(random.randint(min_range,max_range))
    return number_in_range_list

# Returns a list of randomized dates within a certain year range with the specified data_lenth.
# The min value of the year range is passed in min_range and the max at max_range
def generate_date_column(data_length, min_range = 1990, max_range = 2020):
    date_list = []
    for _ in range(data_length):
        date = datetime.datetime.strptime('{} {}'.format(random.randint(1, 366), random.randint(min_range,max_range)), '%j %Y')
        date_list.append(date)
    return date_list

### Dummy data for SITUACAO_NF

In [136]:
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO"] = generate_varchar_column(data_length,61)
df["DATA_SITUACAO_NF"]["DT_STATUS"] = generate_date_column(data_length)
df["DATA_SITUACAO_NF"]["SITUACAO_NF_CO_SITUACAO"] = generate_varchar_column(data_length)
df["DATA_SITUACAO_NF"]["TP_ORIGEM_ATUALIZACAO"] = generate_number_in_range_column(data_length,max_range=3)
df["DATA_SITUACAO_NF"]["CO_CHAVE_ACESSO_CANCELAMENTO"] = generate_varchar_column(data_length,61)
print(df["DATA_SITUACAO_NF"])

      id                                    CO_CHAVE_ACESSO  DT_STATUS  \
0      0  SPIQOHSIRB8K2SUMA60QGCR2GYBO46X4ODS4ODLVPS4X2T... 2015-08-09
1      1  CGISS3V2KHFN69HSR6HN1PS7R2UQT8TJ4U8M9ZPUC40CQP... 2015-11-18
2      2  58I09MRIISHLX6OZCZT8J7EJIKUS77GFH8XQZSUDSB23GY... 1991-01-28
3      3  V3V4X5K1MZLC71UAJXNQHVY5UXW2VW7UXYE31JDA3ZN6TJ... 2014-09-17
4      4  EKOO3BHPEXFM9BQ6Q9P8K1BYMZW3DK8UMX6Z76MNQNH4GZ... 2005-06-24
..   ...                                                ...        ...
295  295  SDT61GLFR0X13W1CBX5GV5KXJOH96ZIYS0890TEFWJSPEU... 1994-06-29
296  296  BK5WAWSL9LAN6N4GW1K2F126Q9YAK9LFWW4SFHQOURBTBS... 2002-09-26
297  297  0B019UNOLEG56JCS7U0J3DT6F00EFW49AME4IINQGHQ94G... 2001-04-24
298  298  GBIW9AQGVI5L87MMGFGQFD4G3J3DIW39HHEIZ3TB86J1LW... 2007-11-17
299  299  4MLGDQ4QJXHXJ2FG3XMHO67M2PZIJTLLW13ZTB3PDU6E5M... 2013-09-21

    SITUACAO_NF_CO_SITUACAO  TP_ORIGEM_ATUALIZACAO  \
0                 SB286QF70                      3
1                    MD7O9W                      3
2                  OK5US9LI                      3
3                   K50X7YM                      3
4                   0PJ2A5I                      1
..                      ...                    ...
295                       2                      3
296                R6Y9GJ0R                      3
297                       W                      1
298                    LITJ                      1
299                  9RPNA2                      2

                          CO_CHAVE_ACESSO_CANCELAMENTO
0    LIF81FVQ4858IIIMH977T80EMEEGSFAJR0ZJPM6XV3MMYZ...
1    DI0N5ML3S4ZA8QN0KC2YG1K0RJVA3CK2SEBNFNQFWWJWVT...
2    GITZJ60EKWNQL4XJB4VB35KZ32YJLY0CQK2XEWZKW61DU3...
3    73G6EBWAGHSFEK4Z0WGFN72FP9562SONUAZ6O5FM8X085W...
4    96WMUV6F6ZRCCIRI967A4LMHB6P870SMFIWNYJN4EH4O7J...
..                                                 ...
295  GH214O7473N270PIUNV98DMQW1TXIQGLBHIFCP8TUXIDAO...
296  72PK1YV9Z0SIE3VO1Q00HTXEATQKIN38LRUUITP8RDFOEB...
297  SCG1CE0D51PRHYXLYYSGWU6PQVDERH7WTDD739BH4D11FE...
298  1J6IANUL7U79TN6XHOF4HFUV47BDIPFJ1OISRNZ109Q2CH...
299  965FZY19HBTIGEB0701WQFYUVSDE6YLCY8YEE9F6RBGR09...

[300 rows x 6 columns]

### Dummy data for IS_VW_ESTAB_EMPRESA

In [135]:
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ESTABELECIMENTO"] = generate_number_column(data_length,9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_INSCRICAO_ESTABELECIMENTO"] = generate_number_column(data_length,9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_INSCRICAO_ESTADUAL"] = generate_number_column(data_length,8)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_CONCESSAO_INSCRICAO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length,9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["CO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length,7)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NO_ATIVIDADE_ECONOMICA"] = generate_varchar_column(data_length,200)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_VERSAO_TABELA_ATIVIDADES"] = generate_number_column(data_length,9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["SQ_NIVEL_ATIVIDADE_ECONOMICA"] = generate_number_column(data_length,9)
df["DATA_IS_VW_ESTAB_EMPRESA"]["IN_PRINCIPAL"] = generate_number_column(data_length,1)
df["DATA_IS_VW_ESTAB_EMPRESA"]["DT_INICIO_EXERCICIO"] = generate_date_column(data_length)
df["DATA_IS_VW_ESTAB_EMPRESA"]["NU_ORDEM"] = generate_number_column(data_length)
print(df["DATA_IS_VW_ESTAB_EMPRESA"])

      id  SQ_ESTABELECIMENTO  SQ_INSCRICAO_ESTABELECIMENTO  \
0      0           122169673                     882540191
1      1           712677203                     338353279
2      2           348123626                     580148043
3      3           106523026                     645500959
4      4             2811524                     994260203
..   ...                 ...                           ...
295  295            74135873                      95653009
296  296           335684550                     414762664
297  297           560048080                     192572509
298  298           378134747                     380994685
299  299           965627774                     547672741

     NU_INSCRICAO_ESTADUAL DT_CONCESSAO_INSCRICAO  SQ_ATIVIDADE_ECONOMICA  \
0                   860508             1990-11-16                17944665
1                 88839634             2012-02-04               902833233
2                 45957376             1990-10-02               286133152
3                 84488405             2017-11-03               707139879
4                 16131466             2010-05-02               252476045
..                     ...                    ...                     ...
295               58765254             2018-05-25               202860422
296               60066900             2010-04-28               891797385
297               42830895             2014-04-23               147473931
298               44596806             2017-02-22               823050491
299               93789955             2010-11-04               718098253

    CO_ATIVIDADE_ECONOMICA                             NO_ATIVIDADE_ECONOMICA  \
0                  HUZ3C0B  E8HYOIQESIYH0MV9SUEGLJOM05FMMOST085N5ZZVY08755...
1                  WO2W7SR  2FSHB4SZAW38OJFVKLSOV60UK10TEDJ6MEA4FSZJMDZO69...
2                  T8MO56M  QV4LMWBLD6869QS7PRSH1AEZ5LPH7S86HXLUR0V3FHG8ZV...
3                  HQ5HZXQ  EM4RXT9EDWQ8MIW71X3NQLVK3G3TEVC234WCE7IWBKZLB8...
4                  BOO91UU  8L3USALAT3D7DN2OGQ93DCZEGO05SZ5QFK1VBAHJ9HCY3S...
..                     ...                                                ...
295                QXYP2GM  SVAC9J7WVT9QA6BWJLYYVG9JJ2CJUU4EKD0Y0E7EPL8WS3...
296                EJCXA2F  LRFYB61S4ME8STXDWZB8HLDMEYW0GSHDMXR7SE08IPM6LO...
297                D9O7CAI  4SEF8VNSVH0QV3IEJ4TKFBAK8TPFQRWZFUOO8JVI0IHTDM...
298                B4W0X8S  EKKR8YYDBM6IYYWZFSNTEFXIX162Z8WQZYQC3L53GNLUL4...
299                PCM7ZJU  J038H1F0NLETDMGUR2Q9GSA13Z85JFQWSEQX4WGNM5SLKO...

     SQ_VERSAO_TABELA_ATIVIDADES  SQ_NIVEL_ATIVIDADE_ECONOMICA  IN_PRINCIPAL  \
0                      142777225                     766337479             5
1                      551002281                     962543752             5
2                      909347480                     629798584             9
3                      381632367                     464971744             5
4                      780842914                     275209005             4
..                           ...                           ...           ...
295                    736459894                     402790729             4
296                    778787698                      15715929             4
297                    579589194                     852676263             2
298                     65632201                     598765879             8
299                    612053123                     503504521             0

    DT_INICIO_EXERCICIO   NU_ORDEM
0            1992-12-11       8008
1            2013-05-09      54656
2            2010-01-23      64895
3            1999-08-26      34416
4            2015-09-15          7
..                  ...        ...
295          1994-08-13  202480134
296          2009-12-08     720810
297          1990-07-28    9617320
298          2020-12-21    4755574
299          1990-10-26         77

[300 rows x 13 columns]

### Dummy data for PRODUTO

In [134]:
df["DATA_PRODUTO"]["SQ_PRODUTO"] = generate_number_column(data_length)
df["DATA_PRODUTO"]["NSUCCG"] = generate_number_column(data_length, 15)
df["DATA_PRODUTO"]["GTIN"] = generate_number_column(data_length, 14)
df["DATA_PRODUTO"]["TPGTIN"] = generate_number_column(data_length, 2)
df["DATA_PRODUTO"]["MARCA"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XPROD"] = generate_varchar_column(data_length, 500)
df["DATA_PRODUTO"]["TPPROD"] = generate_varchar_column(data_length, 15)
df["DATA_PRODUTO"]["PREFIXGS1"] = generate_number_column(data_length, 3)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["PREFIXEMP"] = generate_number_column(data_length, 11)
df["DATA_PRODUTO"]["CNPJ"] = generate_varchar_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["CPF"] = generate_varchar_column(data_length, 11) # Validar
df["DATA_PRODUTO"]["IMGURL"] = generate_varchar_column(data_length, 300)
df["DATA_PRODUTO"]["XORIGEM"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["XDESTINO"] = generate_varchar_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["NCM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SITGTIN"] = generate_number_column(data_length, 1) # Validar
df["DATA_PRODUTO"]["DSIT"] = generate_date_column(data_length)
df["DATA_PRODUTO"]["CSEG"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CFAM"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CCLAS"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["CBRICK"] = generate_number_column(data_length, 8) # Validar
df["DATA_PRODUTO"]["SUBGTIN"] = generate_number_column(data_length, 14) # Validar
df["DATA_PRODUTO"]["TPSUBGTIN"] = generate_number_column(data_length, 2) # Validar
df["DATA_PRODUTO"]["QITENSSUBGTIN"] = generate_number_column(data_length, 8)
df["DATA_PRODUTO"]["PESOB"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOB"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["PESOL"] = generate_float_number_column(data_length, 8, 3) # Validar
df["DATA_PRODUTO"]["UNIDPESOL"] = generate_varchar_column(data_length, 20) # Validar
df["DATA_PRODUTO"]["DT_FIM"] = generate_date_column(data_length)
print(df["DATA_PRODUTO"].head())

   id  SQ_PRODUTO           NSUCCG            GTIN  TPGTIN MARCA  \
0   0    27960926  312299218681046  16607839135499      99    SA
1   1         105  750310288992858  13069964001613      71    JL
2   2         442  241891131629418  25864570768592      34    YY
3   3   642840782  778283580020161  28668935085692      71    71
4   4        7893  313334829131839  71652889091810      12    E9

                                               XPROD           TPPROD  \
0  Q3KUB1Z0SEA7U4BJHAUBISKW3OWTE636HDIERFTHKNOSBV...  3DDZDJOKI8Q0BH3
1  U9LCR130KQ4VHXDBBCOJ4G4FLGHLVLH1OC9P5JUWIAKFMA...  AJ7OX9UZB96UEOG
2  G1LO9L2FN3W04JP3AKXIMI8ZQ0A1JC9OGN4B5ZTNC67BTX...  TQJRY2WA117LYOI
3  JLSVVO2ZZ2ULC7MO4WT75VWPBRYR6W65777WII4DB2MIJG...  B2Z1CMIV9ODM9DG
4  7R1D9T5V7XCHX2CP96DYLJN1PCI79H1UAU7DX6GB9Z6YU5...  P8ICFT3TXWQ4OJL

   PREFIXGS1    PREFIXEMP  ...     CCLAS    CBRICK         SUBGTIN TPSUBGTIN  \
0        284   6366319977  ...  26522794   2292270  77785021361149        95
1        117  92324327725  ...  66476160  75588293  96424308618557        53
2         10   1230926581  ...  63232756  76706439  64118354790357        94
3        453  83515168347  ...  42285394  18057199  73970063070335        55
4        278  30168843114  ...  66555576   8633985  88386420288740        80

  QITENSSUBGTIN      PESOB             UNIDPESOB      PESOL  \
0      49875887  72440.986  EK0EG2MKK4ELQOQR0GZR   3435.577
1      99008205    100.341  430FWCA3EZYNJUW3QRJA  22700.118
2      13790649  13788.065  XJR3RCQESR8IHT9HVAY9  64669.684
3      60897796  51051.079  8NPKZ3Z317CPT7Z24T69  16789.275
4      27753875  21733.616  SWO86K2ZJ3HIBPSM64LM  60116.086

              UNIDPESOL     DT_FIM
0  ZSMYYLWHW0Z9426DR3H1 1993-04-10
1  UNZXIWI05LMTRDK26Q42 2017-11-24
2  YNITB1MSRX50L1D2FGZG 1996-09-06
3  QOITOJ3CLJ5GHTFIGXPQ 1992-05-23
4  KA0I80TLEBOP8NNZR96N 1994-08-07

[5 rows x 30 columns]